<div>
    <div ng-show="answer.correct" class="alert alert-success">
        <i class="fa fa-smile-o"></i><span translate>Your answer is</span>  <strong translate="">correct</strong>!
    </div>
    <div ng-show="answer.correct === false" class="alert alert-danger">
        <i class="fa fa-frown-o"></i> <span translate>Your answer is </span> <strong translate="">incorrect</strong>. <span translate>Try again.</span>
    </div>
    <!-- <div ng-show="changed" class="alert">&nbsp;</div> -->

    <div class="submit">
        <!-- if no answer or incorrect -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 textright">
                <button class="btn btn-default pull-left" ng-click="nextStep(true)" translate>Skip</button>
                <!-- <button onClick="ga('send', 'event', 'activity', 'rewatch video');" class="btn btn-info" ng-click="play()" translate>Rever o vídeo</button> -->
                <button class="btn btn-success" ng-show="!answer.correct" ng-click="sendAnswer()" translate>Send</button>
                <button class="btn btn-success" ng-show="answer.correct" ng-click="nextStep()" translate>Continue</button>
            </div>
        </div>
    </div>
</div>
