<div class="slides-navigation" ng-if="currentUnit.activities.length > 1">
    <span class="previous" ng-click="previous_activity_from_image()"></span>
    <div class="slides-number" ng-init="slide_activity_update_position()">{{ current_position_slides }} de {{ currentUnit.activities.length }}</div>
    <span class="next" ng-click="next_activity_from_image()"></span>
</div>
