<div>
    <div ng-show="!changed && answer.updated" class="alert alert-success">
        <i class="fa fa-smile-o"></i><span translate> Your answer has been saved, but it will not be corrected as this is an open response exercise and serves to guide your studies.</span>
    </div>
    <div ng-show="changed || !answer.updated" class="alert">&nbsp;</div>

    <div class="submit">
        <!-- if no answer or incorrect (any answer here is correct) -->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <button class="btn btn-default" ng-click="nextStep(true)" translate>Skip</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 textright">
                <button class="btn btn-info" ng-click="play()" translate>Review the video</button>
                <button class="btn btn-success" ng-click="sendAnswer()" translate>Save</button>
                <button class="btn btn-success" ng-show="answer.correct" ng-click="nextStep()" translate>Continue</button>
            </div>
        </div>
    </div>
</div>
