// Courses' page
// --------------------------------------------------

//## Course box used on course widget on dashboard and course list page
//##
.course-box {
    color: #000;
    margin-bottom: 30px;
    @media screen and (min-width: $screen-lg-min) {
        height: 175px;
    }
    .course-link {
        color: #000;
        display: block;
    }
    .course-progress {
        .progress {
            border-radius: 3px;
            height: 6px;
            margin-bottom: -3px;
        }
        @media screen and (max-width: $screen-sm-min) {
            .progress{
                margin-bottom: 3px;
            }
            z-index: 1;
        }
    }
    .progress-label {
        color: $brand-primary;
        font-size: $font-size-small;
        font-weight: 700;
        line-height: 100%;
        margin-top: -20px;
        margin-bottom: 10px;

        @media screen and (min-width: $screen-sm-min) {
            line-height: 60%;
            margin-top: 0;
        }
    }
    .course-thumb-bg {
        @include aspect-ratio(16, 9);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin-top: -11px;
    }
    .course-description {
        .course-title {
            font-size: 4.2vmax;
            line-height: 100%;
            margin: 5px 0;
            max-height: 80px;
            overflow: hidden;
            @media screen and (min-width: $screen-xs-min) {
                font-size: 26px;
            }
        }
        .course-info {
            p {
                margin: 0 0 5px 0;
            }
            .unit-title {
                display: block;
                font-weight: $bold;
                max-height: 40px;
                overflow: hidden;
            }
        }
    }
    .continue, .start {
        @include button-hover(#fff,#fff,$brand-secondary,darken($brand-secondary,10%));
        border-radius: 0;
        display: block;
        font-weight: $bold;
        margin: 0;
        padding: 5px 20px;
        position: relative;
        text-align: center;
        top: -1em;
    }
    .course-update {
        @extend %icon-attention;
        font-size: $font-size-small;
        margin: 0;

        &:before {
            margin-right: 5px;
        }
    }
}
