.events-list {
  margin-top: 15px;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__sync-dropdown {
    display: inline-block;
    position: relative;
  }

  &__sync-button {
    border: 1px solid $brand-primary !important;
    border-radius: 5px;
    color: $brand-primary !important;
    padding: 6px 12px;
  }

  &__sync-menu {
    background-color: #F7F7F7;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: none;
    margin: 0;
    min-width: 100%;
    padding: 0;
    position: absolute;
    right: 0;
    top: 100%;
    white-space: nowrap;
    z-index: 1;

    img, i.fa {
      color: #333;
      font-size: 16px;
      height: 16px;
      margin-right: 3px;
      width: 16px;
    }

    li {
      border-radius: 5px;
      list-style: none;
      margin: 0;
      padding: 5px 10px;

      a {
        color: $brand-primary !important;
      }

      &:hover {
        background-color: #EEE;
      }
    }
  }

  &__sync-dropdown:hover &__sync-menu {
    display: block;
  }

  &__see-more {
    border-top: 1px solid #333;
    color: #333;
    font-size: 12px;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    text-transform: lowercase;
  }

  &__see-more-link {
    text-align: center;
  }

  &:not(.one-column) {

    .hide-large {

      @media screen and (min-width: $screen-md-min) {
        display: none;
      }
    }

    .show-large {

      @media screen and (max-width: #{$screen-md-min - 1px}) {
        display: none;
      }
    }
  }

  &.one-column {

    .show-large {
      display: none;
    }
  }

  &.two-columns &__items {

    @media screen and (min-width: $screen-md-min) {
      columns: 2;
      columns-gap: 30px;
    }
  }

  .btn-primary {
    color: white;
  }

  .event {
    break-inside: avoid;
    margin-bottom: 30px;

    header {
      align-items: center;
      display: flex;

      &:before {
        @extend %icon-calendar;
        font-size: 20px;
        margin-right: 10px;
      }
    }

    main, footer {
      border-left: 1px solid $gray;
      margin-left: 10px;
      padding-left: 20px;
    }

    footer {
      padding-left: 20px;
      padding-top: 5px;

      .btn-link {
        margin-right: 10px;

        &.danger {
          color: $brand-danger !important;
        }
      }
    }

    &__title {
      font-size: 1.15em;
    }

    &__description {

      p {
        margin: 0;
      }

      a {
        color: $blue;
        font-weight: bold;
        text-decoration: underline;
      }
    }

    &__time {
      display: inline-block;
    }

    &__tag {
      border-radius: 5px;
      color: white;
      display: inline-block;
      font-size: 12px;
      margin-left: 1ch;
      padding: 2px 6px;
      text-transform: lowercase;

      &.bg-gray {
        background-color: $gray;
      }

      &.bg-secondary {
        background-color: $brand-secondary;
      }

      &.bg-tertiary {
        background-color: $brand-tertiary;
      }
    }
  }
}
