.header-flex {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  nav {
    margin: -15px 0;

    ul {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
        max-width: 120px;
        margin: 0;
        padding: 0;
        text-align: center;

        a {
          color: white;
          display: flex;
          flex-direction: column;
          font-weight: bold;
          font-size: 11px;
          height: 100%;
          padding: 20px 10px;
          position: relative;

          &.active {
            background-color: rgba(black, 0.1);
          }

          i, span {
            height: 50%;
          }

          i {
            align-items: flex-end;
            display: flex;
            font-size: 18px;
            justify-content: center;
            padding-bottom: 5px;
          }
        }
      }
    }
  }
}
