// Shared forums components
// --------------------------------------------------

.forums {
    .info {
        color: $gray;
        font-size: 12px;
        margin-bottom: 5px;
        overflow: hidden;
        padding-bottom: 1px;
        font-family: "Open Sans";
        color: #333333;

        a {
            font-size: 12px;
            font-weight: $bold;
            @include link-hover($gray-dark,$gray-dark,transparent,$gray-dark);
        }
        .user-name {
            color: $gray-dark;
            font-size: 12px !important;
            font-weight: $bold;
        }
        .thread-name {
            @include link-hover($brand-primary, $brand-primary, transparent, $brand-primary);
        }
        .forum-name {
            color: #333333;
        }
    }
    .actions {
        margin: 0 0 5px 50px;
        width: 100%;
    }
    .tags {
        margin-left: 50px;
    }
    .description {
        height: 38px;
        color: rgb(39, 62, 2);
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 20px;
        clear: both;
        @media screen and (min-width: $screen-sm-min) {
            display: none;
        }
    }
    .edit-topic {
        margin: 0 0 20px;
        .btn{
            font-size: 12px;
            margin-right: 8px;
            padding: 4px 8px;
            &:before {
                font-size: 12px;
                margin-right: 5px;
            }
        }
        .btn-danger {
            @include button-hover(#fff, #fff, $brand-danger, $brand-danger);
        }
    }
    .tag-category-react {
        @extend %icon-like;
        color: $brand-primary;

        &:before {
            margin-right: 8px;
        }
    }
    .tag-category-comment {
        @extend %icon-comment;
        color: $brand-primary;

        &:before {
            margin-right: 8px;
        }
    }
    .edit-comment {
        padding: 11px 0px 15px 0px;
    }
}

.filters {
    padding: 0 !important;
    .filters-header {
        background-color: darken($brand-primary, 10%);
        font-size: $font-size-small;
        font-weight: $semi-bold;
        overflow: hidden;
        padding: 5px 0;
    }
    .filters-options {
        margin-bottom: 20px;
        overflow: hidden;
        padding: 7px 0;
    }
    .category,
    .tag {
        @include button-hover($gray, $gray, #fff, $brand-info);
    }
}

.user-icon {
    float: left;
    height: 40px;
    margin-right: 10px;
    width: 40px;
    img {
        border-radius: 50%;
        height: 40px;
        width: 40px;
    }
}
