// Widget's common styles
// --------------------------------------------------

.widget-topbar {
    color: $brand-tertiary;
    font-size: $font-size-large;
    margin: -20px;
    padding: 15px 20px;

    .title {
        font-family: $font-family-sans-serif;
        font-weight: $extra-bold;
        margin: 2px 0 10px;
        @media screen and (min-width: $screen-md-min) {
            margin: 2px 0;
        }
    }

    .title-primary {
        height: 14px;
        color: $brand-tertiary;
        font-size: 14px;
        line-height: 14px;
        margin: 0px;
        @media screen and (min-width: $screen-sm-min) {
            font-size: 20px;
        }
    }

    .title-secondary {
        height: 24px;
        color: $brand-tertiary;
        font-size: 20px;
        line-height: 24px;
        text-align: left;
        margin: 20px 0px 30px 0px;
        @media screen and (min-width: $screen-sm-min) {
            font-size: 30px;
            margin-top: 40px;
        }
    }

    .list-category-tags {
        border-radius: 10px !important;
        background-color: $brand-secondary !important;
        height: 24px;
        font-size: 12px !important;
        line-height: 0.9;
    }
    .column {
        padding: 0 !important;

        // pull right the last elements in large screens
        &:last-child {
            @media screen and (min-width: $screen-md-min) {
                text-align: right;
            }
        }
    }
    .column-forum {
        padding-bottom: 25px !important;
    }

    &.breadcrumb {
        background-color: transparent;
        border-radius: 0px;
        border-top: 0px;
        margin-bottom: 5px;
        padding: 7px 0;
        .line {
            border-bottom: 0;
            color: $brand-primary;
            margin: 0 20px;
            padding-bottom: 20px;
            .title {
                font-size: 18px;
                font-weight: $semi-bold;
                margin: 5px 0;
            }
        }
        .line-title {
            border-bottom: 1px solid $brand-link-color !important;
        }
    }
}

.widget-header {
    margin: -20px -20px 0;
    padding: 15px 20px;

    &.line.one-column .column {
        padding: 0;
    }

    .btn {
        @include button-hover($brand-primary, white, white, $brand-primary);
        margin-top: 10px;
    }

    @media screen and (min-width: $screen-sm-min) {
        .btn + .btn {
            margin-left: 10px;
        }
    }
}

.alert-img {
    text-align: center !important;
}

.dashboard-description {
    font-size: 14px;
    line-height: 19px;
    margin-top: 30px;
}

.widget-img {
    background-image: url("/static/img/panel_dashboard_welcome.png");
    text-align: center !important;
    border-radius: 25px;
    height: 196px;
    display:inline-block;
    margin: 20px 0px;
    background-size: cover;


    @media screen and (min-width: 426px) {
        height: 256px;
        width: 431px;
        margin: 60px 0px;
        background-repeat: round;
    }

    @media screen and (max-width: 320px) {
        height: 148px;
        width: 240px;
    }
    
    .img-text {
        color: white;
        font-size: 14px;
        margin: 0px 60px 30px 70px;
        text-align: left;

        @media screen and (max-width: 425px) {
            margin: 20px 20px 10px 30px;
        }

        @media screen and (max-width: 320px) {
            margin: 10px !important;
        }

    }
    .img-title {
        color:white;
        font-size: 18px;
        margin: 40px 0px 30px 70px;
        font-weight: bold;
        text-align: left;
        text-shadow: 0 2px 4px rgba(0,0,0,0.5);

        @media screen and (max-width: 425px) {
            margin: 30px 0px 20px 30px;
        }

        @media screen and (max-width: 320px) {
            margin: 10px 0px 40px 10px !important;
        }
    }
    .how-use {
        height: 40px;
        font-size: 14px;
        line-height: 19px;
        color: $brand-primary;
        background-color: white;
        padding: 10px 35px 30px;
    }
}

.widget-title {
    color: $brand-tertiary;
    font-size: 6.5vmax;
    float: left;
    font-weight: bold;
    line-height: 90%;
    margin: 0 20px 0 0;
    @media screen and (min-width: $screen-xs-min) {
        display: inline-block;
        font-size: 50px;
    }
}

.widget-filter {
    @media screen and (min-width: $screen-sm-min) {
        text-align: right;
    }

    label {
        font-weight: 700;
        margin-right: 10px;
    }

    .label-filters {
        height: 14px;
        width: 100%;
        color: $brand-tertiary;
        font-size: 12px;
        margin: 10px;
        font-weight: $bold;
        text-align: left !important;

        @media screen and (max-width: $screen-xs-max) {
            text-align: left !important;
        }
    }

    .label-category {
        @media screen and (min-width: 1024px) {
            min-width: 280px !important;
            width: 280px;
            margin-right: 10px;
        }
    }

    .form-control {
        font-size: $font-size-base;
        min-width: 230px;
        padding: 0px 15px;
    }

    .form-input {
        min-width: 160px !important;
        width: 160px;
    }
}

.section-title {
    border-bottom: 1px solid;
    font-size: $font-size-base;
    font-weight: $bold;
    margin: 10px 0 20px;
    padding-bottom: 5px;
    @media screen and (min-width: $screen-sm-min) {
        margin-top: 20px;
    }

}
.show-btn {
    font-family: "Museo Sans Rounded 500";
    font-size: 12px !important;
    letter-spacing: 0;
    line-height: 14px;
}

.section-forum {
    color: $brand-tertiary;
    font-size: 14px !important;
    border-bottom: 1px solid;
    font-weight: $bold;
    margin: 10px 0 20px !important;
    padding-bottom: 10px;
    @media screen and (min-width: $screen-sm-min) {
        margin-top: 20px;
    }
}

.see-all-forums {
    text-align: center;
}

.notification-bubble {
    background-color: $brand-primary;
    display: inline-block;
    @media screen and (min-width: $screen-sm-min) {
        font-size: $font-size-base;
        line-height: 18px;
    }
}
.number {
    background-color: #B4211D;
}

.section-search {
    margin: 10px 20px;
    @media (min-width: 768px) {
        width: 100%;
        text-align: left;
    }
}

.section-title-topics {
    border-top: 1px solid $brand-secondary;
    font-weight: $bold;
    padding-bottom: 5px;
    padding-top: 10px;

    color: $brand-tertiary;
    font-size: 14px;
    @media screen and (min-width: $screen-sm-min) {
        margin-top: 20px;
    }

    .section-subtitle-topics {
        color: #333333 !important;
        font-family: "Museo Sans Rounded 500";
        font-size: 12px;
        text-align: right !important;
        font-weight: normal;
    }
}

// Courses widget
// --------------------------------------------------

.courses-widget {
    @include card($brand-light);
    color: #000;

    .widget-filter {
        .form-control {
            &:focus {
                border-color: $brand-primary;
            }
        }
    }

    @media screen and (min-width: $screen-sm-min) {
        .course-thumb,
        .course-progress {
            padding-right: 5px !important;
        }
        .course-description,
        .progress-label {
            padding-left: 5px !important;
        }
    }

    .all-courses {
        padding-bottom: 15px;
        text-align: center;
    }
}

// Forums widget
// --------------------------------------------------

.forums-widget {
    @include card($brand-light);
    padding: 40px 20px;

    .widget-filter {
        @include icon(after, search);
        position: relative;
        &:after {
            color: $brand-primary;
            font-size: $font-size-large;
            position: absolute;
            right: 15px;
            top: 5px;
        }
    }
    .widget-filter-topics {
        &:after {
            right: auto !important;
            left: 150px !important;
            top: 15px !important;
        }
    }
    .forum-update {
        background-color: $brand-primary;
        color: #fff;
        font-weight: $extra-bold;
        margin: 0 0 20px 0;
        padding: 20px;
    }
    .user-update {
        margin-bottom: 20px;
        @media screen and (min-width: $screen-sm-min) {
            margin-bottom: 10px;
        }
        @media screen and (min-width: $screen-md-min) {
            height: 80px;
        }
        .last-update {
            display: block;
            margin-bottom: 2px;
            @media screen and (min-width: $screen-sm-min) {
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }
    .info {
        margin-left: 50px;
    }
}

// Messages widget
// --------------------------------------------------

.messages-widget {
    @include card($brand-light);

    .widget-topbar {
        .title {
            font-size: 18px;
            font-weight: $bold;
            @media screen and (min-width: $screen-sm-min) {
                margin-top: 7px;
            }
        }
        .notification-bubble {
            background-color: $brand-secondary;
            display: inline-block;
            font-size: $font-size-base;
            line-height: 18px;
            height: 20px;
            width: 20px;
            position: static;
            vertical-align: middle;
        }
    }
    .messages {
        @media screen and (min-width: $screen-sm-min) {
            margin: 30px 15px 15px;
        }
        .message {
            margin-bottom: 15px;

            .message-body {
                margin: 0 0 20px 10px;
                padding-left: 20px;
            }
            .message-course {
                color: $brand-primary;
                font-family: $font-family-sans-serif;
                font-size: $font-size-base;
                font-weight: bold;
                display: contents;
            }
            .message-subject {
                font-family: $headings-font-family;
                font-size: 26px;
                margin: 5px 0 5px 25px;

                &.no-course {
                    margin: 5px 0;
                }
            }
            .message-course,
            .message-subject.no-course {
                @extend %icon-messages;

                &:before {
                    color: $brand-secondary;
                    font-size: $font-size-large;
                    vertical-align: text-top;
                    @media screen and (min-width: $screen-sm-min) {
                        margin-right: 10px;
                    }
                }
            }    
        }
    }
}
