<section class="widget courses-widget container-fluid">

    <header class="widget-header line one-column">
        <div class="column">
            <div class="pull-left"><h2 class="widget-title">Minhas salas</h2></div>
        </div>
    </header>

    {% verbatim %}
    <div class="courses line two-column fifty-fifty">
        <div class="course-box column" ng-repeat="classroom in classrooms">

            <div class="line two-column">
                <div class="course-thumb column">
                    <div>
                        <a ng-href="/sala/#!/classroom/{{ classroom.id }}/" class="course-link">
                            <div class="course-thumb-bg" ng-style="{'background-image':'url('+classroom.image+')'}"></div>
                        </a>
                        <a ng-href="/sala/#!/classroom/{{ classroom.id }}/"
                            class="start">Entrar na sala</a>
                    </div>
                </div>
                <div class="course-description column">
                    <h3 class="course-title"><a href="/sala/#!/classroom/{{ classroom.id }}/" class="course-link">{{ classroom.name }}</a></h3>
                    <div class="course-info">
                        <p><b>Formador:</b> {{ classroom.assistants[0].name }}</p>
                        <p>{{ classroom.turma_iat.nte.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endverbatim %}

</section>
