.about-list {
    font-size: 18px;
    list-style: none;
    margin-bottom: 18px;
    padding: 0;

    li {
        align-items: center;
        display: flex;
        gap: 10px;
        padding: 10px;
    }

    li + li {
        border-top: 1px solid $gray-lighter;
    }

    .fa {
        color: $brand-secondary;
        display: inline-flex;
        font-size: 32px;
        justify-content: center;
        width: 1em;
    }
}
