#certificate {
    margin-bottom: 70px;
    @media screen and (min-width: $screen-sm-min) {
        margin-top: -30px;
        margin-bottom: 0;
    }
}
.anonymous {
    #certificate {
        margin: 0;
        background-color: white;
        height: 100%;
        min-height: 100%;
        left: 0;

        // wrap the whole content of the site to prevent overflow on mobile devices
        .site-wrapper {
            overflow: hidden;
            position: relative;
            min-height: 100%;
            width: 100vw;
            .site-logo a {
                position: absolute;
                left: 25%;
                width: 50%;
            }
        }
        // content wrapper
        .wrapper {
            position: relative;
            bottom: 0;
            left: 0;
            right: 0;
            margin-top: 60px;
            @include transition(all 0.5s ease);
            @media screen and (min-width: $screen-sm-min) {
                margin-top: 80px;
            }
            @media screen and (min-width: $screen-md-min) {
                padding-bottom: 110px;
            }
            @media screen and (min-width: 1025px) {
                margin-top: 110px;
            }
        }
        .container-fluid {
            max-width: 1050px;
        }
        .certificate-geral {
            padding-top: 60px;
            @media screen and (min-width: $screen-md-min) {
                padding-top: 80px;
            }
        }
    }
}
.certificate-content {
    background-image: url("/static/img/certificate-border.png");
    background-position: center;
    background-size: cover;
    padding: 15px;
    margin: 20px auto 0 auto;
    max-width: 1050px;
}
.certificate-content-white {
    background-color: white;
    background-position: center;
    background-size: cover;
    padding: 15px;
    margin: 20px auto 0 auto;
    max-width: 1050px;
}

.header-bottom-distance {
    margin-bottom: 20px !important;
}

.menu-language {
    margin-bottom: 20px;
}

.certificate-menu {
    a {
        margin: 20px 0 0 5px;
    }
}
.certificate-settings {
    float: none !important;
}
.certificate-container {
    padding: 10px;
    margin: 0 auto;
    min-height: 500px;
    position: relative;
    border-radius: 20px;
    background-color: #fff;
    @media screen and (min-width: $screen-sm-min) {
        border: 0;
        padding: 22px;
        min-height: 700px;
        background-size: 100%;
        background-repeat: no-repeat;
    }
    @media screen and (min-width: $screen-md-min) {
        padding: 30px;
    }
    .certificate-title {
        font-size: 4.5vmax;
        line-height: 1;
        margin: 50px 0 10px;
        text-align: center;
        text-transform: uppercase;
        @media screen and (min-width: $screen-sm-min) {
            font-size: 4vmax;
            margin: 0 0 10px;
        }
        @media screen and (min-width: $screen-md-min) {
            font-size: 64px;
            margin: 0 0 20px;
        }
    }
    .certificate-info {
        text-align: center;
        margin-top: 10px;
        @media screen and (min-width: $screen-sm-min) {
            margin: 0;
        }
        @media screen and (min-width: $screen-md-min) {
            margin: 0;
        }
    }
    footer {
        font-size: $font-size-small;
        @media screen and (min-width: $screen-md-min) {
            bottom: 40px;
            left: 45px;
            right: 45px;
        }
        .certificate-signatures {
            text-align: center;
            & > * {
                text-align: center;
            }
            @media screen and (min-width: $screen-sm-min) {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;

                & > * {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex: 1;
                    text-align: center;
                }
            }
        }
        .coordinator-section {
            margin: 15px auto 0 auto;
            @media screen and (min-width: $screen-sm-min) {
                margin: auto;
            }
            p {
                margin-bottom: 0;
            }
            .name-coordinator {
                font-weight: bold;
            }
        }
    }
}
.certificate-signature {
    margin-bottom: 10px;
    position: relative;
    .btn {
        position: absolute;
        right: -120px;
        bottom: 30px;
        box-shadow: 2px 2px 5px 0px rgba(173, 173, 173, 1);
    }
    p {
        background-color: #fff;
        margin-bottom: 5px;
    }
    img {
        height: 40px;
        @media screen and (min-width: $screen-md-min) {
            height: 60px;
        }
    }
}
.certificate-admin {
    counter-reset: steps-counter;
    .institute-logo {
        max-width: 150px;
        input {
            margin-top: 10px;
            width: 120px;
        }
    }
    .text-muted, .student {
        cursor: not-allowed;
    }
    .coordinator-section {
        width: 180px;
        margin: 0 -15px -15px 0;
        .certificate-signature {
            input {
                font-size: $font-size-base;
                margin-top: 5px;
                width: 120px;
            }
        }
        .role-coordinator {
            font-style: normal;
        }
        .editable-text {
            margin-bottom: 0;
        }
    }
    .certificate-signatures,
    .certificate-logos {
        margin-top: 50px;
    }
    .institute,
    .institute-logo,
    .name-coordinator,
    .role-coordinator,
    .certificate-signature {
        &:before {
            align-items: center;
            background-color: $brand-warning;
            border-radius: 100%;
            color: #fff;
            content: counter(steps-counter);
            display: inline-flex;
            font-size: 12px;
            font-style: normal;
            font-weight: $bold;
            height: 16px;
            justify-content: center;
            left: -20px;
            line-height: 1;
            position: absolute;
            text-align: center;
            width: 16px;
        }
    }
    .institute {
        margin-right: 5px;
        input {
            display: inline-block;
            width: 200px;
        }
        &:before {
            left: -40px;
        }
    }
    .institute,
    .institute-logo,
    .name-coordinator,
    .role-coordinator,
    .certificate-signature {
        counter-increment: steps-counter;
        position: relative;
    }
}

.active-language {
    background-color: $brand-secondary;
}
