div.classroom-reports {

  h1.widget-title {
    color: $brand-primary;
    margin-top: 20px;
  }

  .container-fluid {
    max-width: 1238px;
  }

  & > .container-fluid {

    & > p {
      margin-top: 10px;
      font-size: 16px;
    }
  }

  .widget {
    margin-top: 40px;
  }

  &--search {
    align-items: center;
    display: flex;
    margin: 20px 0 10px;

    label {
      font-weight: normal;
    }

    input {
      border: 1px solid #DDD;
      border-radius: 10px;
      margin-left: 10px;
      padding: 10px 20px;
    }
  }

  &--list {
    margin-top: 10px;
  }
}

.classroom-report {
  background-color: #EEE;
  border-top: 1px solid white;

  &--summary {
    align-items: center;
    display: grid;
    font-size: 12px;
    grid-template-columns: 1fr auto 1fr;

    & > * {
      padding: 10px;
    }

    .classroom-report--student {
      align-items: center;
      display: flex;

      @media screen and (max-width: 600px) {
        flex-direction: column;
        text-align: center;
      }

      img {
        border: 2px solid white;
        border-radius: 50%;
        height: 40px;
        margin-right: 10px;
        width: 40px;
      }

      &-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        word-break: break-word;
      }
    }

    & > :nth-child(2) {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;

      @media screen and (max-width: 800px) {
        display: none;
      }

      & > * {
        padding: 0 10px;
      }

      & > :nth-child(n + 2) {
        border-left: 1px solid #666;
      }
    }

    & > :last-child {
      text-align: right;
    }

    .btn {
      border-radius: 5px;
    }
  }

  &--details {
    border-top: 1px solid #CCC;
    display: grid;
    font-size: 12px;
    grid-gap: 0 20px;
    grid-template-columns: 2fr 3fr;
    padding: 20px 10px;

    @media screen and (max-width: 1000px) {
      grid-template-columns: 1fr;
    }

    @media screen and (min-width: 1001px) {
      & > :nth-child(2) {
        grid-column: 1 / span 2;
        grid-row: 2;
      }
    }

    h3.widget-title {
      color: $brand-primary;
      font-size: 30px;
    }
  }

  &--table {
    margin: 10px 0 30px;
    width: 100%;
  }

  &--title {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .btn {
      border-radius: 5px;
    }
  }

  &--kv-table {
    display: grid;
    grid-template-columns: 1fr auto;

    dl {
      display: contents;

      &:nth-of-type(odd) > * {
        background-color: #F5F5F5;
      }

      dt, dd {
        padding: 5px;
      }

      dt {
        font-weight: bold;
      }
    }

    i.fa {
      color: $brand-primary;
      display: inline-block;
      margin-right: 10px;
    }
  }

  &--stream-table {
    display: grid;
    grid-template-columns: 1fr max-content;

    & > * {
      padding: 5px;
    }

    & > :nth-child(4n + 1), & > :nth-child(4n + 2) {
      background-color: #F5F5F5;
    }

    & > :nth-child(even) {
      padding-left: 20px;
    }
  }

  &--load-more {
    border-top: 1px solid #DDD;
    color: #666;
    font-weight: bold;
    margin-top: -20px;
    padding: 10px;
    text-align: center;
  }
}

.course-reports {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
}

user-course-report {
  display: contents;
}

.course-report {

  &--summary {
    display: contents;

    & > * {
      align-items: center;
      background-color: #F5F5F5;
      border-top: 1px solid #EEE;
      display: flex;
      padding: 5px;
    }

    & > :nth-child(1), & > :nth-child(2) {
      color: $brand-primary;
      font-weight: bold;
    }

    & > :nth-child(2) {
      text-align: right;
    }

    .btn {
      border-radius: 10px;
      font-size: 12px;
    }
  }

  &--progress {
    background-color: #DDD;
    border-radius: 10px;
    height: 15px;
    width: 100%;

    div {
      background-color: $brand-primary;
      border-radius: 10px;
      height: 100%;
    }
  }

  &--details {
    background-color: #F5F5F5;
    border-top: 1px solid #DDD;
    grid-column: 1 / span 4;
    padding: 10px;
  }
}

.activity-report {
  align-items: center;
  display: grid;
  grid-template-columns: 2fr auto 1fr;

  &--activity, &--step {
    display: contents;

    & > * {
      padding: 5px;
    }

    & > :nth-child(2) {
      font-weight: bold;
      text-align: right;
    }
  }

  &--step {
    & > :nth-child(2) {
      color: $brand-primary;
    }
  }

  &--activities {
    display: contents;
  }

  &--activity {
    font-weight: bold;

    & > :nth-child(1) {
      color: $brand-primary;
      padding-left: 15px;
    }

    & > :nth-child(2) {
      font-size: 20px;

      &.done {
        color: #87B727;
      }

      &.not-done {
        color: #E34625;
      }
    }
  }

  &--progress {
    background-color: #DDD;
    border-radius: 10px;
    height: 6px;
    width: 100%;

    div {
      background-color: $brand-tertiary;
      border-radius: 10px;
      height: 100%;
    }
  }
}
