#admin {
    .course-material {
        .page-header {
            h3 {
                display: inline-block;
            }
        }
        .materials-message {
            background-color: rgba(255,255,255,0.4);
            margin: 20px 0;
        }
        .materials-text {
            background-color: rgba(255,255,255,0.4);
            padding: 10px 0;
        }
        .language-selection-container{
            margin-bottom: 10px;
        }
        .file-name {
            @media screen and (max-width: 425px) {
                display: flex;
            }
        }
        .dropzone {
            font-weight: $bold;
            text-align: center;
            float: left;
        }
    }
}