// Course stats/reports
// --------------------------------------------------

.course-stats {
    color: #000;
    .filters {
        margin-bottom: 20px;

        .row > div {
            margin-bottom: 10px;
            @media screen and (min-width: $screen-sm-min) {
                height: 40px;
                margin-bottom: 0;
            }
        }
        label {
            margin-bottom: 0;
            width: 100%;
            span {
                display: block;
                padding: 6px 0;
                @media screen and (min-width: $screen-sm-min) {
                    float: left;
                }
            }
        }
        #filter-class {
            @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
                width: 100px;
            }
            @media screen and (min-width: $screen-sm-min) {
                float: left;
                width: 100%;
            }
        }
        .filter-keyword, .filter-ordering {
            .form-control {
                width: 100%;
            }
        }
        .search-buttons {
            margin: 10px 0 0 5px;
        }
        .filter-keyword, .filter-ordering, .filter-reverse {
            @media screen and (min-width: $screen-md-min) {
                text-align: right;
            }
            @media screen and (max-width: $screen-sm-max) {
                .btn {
                    display: block;
                    width: 100%;
                }
            }
        }
        .filter-reverse {
            @media screen and (min-width: $screen-sm-min) {
                margin: 10px 0 -20px;
                .btn {
                    position: relative;
                    z-index: 1;
                }
            }
        }
    }
    .nav-tabs {
        .fa {
            font-size: 17px;
            margin-right: 2px;
            vertical-align: text-bottom;
        }
    }
    .students-total {
        span {
            color: $brand-primary;
            font-weight: bold;
        }
    }
    .progress {
        box-shadow: none;
    }
    .progress-label {
        font-size: $font-size-base;
        font-weight: $semi-bold;
        margin-bottom: 4px;
        @media screen and (min-width: $screen-xs-min) {
            font-size: $font-size-small;
        }
    }
    .course-progress {
        .progress-label {
            color: $brand-primary;
        }
        .progress {
            border-radius: 15px;
            height: 15px;
        }
    }
    .chapter {
        & > .row > :first-child {
            line-height: 2.5;
            i {
                margin-right: 5px;
            }
        }
    }
    .chapter-progress {
        .progress-label {
            color: $gray-dark;
        }
        .progress {
            border-radius: 7px;
            height: 7px;
            .progress-bar {
                background-color: $gray-dark;
            }
        }
    }
    .textright {
        text-align: right;
    }
    .activity {
        margin-bottom: 15px;
        .activity-name {
            font-size: $font-size-small;
            font-weight: $bold;
            margin-top: 15px;
            padding-left: 20px;
        }
        .stats {
            color: #000;
            font-size: 11px;
            font-weight: $bold;
            margin-top: 10px;
            .icon {
                border-radius: 100%;
                display: inline-block;
                font-size: 16px;
                height: 27px;
                margin-right: 5px;
                width: 27px;
                vertical-align: middle;
                text-align: center;
                &:before {
                    color: #fff;
                    vertical-align: middle;
                }
            }
            &.done {
                .icon {
                    background-color: #87b727;
                    @extend %icon-checkmark;
                }
            }
            &.undone {
                .icon {
                    background-color: #d51317;
                    @extend %icon-times;
                }
            }
        }
    }
    .students-total {
        span {
            color: $brand-primary;
            font-weight: bold;
        }
    }
    .text-lang {
        margin-top: 30px;
        margin-bottom: 30px !important;
    }
    .user-icon {
        float: left;
        height: 40px;
        margin-right: 10px;
        width: 40px;
        img {
            border-radius: 50%;
            height: 40px;
            width: 40px;
        }
    }
    .progress {
        box-shadow: none;
    }
    .progress-label {
        font-size: $font-size-base;
        font-weight: $semi-bold;
        margin-bottom: 4px;
        @media screen and (min-width: $screen-xs-min) {
            font-size: $font-size-small;
        }
    }
    .course-progress {
        .progress-label {
            color: $brand-primary;
        }
        .progress {
            border-radius: 15px;
            height: 15px;
        }
    }
    .chapter-progress {
        .progress-label {
            color: $gray-dark;
        }
        .progress {
            border-radius: 7px;
            height: 7px;
            .progress-bar {
                background-color: $gray-dark;
            }
        }
    }
    .textright {
        text-align: right;
    }
    .activity {
        margin-bottom: 15px;
        .stats {
            color: #000;
            font-size: 11px;
            font-weight: $bold;
            .icon {
                border-radius: 100%;
                display: inline-block;
                font-size: 16px;
                height: 27px;
                margin-right: 5px;
                width: 27px;
                vertical-align: middle;
                text-align: center;
                &:before {
                    color: #fff;
                    vertical-align: middle;
                }
            }
            &.done {
                .icon {
                    background-color: #87b727;
                    @extend %icon-checkmark;
                }
            }
            &.undone {
                .icon {
                    background-color: #d51317;
                    @extend %icon-times;
                }
            }
        }
    }
    .lessons {
        list-style: none;
        margin-top: 20px;
        padding: 0;
        width: 100%;
        .lesson {
            margin-bottom: 10px;
        }
        .lesson-name {
            font-weight: $bold;
            @media screen and (min-width: $screen-sm-min) {
                padding-top: 15px;
            }
        }
        .progress {
            margin-bottom: 0;
        }
        .calendar-icon {
            color: #9a345c;
        }
        .invisible-icon {
            visibility:hidden;
        }
    }
}
