// Activities
.course-activity {
    background-color: rgba($gray,0.3);

    .question {
        h1 {
            color: $brand-primary;
            font-family: $headings-font-family;
            font-size: 30px;
            margin: 0 0 30px 0;
        }
    }

    .answers {
        margin: 20px 0;
    }

    .simplechoice-answers {
        .answer {
            font-size: 16px;
            label {
                vertical-align: top;
                .icons {
                    display: inline !important;
                    margin-top: 10px;
                    position: static !important;
                }
            }
        }
    }

    .multiplechoice-title {
        color: $brand-secondary;
        margin-bottom: 20px;
    }

    .multiplechoice-answers {
        .answer {
            font-size: 16px;
            label {
                vertical-align: top;
                .icons {
                    display: inline !important;
                    margin-top: 10px;
                    position: static !important;
                }
            }
        }
    }

    .trueorfalse-answers {
        .answer {
            font-size: 16px;
            margin: 10px 0;
            padding: 10px 0;
        }
    }

    .relationship-answers {
        .answer {
            font-size: 16px;
            margin: 10px 0;
            padding: 10px 0;
            > * {
                line-height: 2;
            }
        }
    }

    .slides {
        &:not(.navigation-wrapper) {
          min-height: 207px;
          //max-height: 540px;
          @media screen and (min-width: $screen-xs-min) {
            min-height: 261px;
          }
          @media screen and (min-width: $screen-sm-min) {
              min-height: 434px;
          }
          @media screen and (min-width: $screen-md-min) {
              //min-height: 540px;
          }
        }
        .slides-material {
            @include aspect-ratio(960, 540);
            //pointer-events: none;
        }
        img {
            margin: 0 auto;
        }
        .slides-navigation {
            background-color: #FFFFFF;
            bottom: 0;
            margin: 20px 0;
            width: 100%;

            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
        }
        .slides-navigation-label {
            color: $brand-tertiary;
            display: flex;
            font-weight: bold;
            justify-content: center;
            line-height: 1;
            margin: 6px 0 -6px;
            width: 100%;
        }
        .previous, .next, .slides-number {
            display: inline-block;
        }
        .previous, .next {
            background: transparent;
            border: none;
            color: $brand-tertiary;
            cursor: pointer;
            font-size: $font-size-small;
            font-weight: $semi-bold;
            height: 34px;
            line-height: 32px;
            position: relative;
            vertical-align: bottom;

            &:disabled {
              color: $gray;
              cursor: not-allowed;
            }
        }
        .previous {
            @extend %icon-chevron-left;
            color: $brand-tertiary;
            padding: 0px;
            font-size: 20px;
        }
        .next {
            @extend %icon-chevron-right;
            color: $brand-tertiary;
            padding: 0px;
            font-size: 20px;

        }
        .slides-number {
            color: $brand-primary;
            font-size: 20px;
            font-weight: $bold;
            padding: 6px 15px;
            @media screen and (min-width: $screen-md-min) {
                font-size: $font-size-large;
            }
        }
        .slides-navigation--gray {
            background-color: $gray-secondary;
            margin-top: 0;

            .slides-number {
              font-size: 16px !important;
            }
        }
    }

    .alert {
        font-weight: $bold;
        .fa {
            margin-right: 5px;
        }
    }

    .submit {
        margin-top: 40px;
        .btn-next {
            background-color: $brand-secondary;
        }
        .btn-prev {
            background-color: #888888;
        }
    }

    label {
        font-weight:normal;
    }

    .wrong {
        color: $brand-danger;
    }

    .correct {
        color: $brand-success;
    }

    table tr, table tr td {
        border:none;
    }

    .textcenter {
        text-align: center;
    }

    .textright {
        text-align: right;
    }

    .forum-thread {
        background-color: transparent;
        padding: 0;
    }

    // Flat UI Styles
    // Checkbox & Radio
    // --------------------------------------------------

    .checkbox,
    .radio {
        margin-bottom: 12px;
        position: relative;
        @include transition(color .25s linear);

        input {
            outline: none !important;
            display: none;
        }

        span {
            margin-left: 25px;
            &.icons {
                margin: 0 auto;
                span {
                    margin: 0 auto;
                }
            }
        }

        // Replace icons
        // --------------------------------------------------
        .icons {
            color: $gray;
            display: block !important;
            height: 21px;
            left: 0;
            margin: 0 auto;
            position: absolute;
            right: 0;
            top: 0;
            width: 21px;
            text-align: center;
            line-height: 23px;
            font-size: 23px;
            @include transition(color .25s linear);

            .first-icon,
            .second-icon {
                position: absolute;
                left: 0;
                top: 0;
                @include opacity(100);
            }
            .second-icon {
                @include opacity(0);
            }
        }

        // Alternate States
        // --------------------------------------------------

        // Hover State
        &:hover {
            cursor:pointer;
            .first-icon {
                @include opacity(0);
            }
            .second-icon {
                @include opacity(100);
            }
        }

        // Checked State
        &.checked {
            color: $link-color;

            .icons {
                color: $brand-success;
            }
            .first-icon {
                @include opacity(0);
            }
            .second-icon {
                @include opacity(100);
            }
        }

        // Disabled state
        &.disabled {
            cursor: default;
            color: mix($gray, white, 38%);

            .icons {
                color: mix($gray, white, 38%);
                }
                .first-icon {
                    @include opacity(100);
                }
                .second-icon {
                    @include opacity(0);
                }
                &.checked {
                .icons {
                    color: mix($gray, white, 38%);
                }
                .first-icon {
                    @include opacity(0);
                }
                .second-icon {
                    @include opacity(100);
                }
            }
        }
    }
}

.lesson-activity {
    max-width: 689px;
    margin: 0 auto;
    .slides {
        padding: 0 10px;
        background-color: transparent;
        img {
            margin: 0 auto;
        }
    }
    @media screen and (max-width: $screen-xs-max) {
        padding: 0;
    }
}

