// Courses' page
// --------------------------------------------------

.courses-page {
    padding-bottom: 20px;
    .courses-list {
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        padding: 20px 0;
        .card-list {
            justify-self: left;
        }
        @media screen and (max-width: $screen-sm-min) {
            .card-list {
                justify-self: center;
            }
        }
    }
    .course-card {
        width: 248px;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);

        .btn-card-certificate {
            height: 27px;
            width: 124px;
            font-size: 12px;
            color: $brand-secondary;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: #FFFFFF;
        }
        .image-card-list {
            border-radius: 10px 10px 0 0;
            @include aspect-ratio(16, 9);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url("../img/cursoPadrao.png");
        }
        .image-container {
            position: relative;
        }
        .btn-certificate-position {
            position: absolute;
            width: 100%;
            top: 0;
            right: 0;
            margin: 0;
            padding: 5px 0 5px 125px;
        }
        .text-block {
            position: absolute;
            width: 100%;
            bottom: 0;
            color: white;
            margin: 0;
            padding: 0 0 5px 10px;
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%);
            p {
                margin: 0;
                padding: 0;
            }
        }
        .course-card-progress {
            background-color: #DDDDDD;
            height: 6px;
            width: 100%;

            .progress-bar {
                height: 6px;
                background-color: #B4211D;
            }
        }
        .course-card-info {
            padding: 0px 10px 10px 10px;
            .card-title {
                font-size: 16px;
                height: 66px;
                display: flex;
                align-items: center;
                letter-spacing: 0;
                line-height: 22px;
                margin: 10px 0;
            }
            .card-divider {
                border: 0.5px solid #DDDDDD;
                margin-bottom: 5px;
            }
            .card-text {
                font-size: 12px;
                max-width: 100%;
                font-family: "Open Sans";
                letter-spacing: 0;
                height: 34px;
                line-height: 17px;

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .two-lines {
                -webkit-line-clamp: 2;
                display: -webkit-box;
                white-space: normal;
                -webkit-box-orient: vertical;
            }
            .card-subinfo {
                font-size: 12px;
                .card-clock-icon{
                    @extend %icon-clock;
                    color: $brand-secondary;
                }
                .card-language-icon {
                    margin-left: 10px;
                    @extend %icon-language;
                    color: $brand-secondary;
                }
            }
            .btn-card {
                padding: 10px 0;
                height: 40px;
                width: 228px;
                border-radius: 5px;
                border: 0;
                text-align: center;
                font-family: 'Open Sans';
            }
            .access {
                color: #FFFFFF;
                margin-top: 10px;
                background-color: $brand-secondary;
            }
            .certificate {
                color: $brand-primary;
                background-color: none;
            }
            .continue {
                color: #FFFFFF;
                margin-top: 10px;
                background-color: $brand-primary;
            }
            .btn-position {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .load-more-position {
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
}
