.widget-title-dashboard {
  color: $brand-tertiary;
  font-size: 22px !important;
  float: left;
  font-weight: bold;
  line-height: 90%;
  margin-bottom: 30px;
  width: 100%;
}
.dashboard-announcement {
  margin-top: 60px;
}
.dashboard-list-course {
  background-color: #f5f5f5 !important;
  margin-top: 60px;
  padding: 20px 0;
}
.my-courses-header {
  display: flex;
}
.dashboard-forum {
  margin-top: 60px;
  .show-btn {
    font-family: "Museo Sans Rounded 500";
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
  }
  @media screen and (min-width: $screen-sm-min) {
    margin-top: 100px;
  }
}
.dashboard-events {
  margin-top: 60px;

  .widget-title-dashboard {
    margin-bottom: 0;
  }
}
.see-all-btn {
  height: 40px;
  font-size: 14px;
  line-height: 19px;
  color: white;
  background-color: $brand-primary;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  padding: 10px 35px 30px;
}
.all-courses {
  float: right;
  color: $brand-secondary;
  width: 200px;
  margin-top: 25px;
  display: none;
  i {
    margin-left: 5px;
  }
  @media screen and (min-width: $screen-sm-min) {
    display: block;
  }
}
.all-courses-mobile {
  float: right;
  color: $brand-secondary;
  margin-top: 10px;
  i {
    margin-left: 5px;
  }
  @media screen and (min-width: $screen-sm-min) {
    display: none;
  }
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
}
.grid-item {
  margin-bottom: 10px;
  color: $brand-tertiary;
  font-family: "Museo Sans Rounded 900";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 17px;
  a {
    color: $brand-tertiary;
  }
  .no-topics {
    font-family: "Museo Sans Rounded 500";
    color: black;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 14px;
  }
}
.forum-list-dashboard {
  margin: 20px 0;
}
