// common styles, i.e. dashboard's widget and messages' page

.messages {
    .message {
        .message-subject {
            font-weight: $bold;
            font-size: $font-size-large;
            font-family: $font-family-sans-serif;
        }
        .message-body {
            margin-bottom: 20px;
            padding-left: 20px;
        }
    }
    &.message-single {
        .page {
            background-color: rgba(#fff,0.3);
        }
    }
}

// messages' page styles
.message-description {
    padding: 0 20px;
}

.messages-list {
    .page-header {
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $brand-tertiary !important;
        font-size: 22px !important;

        h2 {
            color: $brand-tertiary !important;
            font-size: 22px !important;
            &:before {
                font-size: 36px;
                @media screen and (min-width: $screen-sm-min) {
                    margin-right: 10px;
                }
            }
        }
    }
    .title-header {
        display: flex;
        align-items: baseline;
        margin-bottom: 25px;
        color: $brand-primary;
        h3 {
            font-size: 24px;
            margin: 0 15px 0 0;
        }
    }
    .messages-content {
        margin: 30px 0;
    }
    .message {
        margin-bottom: 20px;
        .message-body {
            border-left: 2px solid #fff;
            margin: 0;
            .message-header {
                display: flex;
                font-size: 14px;
                line-height: 1;
                margin-bottom: 10px;
                .message-subject {
                    border-right: 1px solid;
                    font-size: 14px;
                    line-height: inherit;
                    margin: 0 10px 0 0;
                    padding: 0 10px 0 0;
                }
            }
            .message-text {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #F5F5F5;
                padding: 15px 20px;
                p {
                    margin: 0 20px 0 0;
                }
            }
        }
        &.unread {
            .message-body {
                border-left: 5px solid $brand-primary;
                .see-more {
                    @include button-hover(#fff,#fff,$brand-primary,darken($brand-primary, 5%));
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .course_messages_group {
        margin-bottom: 30px;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        border-bottom: 1px solid rgba(0, 0, 0, 0.8);
        margin-bottom: 20px;
    }
    .grid-item {
        color: $brand-tertiary;
        font-family: "Museo Sans Rounded 900";
        font-size: 18px;
        letter-spacing: 0;
        line-height: 17px;
        margin-bottom: 10px;
    }
    .message-list-content {
        margin-top: 40px;
    }
}
