// Notes' pages
// --------------------------------------------------

.notes {
    .header {
        .btn + .btn {
            margin-left: 10px;
        }
    }
    .notes-info {
        color: #000;
        font-size: $font-size-small;
        font-family: $font-family-sans-serif;
        font-weight: $bold;
        .btn {
            font-size: $font-size-small;
            font-family: $font-family-sans-serif;
        }
    }
    .underscore-line { border-bottom: 1px solid black; }
    .lesson-title {
        color: $brand-primary;
        font-family: $font-family-sans-serif;
        font-size: 14px;
        font-weight: $extra-bold;
        @media screen and (min-width: $screen-xs-min) {
            margin: 15px 0;
            font-size: 16px; 
        }
    }
    .notes-list {
        margin-bottom: 30px;
        @media screen and (min-width: $screen-xs-min) {
            border-left: 1px solid $gray;
            padding-left: 20px;
        }
    }
    .unit-title {
        color: #000;
        font-family: $font-family-sans-serif;
        font-size: $font-size-base;
        font-weight: $extra-bold;
        text-transform: initial;
        padding: 10px 0 0 10px;
    }
    .note-content {
        overflow: hidden;
        padding: 10px;
        text-align: left;
        @media screen and (min-width: $screen-xs-min) {
            padding: 15px;
        }
        .row {
            div:last-child {
                margin-top: 15px;
                @media screen and (min-width: $screen-sm-min) {
                    margin-top: 0;
                    text-align: left;
                } 
            }
        }
    }
    .notes-container {
        background-color: #f5f5f5;
        padding: 0 0 15px 0;
    }
}