// Profile's pages
// --------------------------------------------------

.profile-social {
    font-size: 14px;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    color: #000;
    .email {
        margin-right: 12px;
    }
    .cellphone {
        margin: 0 13px 0 3px;
    }
    .facebook {
        margin: 0 15px 0 3px;
    }
    .twitter {
        margin: 0 10px 0 2px;
    }
    .instagram {
        margin: 0 12px 0 2px;
    }
    a, a:hover {
        color: $brand-link-color !important;
    }
    li {
        margin-bottom: 10px;
    }
}

.header-distance {
    padding: 20px;
    @media screen and (min-width: $screen-xs-min) {
        padding: 30px 20px;
    }
}

.profile-picture {
    background-position: center;
    background-size: cover;
    float: left;
    height: 140px;
    margin: 0 15px 15px 0;
    width: 140px;
}

.profile-name {
    color: $brand-primary;
    margin-top: 0;
    font-size: 22px;

    @media screen and (min-width: $screen-xs-min) {
        font-size: 36px;
    }
}

.profile-information {
    margin-top: 8vh;
    min-height: 150px;
}
.profile-extra-information {
    margin-top: 15px;
}

.profile-info {
    color: #000;
    p {
        &:before {
            font-size: $font-size-large;
            margin-right: 5px;
            vertical-align: middle;
            text-align: center;
            width: 20px;
        }
    }
    .occupation {
        @extend %icon-occupation;
    }
    .city {
        @extend %icon-map-pin;
    }
    .site {
        @extend %icon-site;
    }
    .group {
        @extend %icon-group;
    }
}

.profile-bio {
    @media screen and (max-width: $screen-sm-max) {
        clear: both;
    }
    @media screen and (min-width: $screen-md-min) {
        margin-left: 155px;
    }
    p {
        font-size: $font-size-base;
        line-height: $line-height-computed;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.profile-buttons {
    display: flex;
    vertical-align: top;
    margin-top: 0;
    @media screen and (min-width: $screen-sm-min) {
        margin-top: -10px;
    }
}

.profile-edit {
    margin: 0 10px;
}

.profile-certificates {
    margin-top: 20px;

    .course-box {
        @media screen and (min-width: $screen-sm-min) {
            .course-thumb {
                padding-right: 0 !important;
            }
        }
        .progress-label {
            display: none;
            color: #000;
            font-size: $font-size-base;
            line-height: 100%;
            @media screen and (min-width: $screen-sm-min) {
                display: block;
            }
        }
        .see-certificate {
            border: 0;
            border-radius: 0;
            display: block;
            font-weight: $bold;
            padding: 3px;
            text-align: center;
            @include button-hover(#fff,#fff,$brand-success,darken($brand-success,10%));
        }
    }
}
