{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load compress %}

{% if user.is_superuser %}
    {% block js %}
        <script src="https://unpkg.com/angular-sortable-view@0.0.17/src/angular-sortable-view.min.js"></script>
        <script src="https://unpkg.com/angular-gettext@2.4.2/dist/angular-gettext.min.js"></script>

        {% compress js %}
        <script type="text/javascript" src="{% static 'js/core/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/core/controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/core/services.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/core/filters.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/directives/contenteditable.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/directives/alertPopup.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/directives/markdowneditor.js' %}"></script>
        {% endcompress %}
        {% if not user.is_authenticated %}
            <script src="https://bowercdn.net/c/angular-click-outside-2.10.2/clickoutside.directive.js"></script>
            {% compress js %}
                <script type="text/javascript" src="{% static 'js/app/header/header.module.js' %}"></script>
                <script type="text/javascript" src="{% static 'js/app/header/header.component.js' %}"></script>
                <script type="text/javascript" src="{% static 'js/app/header/header.controllers.js' %}"></script>
                <script type="text/javascript" src="{% static 'js/app/header/header.services.js' %}"></script>
                <script type="text/javascript" src="{% static 'js/app/header/header.filters.js' %}"></script>
                <script type="text/javascript" src="{% static 'js/app/header/header.directives.js' %}"></script>
                <script type="text/javascript" src="{% static 'js/discussion-services.js' %}"></script>
                <script type="text/javascript" src="{% static 'js/main-nav/app.js' %}"></script>
                <script type="text/javascript" src="{% static 'js/main-nav/controller.js' %}"></script>
                <script type="text/javascript" src="{% static 'js/main-nav/services.js' %}"></script>
            {% endcompress %}

        {% endif %}
        <script>
            window.page_url = '{{ flatpage.url }}';
        </script>
	  {% endblock %}
{% endif %}

{% block body_attrs %}
  ng-app="core"
{% endblock %}

{% block content %}
<div class="container-fluid flatpage" ng-app="core" ng-controller="FlatPageCtrl">

    {% if user.is_authenticated and user.is_superuser %}
        <div class="row flatpage-buttons">
            <div class="col-sm-12">
                <button type="button" class="btn btn-primary edit" ng-click="changeEditMode()">
                    <span ng-if="flatpage.title && !edit_mode" translate>Edit</span>
                    <span ng-if="!flatpage.title && !edit_mode" translate>Create</span>
                    <span ng-if="edit_mode" translate>Close</span>
                </button>
                <button type="button" class="btn btn-primary save pull-right" ng-if="edit_mode" ng-click="save_flatpage(flatpage)" translate>Save</button>
            </div>
        </div>

    <div class="actions-buttons align-left">
        <button class="btn btn-primary" ng-if="edit_mode" ng-class="editingPageLanguage === 'en' ? 'active-language': ''"
                ng-click="setLanguage('en')">EN</button>
        <button class="btn btn-primary" ng-if="edit_mode" ng-class="editingPageLanguage === 'pt-br' || editingPageLanguage === 'pt_br' ? 'active-language': ''"
                ng-click="setLanguage('pt-br')">PT-BR</button>
        <button class="btn btn-primary" ng-if="edit_mode" ng-class="editingPageLanguage === 'es' ? 'active-language': ''"
                ng-click="setLanguage('es')">ES</button>
    </div>

    <div class="flatpage-edit-content" ng-if="edit_mode">
        {% block content-header %}
            {% verbatim %}
                <h2 class="editable-content" ng-model="flatpage.title" ng-placeholder="{{ 'Page name' | translate }}" contenteditable></h2>
            {% endverbatim %}
        {% endblock %}
        <textarea ui-tinymce="uiTinymceConfig" ng-model="flatpage.content"></textarea>
    </div>
    {% endif %}

    <div class="flatpage-page" ng-if="!edit_mode">
        {% verbatim %}
        <header class="page-header distance-header-title">
            <h2>{{ flatpage.title }}</h2>
        </header>
        <div class="content" ng-bind-html="flatpage.content"></div>
        {% endverbatim %}
    </div>

</div>
{% endblock %}
