<div ng-controller="ImageActivityAdminCtrl">
    <div class="question textleft">
        <div class="editable-title">
            <input type="text" ng-model="currentActivity.data.question" placeholder="{{'Activity title' | translate}}">
        </div>
        <button class="btn btn-danger" ng-click="removeCurrentActivity()"><i class="fa fa-trash-o"></i></button>
    </div>
    <section class="thumbnail">

        <div class="row" ng-show="!currentActivity.image_show">
            <div class="add-thumbnail col-sm-12 col-lg-12 textcenter">
                <div class="centered">
                    <div class="form-group">
                        <i class="fa fa-picture-o fa-4x"></i>
                        <h1 class="bottom top" translate>Image</h1>
                        <p translate>(minimum width: 845px)</p>

                        <input type="file" ngf-select ng-model="image_up" name="file"
                            accept="image/*" ngf-max-size="20MB" required
                            ngf-model-invalid="errorFile" />
                    </div>

                    <p>
                        <br>
                        <button class="btn btn-danger btn-lg uppercase"
                                ng-show="currentActivity.image_url" ng-click="currentActivity.image_show = true" translate>Cancel</button>

                        <button class="btn btn-success btn-lg uppercase"
                                ng-click="saveImage(currentActivity)" translate>Insert</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="row" ng-show="currentActivity.image_show">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <img ng-src="{{currentActivity.image_url}}" class="img-responsive" />
            </div>

            <div class="col-lg-12 textright">
                <button class="btn-edit-thumbnail btn btn-success btn-sm uppercase"
                        ng-click="currentActivity.image_show = false" translate>Change image</button>
            </div>
        </div>
    </section>
</div>
