<div ng-controller="SlidesRevealAdminCtrl">
    <div class="question textleft">
        <div class="editable-title">
            <input type="text" ng-model="currentActivity.data.question" placeholder="{{'Activity title' | translate}}">
        </div>
        <button class="btn btn-danger" ng-click="removeCurrentActivity()"><i class="fa fa-trash-o"></i></button>
    </div>
    <section class="thumbnail">

        <div class="row" ng-show="!currentActivity.html_show">
            <div class="add-thumbnail col-sm-12 col-lg-12 textcenter">
                <div class="centered">
                    <div class="form-group">
                        <i class="fa fa-picture-o fa-4x"></i>
                        <h1 class="bottom top" translate>HTML of slides compatible with reveal.js</h1>

                        <input type="file" ngf-select ng-model="html_file" name="file"
                            accept="text/*" ngf-max-size="20MB" required
                            ngf-model-invalid="errorFile" />
                    </div>

                    <p>
                        <br>
                        <button class="btn btn-danger btn-lg uppercase"
                                ng-show="currentActivity.data.content" ng-click="currentActivity.html_show = true" translate>Cancel</button>

                        <button class="btn btn-success btn-lg uppercase"
                                ng-click="saveSlides(currentActivity)" translate>Insert</button>
                    </p>
                </div>
            </div>
        </div>
        <div class="row" ng-show="currentActivity.html_show">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <iframe framepreview cm-bind="currentActivity.data.content" style="width: 1019px; height: 600px;" src='/empty/'>
              </iframe>
            </div>

            <div class="col-lg-12 textright">
                <button class="btn-edit-thumbnail btn btn-success btn-sm uppercase"
                        ng-click="currentActivity.html_show = false" translate>Change html</button>
            </div>
        </div>
    </section>
</div>
