<div class="question textleft">
    <button class="btn btn-danger" ng-click="removeCurrentActivity()"><i class="fa fa-trash-o"></i></button>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <span translate="">Start date</span>
            <div class="editable editable-text">
                <input type="text" ng-model="currentActivity.data.start_date" uib-datepicker-popup="dd/MM/yyyy" is-open="opened_sta" show-button-bar="false" ng-click="opened_sta = true" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <span translate>Closing date (on that day, students will no longer be able to send responses)</span>
            <div class="editable editable-text">
                <input type="text" ng-model="currentActivity.data.end_date" uib-datepicker-popup="dd/MM/yyyy" is-open="opened_end" show-button-bar="false" ng-click="opened_end = true" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <span translate>Responses to this activity must be editable by its authors?</span>
            <div>
                <input type="checkbox" ng-model="currentActivity.data.editable" />
            </div>
        </div>
    </div>

    <textarea ui-tinymce="tinymceOptions"
              ng-model="currentActivity.data.content"
              placeholder="{{'Write the statement here' | translate}}" name="content" required></textarea>

</div>
