<div class="question textleft">
    <div class="editable-title"><input type="text" ng-model="currentActivity.data.question" placeholder="{{'Activity title' | translate}}"></div>
    <button class="btn btn-danger" ng-click="removeCurrentActivity()"><i class="fa fa-trash-o"></i></button>
</div>

<div class="panel" ng-init="html5section='expected'">
    <ul class="nav nav-tabs">
        <li ng-class="{'active':html5section=='expected'}" ng-click="html5section='expected'">
            <a style="cursor:pointer" translate>Expected outcome</a>
        </li>
        <li ng-class="{'active':html5section=='student-code'}" ng-click="html5section='student-code'">
            <a style="cursor:pointer" translate>Student editor</a>
        </li>
    </ul>

    <div ng-show="html5section=='expected'">
        <div codemirror ng-model="currentActivity.expected"></div>
        <iframe framepreview cm-bind="currentActivity.expected"
                width="100%" frameborder="0" height="350" src='/empty/'
                style="border: 1px solid #dddddd; background-color: #e8e8e8;"></iframe>
    </div>
    <div ng-show="html5section=='student-code'">
        <div codemirror ng-model="currentActivity.data.code"></div>
        <iframe framepreview cm-bind="currentActivity.data.code"
                width="100%" frameborder="0" height="350" src='/empty/'
                style="border: 1px solid #dddddd; background-color: #e8e8e8;"></iframe>

    </div>
</div>
