<div class="question">
    <div class="editable-title"><input type="text" ng-model="currentActivity.data.question" placeholder="{{'Activity title' | translate}}"></div>
    <button class="btn btn-danger" ng-click="removeCurrentActivity()"><i class="fa fa-trash-o"></i></button>
</div>
<div class="answers simplechoice-answers">
    <div ng-repeat="alt in currentActivity.data.alternatives track by $index" class="answer">
        <div class="row">
            <div class="col-lg-11 col-md-11 col-sm-11">
                <input type="radio" ng-model="currentActivity.expected" ng-value="$index"/>
                <span class="editable-text">
                    <input type="text" ng-model="currentActivity.data.alternatives[$index]" placeholder="{{'Alternative text' | translate}}"/>
                </span>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1">
                <button class="btn btn-danger"
                        title="Apagar alternativa"
                        ng-click="currentActivity.data.alternatives.splice($index,1);">
                        <i class="fa fa-trash-o"></i>
                </button>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-success"
                ng-click="currentActivity.data.alternatives.push('')" translate> Add alternative</button>
    </div>
</div>
