<div class="question textleft">
    <div class="editable-title"><input type="text" ng-model="currentActivity.data.question" placeholder="{{'Activity title' | translate}}"></div>
    <button class="btn btn-danger" ng-click="removeCurrentActivity()"><i class="fa fa-trash-o"></i></button>
</div>
<div class="answers trueorfalse-answers">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-8">&nbsp;</div>
        <div class="col-lg-2 col-md-2 col-sm-2 textcenter" translate>True</div>
        <div class="col-lg-1 col-md-1 col-sm-1 textcenter" translate>False</div>
    </div>
    <div class="answer" ng-repeat="alt in currentActivity.data.alternatives track by $index">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-8">
                <span class="editable-text">
                    <input type="text" ng-model="currentActivity.data.alternatives[$index]" placeholder="{{'Alternative text' | translate}}"/>
                </span>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-1 textcenter">
                <input type="radio" ng-model="currentActivity.expected[$index]" ng-value="true" />
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 textcenter">
                <input type="radio" ng-model="currentActivity.expected[$index]" ng-value="false" />
            </div>
            <div class="col-lg-1 col-md-2 col-sm-1 textright">
                <button class="btn btn-danger"
                        title="Apagar alternativa"
                        ng-click="currentActivity.data.alternatives.splice($index,1);
                                  currentActivity.expected.splice($index,1)"><i class="fa fa-trash-o"></i></button>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-success"
                ng-click="currentActivity.data.alternatives.push('');
                          currentActivity.expected.push()" translate>Add alternative</button>
    </div>
</div>
