<div class="question textleft">
    <div class="editable-title"><input type="text" ng-model="currentActivity.data.question" placeholder="{{'Activity title' | translate}}"></div>
    <button class="btn btn-danger" ng-click="removeCurrentActivity()"><i class="fa fa-trash-o"></i></button>
</div>
<div>
    <p class="alert alert-info" translate>A text editor will appear for the student to freely write a response.</p>
</div>
