
<button class="btn btn-danger" ng-click="removeCurrentActivity()"><i class="fa fa-trash-o"></i></button>

<div class="question textleft">
    <textarea title="leitura" ui-tinymce="tinymceOptions" ng-model="currentActivity.data.question"></textarea>
</div>
