{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block js %} {{block.super}}
<script type="text/javascript" src="{% static 'js/admin/courses/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/admin/courses/filters.js' %}"></script>
<script type="text/javascript" src="{% static 'js/admin/courses/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/file.js' %}"></script>
{% endblock %}

{% block body_attrs %}
ng-app="admin.courses"
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}
<div class="modal fade" id="new-course-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only" translate>Cancel</span>
                </button>
                <h4 class="modal-title" id="class-modal-label" translate>New course name</h4>
            </div>
            <form role="form" novalidate method="post" action="{% url 'courses_legacy:administration.new_course' %}">
                {% csrf_token %}
                <div class="modal-body">
                        <div class="form-group">
                            <label for="course-name" class="sr-only" translate>New course name</label>
                            <input ng-model="new_course_name" id="course-name" name="name" class="form-control"
                            {%verbatim%}placeholder="{{'New course name'|translate}}"{%endverbatim%}>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" translate>Cancel</button>
                    <button type="submit" ng-disabled="!new_course_name" class="btn btn-primary" translate>
                        Create course
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- COURSES -->
<section class="course courses-admin" ng-controller="CoursesAdminController">
    {% if user.is_superuser %}
    <script type="text/ng-template" id="import_course_modal.html">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="class-modal-label" translate>
                    Select course file to import
                </h4>
            </div>
            <form role="form" method="post">
                {% csrf_token %}
                <div class="modal-body">
                        <div class="form-group">
                            <label for="course-import-file" class="sr-only" translate>Select course file to import</label>
                            <input file
                                   ng-model="course_import_file"
                                   id="course-import-file"
                                   name="course-import-file"
                                   class="form-control"
                                   {%verbatim%}placeholder="{{'Course file to import...'|translate}}"{%endverbatim%}>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="import_course()" translate>Import course</button>
                </div>
            </form>
        </div>
    </script>

    <!-- ACTIONS -->
    <div class="actions-menu" fixed-bar>
        <div class="container-fluid">
            <a class="btn btn-sm btn-primary btn-inverse add" data-toggle="modal" data-target="#new-course-modal" translate>Create course</a>
            <a class="btn btn-sm btn-primary btn-inverse download" ng-click="import_course_modal()" translate>Import course</a>
        </div>
    </div>
    <!-- END ACTIONS -->
    {% endif %}

    <div class="courses-content page container-fluid">
        <!--  HEADER -->
        <header class="page-header">
            <h3 translate>Courses</h3>
        </header>
        <!-- END HEADER -->

        <!-- FILTERS -->
        <div class="filters" ng-if=false>
            <!--  FORM INLINE -->
            <div class="form-inline">
                <!-- ROW -->
                <div class="row">
                    <div class="filter-checkbox col-md-3 col-sm-12">
                        <div class="checkbox">
                            <label><input ng-model="filters.all" type="checkbox" /> <span translate>All</span></label>
                            <label><input ng-model="filters.published" type="checkbox" /> <span translate>Published</span></label>
                            <label><input ng-model="filters.draft" type="checkbox" /> <span translate>Draft</span></label>
                        </div>
                    </div>
                    <div class="filter-keyword col-md-3 col-sm-4">
                        <input type="text" ng-model="filters.textsearch" {%verbatim%}placeholder="{{'Keyword'|translate}}"{%endverbatim%}>
                    </div>
                    <div class="filter-ordering col-md-3 col-sm-4">
                        <select ng-model="ordering">
                            <option value="start_date" translate>Start date</option>
                            <option value="status" translate>Status</option>
                            <option value="name" translate>Name</option>
                        </select>
                    </div>
                    <div class="filter-reverse col-md-3 col-sm-4">
                        <button class="btn btn-sm btn-primary" ng-class="{active:reverse}" ng-click="reverse=!reverse"><i class="fa fa-refresh" aria-hidden="true"></i>
                            <span translate>Reverse List Order</span>
                        </button>
                    </div>
                </div>
                <!-- END ROW -->
            </div>
            <!-- END FORM INLINE -->
        </div>
        <!-- END FILTERS -->

        <!-- ALL COURSES -->
        <section class="courses-list">

            <!-- COURSE -->
            <div class="line" ng-repeat="course in (filteredList = (courseList | orderBy:ordering:reverse | nullToEnd:ordering:reverse | filter:filters.check))">
                <div class="header">
                    <h4 class="course-title">
                        {% verbatim %}
                        <a ng-href="/legacy/admin/courses/{{ course.id }}" title="{{ course.name }}">{{ course.name }}</a>
                        {% endverbatim %}
                    </h4>

                    <span class="label label-warning" ng-if="course.status =='draft'" translate>Draft</span>
                    <span class="label label-success" ng-if="course.status == 'published'" translate>Published</span>
                </div>

                <span class="course-date">
                    <span ng-show="course.has_started">
                        <span class="date-label" translate>Started in</span>
                        {% verbatim %}
                        <b>{{ course.start_date | date:'d/M/yyyy' }}</b>
                        {% endverbatim %}
                    </span>
                    <span ng-show="!course.has_started && course.start_date">
                        <span class="date-label" translate>Started in</span>
                        {% verbatim %}
                        <b>{{ course.start_date | date:'d/M/yyyy' }}</b>
                        {% endverbatim %}
                    </span>
                    <span ng-show="!course.start_date">
                        <b translate>No start date</b>
                    </span>
                </span>

                <button class="btn btn-link btn-sm show-all"
                        ng-click="loadLessons(course);showLessons=!showLessons"
                        ng-class="showLessons ? 'hide-all': 'show-all'">
                    <span ng-if="!showLessons" translate>Show modules</span>
                    <span ng-if="showLessons" translate>Hide modules</span>
                </button>

                <div class="lesson-list" ng-show="showLessons">
                    <div ng-hide="course.lessons.$resolved">
                        <span translate>Loading list of modules...</span>
                    </div>
                    <div ng-show="course.lessons.length == 0">
                        <span translate>There are no modules available in this course.</span>
                    </div>
                    <div ng-show="course.lessons">
                        <div class="lesson" ng-repeat="lesson in course.lessons">
                            <span class="label label-success" ng-if="lesson.status=='published'" translate>
                                Public
                            </span>
                            <span class="label label-warning" ng-if="lesson.status!='published'" translate>
                                Draft
                            </span>

                            {% verbatim %}
                            <a ng-href="/legacy/admin/courses/{{ course.id }}/lessons/{{lesson.id}}" ng-bind="lesson.name" class="lesson-name"></a>
                            {% endverbatim %}
                        </div>
                    </div>
                </div>

            </div>
            <!-- END COURSE -->

            <div class="row" ng-show="courseList.$resolved && filteredList.length === 0">
                <p class="textcenter" translate>No course space found</p>
            </div>
            <div class="row" ng-show="!courseList.$resolved">
                <p class="textcenter">
                    <span translate>Loading courses...</span>
                    <i class="loading fa fa-refresh fa-spin"></i>
                </p>
            </div>
        </section>
        <!-- END ALL-COURSES -->
    </div>

</section>
<!-- END COURSES -->


{% endblock %}
