{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load compress %}


{% block js %} {{block.super}}

<script src="https://unpkg.com/angular-gettext@2.4.2/dist/angular-gettext.min.js"></script>
<script src="https://unpkg.com/moment@2.29.1/min/moment-with-locales.min.js"></script>
<script src="https://unpkg.com/moment-timezone@0.5.34/builds/moment-timezone-with-data-10-year-range.min.js"></script>
<script src="https://unpkg.com/angular-moment-picker@0.10.2/dist/angular-moment-picker.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://unpkg.com/angular-moment-picker@0.10.2/dist/angular-moment-picker.min.css" />

{% compress js %}
<script src="{% static 'js/admin/lesson/admin.lesson.app.js' %}"></script>
<script src="{% static 'js/admin/lesson/admin.lesson.controllers.js' %}"></script>
<script src="{% static 'js/admin/lesson/admin.lesson.services.js' %}"></script>
<script src="{% static 'js/admin/lesson/admin.lesson.directives.js' %}"></script>
<script src="{% static 'js/core-services.js' %}"></script>
<script src="{% static 'js/admin/new-course/directives.js' %}"></script>
<script src="{% static 'js/admin/filters/text.js' %}"></script>
<script src="{% static 'js/directives/alertPopup.js' %}"></script>
<script src="{% static 'js/directives/waiting-screen.js' %}"></script>
<script src="{% static 'js/directives/contenteditable.js' %}"></script>
<script src="{% static 'js/directives/fixedBar.js' %}"></script>
<script src="{% static 'js/directives/sortable.js' %}"></script>

<script type="text/javascript" src="{% static 'js/discussion-services.js' %}"></script>

{% endcompress %}
{% endblock %}

{% block body_attrs %}
ng-app="admin.lesson"
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}
<!-- COURSE-CONTENT -->
<div class="course course-lesson" ng-controller="EditLessonController" ng-cloak>

    <!-- ACTIONS -->
    <div class="actions-menu" fixed-bar>
        <div class="container-fluid">
            <div class="actions-buttons align-left">
                <button class="btn btn-sm btn-danger btn-inverse delete" ng-click="deleteLesson()">
                    <span class="visible-xs-inline" translate>Delete</span>
                    <span class="hidden-xs" translate>Delete module</span>
                </button>
            </div>
            <div class="actions-buttons align-right">
                <button class="btn btn-sm btn-primary btn-inverse save" ng-click="saveLesson()">
                    <span class="visible-xs-inline" translate>Save</span>
                    <span class="hidden-xs" translate>Save module</span>
                </button>
            </div>
            {% include 'administration/_alert.html' %}
        </div>
    </div>
    <!-- END ACTIONS -->

    {% include "_admin_header_inline.html" with course=course %}

    <!-- COURSE-CONTENT -->
    <section class="course-content container-fluid">
        <!-- UPLOAD THUMBNAIL -->
        <div class="editable-course-thumbnail">
            <div class="add-content">
                <div class="help-text" translate>Select the language for this module</div>
                <button class="btn btn-primary btn-lang" ng-class="editingCourseLanguage === 'en' ? 'active-language': ''"
                        ng-click="setLanguage('en')">EN</button>
                <button class="btn btn-primary btn-lang" ng-class="editingCourseLanguage === 'pt-br' || editingCourseLanguage === 'pt_br' ? 'active-language': ''"
                        ng-click="setLanguage('pt-br')">PT-BR</button>
                <button class="btn btn-primary btn-lang" ng-class="editingCourseLanguage === 'es' ? 'active-language': ''"
                        ng-click="setLanguage('es')">ES</button>
                <div class="help-text text-select"><span translate>Select a thumbnail for this module</span> {{editingCourseLanguage}}</div>
                <button class="btn btn-primary add-image"
                        ng-class="{'btn-inverse':mediaSection=='thumbnail'}"
                        ng-click="mediaSection='thumbnail'">Thumbnail</button>
            </div>
        </div>

        <section class="lesson-thumbnail" ng-show="mediaSection=='thumbnail'" ng-init="thumbfile=null">
            <div ng-show="addThumb" ng-init="addThumb=(thumbfile===null)">
                <div class="add-thumbnail">
                    <div class="centered">
                        <div class="form-group">
                            <i class="fa fa-picture-o fa-4x"></i>
                            <h1 class="bottom top">Thumbnail</h1>
                            <p translate>(minimum width: 845px)</p>

                            <file ng-model="thumbfile" name="thumbnail" class="form-control"></file>
                        </div>

                        <button class="btn btn-danger delete"
                                ng-click="thumbfile=null; addThumb=!lesson.thumbnail" translate>Cancel</button>

                        <button class="btn btn-success save"
                                ng-click="addThumb=(thumbfile===null); saveThumbLesson()" translate>Insert</button>
                    </div>
                </div>
            </div>

            <div ng-show="!addThumb">
                <div class="add-thumbnail">
                    <div class="uploaded-lesson-thumbnail centered">
                        <img preview-image ng-model="thumbfile" class="img-responsive" ng-show="thumbfile"/>
                        {% verbatim %}
                        <img ng-src="{{lesson.thumbnail}}" class="img-responsive" ng-show="!thumbfile"/>
                        {% endverbatim %}
                    </div>
                    <button class="btn-edit-thumbnail btn btn-success"
                            ng-click="addThumb=true" translate>Change thumbnail</button>
                </div>
            </div>
        </section>
        <!-- END ADD THUMBNAIL SECTION -->
        <hr/>
        <div class="add-content" ng-init="section='video'">
            <div class="secondary-header row">
                <div class="col-sm-2 col-md-1">
                    <div class="unit" translate>Unit:</div>
                </div>
                <div class="col-sm-7 col-md-9">
                    <div class="editable-text">
                        <input type="text" ng-model="currentUnit.title" {% verbatim %}placeholder="{{'Unit name'|translate}}"{% endverbatim %}>
                    </div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <button class="btn btn-sm btn-danger btn-inverse delete" ng-click="removeCurrentUnit()"
                    {% verbatim %}title="{{'Delete this unit'|translate}}"{% endverbatim %} translate>Delete this unit</button>
                </div>
            </div>
            {% verbatim %}
            <nav class="release-settings">
                <div>
                    <h5 class="dark">Unit status:</h5>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm"><span ng-bind="currentUnit.status"></span>&nbsp;</button>
                        <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-chevron-down"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="status_option in status_options">
                                <a ng-bind="status_option" ng-click="setUnitStatus(status_option)"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-if="currentUnit.status === 'draft'">

                    <h5 class="dark" translate>Scheduling</h5>
                    <p>
                        <label>
                            <input type="checkbox" ng-model="currentUnit.schedule">
                            <span class="dark" translate>Schedule this unit to be sent later</span>
                        </label>
                    </p>

                    <div class="form-group" ng-if="currentUnit.schedule">
                        <h5 class="dark" translate>This unit will be sent at: </h5>
                        <input moment-picker
                            class="form-control"
                            placeholder="{{'Select a date and time...' | translate}}"
                            format="LL H:[00] | [GMT] Z"
                            min-view="month"
                            max-view="day"
                            set-on-select="true"
                            min-date="schedule.now"
                            ng-model='currentUnit.release_date'>

                        <span class="dark" translate>The timezone was detected from your browser</span>
                    </div>
                </div>
            </nav>
            {% endverbatim %}

            <div id="video-activity-buttons">
                <button class="btn btn-primary add-video"
                        ng-class="{'btn-inverse-white': section !== 'video'}"
                        ng-click="section ='video'" translate>Video</button>

                <button class="btn btn-primary"
                        ng-class="{'btn-inverse-white': section !== 'activity'}"
                        ng-click="section ='activity'" translate>Activity</button>
            </div>
        </div>

        <!-- VIDEO SECTION -->
        <div class="video" ng-class="{'hidder': section !== 'video'}">

            <div class="waiting textcenter jumbotron"
                 style="height: 419px"
                 ng-show="currentUnit.video.youtube_id && !playerReady">
                <div class="middle">
                    <i class="fa fa-refresh fa-5x"></i>
                </div>
            </div>

            <!-- ADD-VIDEO-INTRO -->
            <div class="add-video-intro" ng-hide="currentUnit.video.youtube_id">
                <!-- CENTERED -->
                <div class="centered">
                    <i class="fa fa-youtube-play fa-4x"></i>
                    <h1 translate>Unit video</h1>
                    <div class="form-group">
                        <input type="text" class="form-control"
                               ng-model="currentUnit.intended_youtube_id"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger delete"
                                ng-click="currentUnit.intended_youtube_id=''" translate>Cancel</button>

                        <button class="btn btn-success save"
                                ng-click="setCurrentUnitVideo()" translate>Insert</button>
                    </div>
                </div>
                <!-- END CENTERED -->
            </div>

            <div class="current-video" ng-class="{'hidder': currentUnit.video.youtube_id == null}">

                <div class="embed-responsive embed-responsive-16by9">
                    <div class="embed-responsive-item" id="youtube-player" youtube-player></div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <p ng-bind="currentUnit.video.name"></p>
                    </div>
                    <div class="col-xs-6 textright">
                        <button class="btn-edit-video btn btn-success btn-sm uppercase"
                                ng-click="currentUnit.video.youtube_id = null" translate>Change video</button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6">
                        <p translate>Video to be downloaded:</p>
                    </div>
                    <div class="col-xs-6" ng-if="currentUnit.video.file">
                        {% verbatim %}
                            {{ currentUnit.video.file.name || currentUnit.video.file }}
                        {% endverbatim %}
                        <button class="btn btn-danger trash" ng-click="removeVideo()"></button>
                    </div>
                    <div class="col-xs-6 textright">
                        <button ng-if="!currentUnit.video.file" class="btn btn-sm btn-success add" ngf-select="selectVideo($file)" ngf-multiple="false" accept="video/*">Upload video</button>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-xs-6" translate>
                            Chat Room: <input type="text" ng-model="currentUnit.chat_room" />
                    </div>
                </div> -->
            </div>
            <!-- END ADD-VIDEO-INTRO -->

        </div>
        <!-- END VIDEO SECTION -->

        <!-- ACTIVITIES SECTION -->
        <div class="activity" ng-show="section==='activity'">
            <div class="row">
                <div class="panel panel-default" ng-show="currentActivity">
                    <div class="panel-heading clearfix">
                        <span ng-repeat="activity in currentUnit.activities">
                            <button class="btn btn-default"
                                ng-class="{'btn-info':currentActivity==activity}"
                                ng-click="selectActivity(activity)"
                                ng-bind="$index+1"></button>
                            &nbsp;
                        </span>

                        <button class="btn btn btn-success"
                            ng-click="currentActivity=null">+</button>
                    </div>

                    <div class="panel-body">
                        <ng-include src="loadActivityTemplateUrl()"></ng-include>
                        <div ng-hide="currentActivity.type === 'reading'">
                            <hr/>
                            <p translate>The text below will be shown to users when they complete the activity correctly</p>
                            <textarea ui-tinymce="tinymceOptions"
                                      ng-model="currentActivity.comment"
                                      {% verbatim %}placeholder="{{'Comments'|translate}}"{% endverbatim %} name="content"></textarea>
                        </div>
                    </div>
                </div>

                <div class="add-activity textcenter" ng-hide="currentActivity">
                    <!-- CENTERED -->
                    <div class="centered">
                        <i class="fa fa-pencil fa-4x"></i>
                        <h1 class="top" translate>Activity unit</h1>
                        {% verbatim %}
                        <div class="col-md-4 col-sm-12" ng-repeat="type in activityTypes">
                            <button class="activity-btn btn btn-default"
                                    ng-click="addNewActivity(type.name)">
                                <span>{{type.label}}</span>
                            </button>
                        </div>
                        {% endverbatim %}
                    </div>
                    <!-- END CENTERED -->
                </div>
            </div>
        </div>
        <!-- END ACTIVITIES SECTION -->

        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div id="side-notes">
                    <h2 translate>About this unit</h2>
                    <textarea ui-tinymce="tinymceOptions"
                              ng-model="currentUnit.side_notes"
                              {% verbatim %}placeholder="{{'Additional materials'|translate}}"{% endverbatim %}
                              name="content"></textarea>
                </div>
            </div>
        </div>
        <!-- END ROW -->
    </section>
    <!-- END COURSE-CONTENT -->
</div>
<!-- END COURSE-CONTENT -->
<div waiting-screen class="waiting waiting-screen">
    <div class="middle">
        <i class="fa fa-refresh fa-5x"></i>
    </div>
</div>
{% endblock content %}
