{% extends "base.html" %}
{% load compress %}
{% load static %}
{% load i18n %}

{% block js %}
    {{ block.super }}
    <script src="https://unpkg.com/ui-select@0.19.8/dist/select.min.js"></script>
    <script src="https://unpkg.com/angular-gettext@2.4.2/dist/angular-gettext.min.js"></script>


    {% compress js %}
        <!-- Course Permissions -->
        <script type="text/javascript" src="{% static 'js/course-permissions/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/course-permissions/controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/course-permissions/services.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/directives/alertPopup.js' %}"></script>
        
    {% endcompress %}
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block body_attrs %}
ng-app="course-permissions"
{% endblock %}

{% block content %}

<section class="course permissions" ng-controller="PermissionsController">
		<!-- ACTIONS -->
        <div class="actions-menu " fixed-bar>
            <div class="container-fluid">
                {% include 'administration/_alert.html' %}
                <div class="actions-buttons">
                    <button class="btn btn-danger" ng-click="cancel_permissions_changes()"><span translate>Cancel</span> | <i class="fa fa-times"></i></button>
                    <button class="btn btn-success" ng-click="save_permissions()"><span translate>Save</span> | <i class="fa fa-save"></i></button>
                </div>
            </div>
        </div>
        <!-- END ACTIONS -->

    {% include "_admin_header_inline.html" with course=course hide_editable_fields=True %}

    <section class="permissions-content page container-fluid">
        <header class="page-header header-bottom-distance">
            <div class="row">
                <div class="col-md-9 col-sm-8 col-xs-9">
                    <h3 translate>Course Permissions</h3>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-3">
                    <a class="btn btn-primary" ng-click="new_professors()" translate>Insert User</a>
                </div>
            </div>
        </header>
        <table class="table table-striped">
            <thead ng-if="professors.length > 0">
                <tr>
                    <th class="fullname" translate>Full name</th>
                    <th class="email" translate>Email</th>
                    <th class="username" translate>User</th>
                    <th class="role" translate>Role</th>
                    <th class="actions" translate>Actions</th>
                </tr>
            </thead>
            <span ng-if="professors.length === 0" translate>There is no user permissions configured</span>
            <tbody>
                <tr ng-repeat="professor in professors">
                    {% verbatim %}
                    <td>{{professor.user.name}}</td>
                    <td>{{professor.user.email}}</td>
                    <td>{{professor.user.username}}</td>
                    {% endverbatim %}
                    <td>
                        <select class="form-control" ng-model="professor.role" ng-change="update_professor_role(professor)">
                            {% comment %} <option value="instructor">Instructor</option> {% endcomment %}
                            <option value="assistant" translate>Assistant Professor</option>
                            <option value="coordinator" translate>Coordinating Professor</option>
                        </select>
                        {{ professor.role }}
                    </td>
                    {% verbatim %}
                    <td class="textcenter">
                        <button class="btn btn-warning" ng-click="remove_professor(professor, $index)"><i class="fa fa-trash-o"></i></button>
                    </td>
                    {% endverbatim %}
                </tr>
            </tbody>
        </table>

        <header class="page-header header-bottom-distance">
            <div class="row">
                <div class="col-md-9 col-sm-8">
                    <h3 translate>Is public</h3>
                </div>
            </div>
        </header>
        <table class="table table-striped">
            <div>
                <input type="checkbox" name="is-public" ng-model="course.is_public" id="is-public">
                <label for="is-public" translate>Mark if this course is public and can be accessed by anyone</label><br/>
            </div>
        </table>

        <div ng-if="!course.is_public">
        <header class="page-header">
            <h3 translate>Access Groups</h3>
        </header> 
        {% verbatim %}
        <ui-select multiple theme="bootstrap" class="form-control" ng-model="course_groups.groups" ng-show="!modal.all_students && !modal.specify_students" close-on-select="false">
            <ui-select-match placeholder="Escolha um ou mais grupos">{{ group_label($item) }}</ui-select-match>
            <ui-select-choices repeat="group.id as group in groups | filter: {name: $select.search}" group-by="contract_name">
                <div ng-bind-html="get_as_safe_html((group.name | highlight: $select.search))"></div>
            </ui-select-choices>
        </ui-select>
        {% endverbatim %}
        </div>

    </section>
    <!-- modal add user -->
    <script type="text/ng-template" id="newProfessorModal.html">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only" translate>Close</span></button>
                        <h4 class="modal-title" id="add-users-modal-label" translate>Insert User</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <label for="search-user" class="control-label" translate>Search for a User</label>
                            <div class="autocomplete">
                                <input type="text" id="search-user" class="form-control" ng-model="asyncSelected"
                                        placeholder="Digite o nome, email ou usuário do(a) professor(a) que deseja pesquisar..."
                                        uib-typeahead="user as user.formated_name for user in getUsers($viewValue)"
                                        typeahead-loading="loadingLocations"
                                        typeahead-on-select="on_select_professor($model); asyncSelected = '';"
                                        typeahead-min-length="2"
                                        typeahead-wait-ms="500">
                                <i ng-show="loadingLocations" class="loading fa fa-refresh fa-spin"></i>
                            </div>
                            <table class="table table-list" ng-show="new_professors.length">
                                <tr>
                                    <th class="fullname" translate>Full name</th>
                                    <th class="email" translate>Email</th>
                                    <th class="username" translate>User</th>
                                    <th class="actions" translate>Actions</th>
                                </tr>
                                <tr ng-repeat="new_professor in new_professors">
                                    {% verbatim %}
                                    <td>{{new_professor.name}}</td>
                                    <td>{{new_professor.email}}</td>
                                    <td>{{new_professor.username}}</td>
                                    {% endverbatim %}
                                    <td class="textcenter td-actions"><button class="btn btn-warningtex" ng-click="remove_new_professor($index)"><i class="fa fa-trash-o"></i></button></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="cancel()">Cancelar</button>
                        <button type="button" class="btn btn-primary" ng-click="add_professors()" translate>Insert Users</button>
                    </div>
                </div>
    </script>

</section>

{% endblock %}
