{% extends "base.html" %}
{% load compress %}
{% load static %}
{% load i18n %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block js %}
    {{ block.super }}
      <script src="https://unpkg.com/angular-gettext@2.4.2/dist/angular-gettext.min.js"></script>

    {% compress js %}
        <!-- Reports -->
        <script type="text/javascript" src="{% static 'js/reports/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/reports/controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/reports/services.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>
    {% endcompress %}
    <script>
        window.course_id = {{ course.pk }};
        window.user_id = {{ user.pk }};
        {% if user.is_staff or user.is_superuser  %}
        window.is_admin = true;
        {% else %}
        window.is_admin = false;
        {% endif %}
    </script>
{% endblock %}

{% block body_attrs %}
    ng-app="reports"
{% endblock %}

{% block content %}
<div class="course course-stats">

    {% if in_admin %}
        {% include "_admin_header_inline.html" with course=course hide_editable_fields=True%}
    {% else %}
        {% include "_course-header-inline.html"  with course=course %}
    {% endif %}

  {% verbatim %}
  <section class="stats-content page container-fluid" ng-controller="ReportsCtrl">

    <header class="page-header">
      <h3 translate>Courses Report</h3>
    </header>

    <!-- FILTERS -->
    <div class="filters">
      <!--  FORM INLINE -->
      <form class="form-inline">
        <!-- ROW -->
        <div class="row">
          <div class="col-xs-12 col-lg-6 col-sm-6 col-md-8">
            <label for="filter-class"> <span translate>Filter by classes:</span>
              <select class="form-control" id="filter-class" ng-model="filters.selected_class"
                ng-change="filter_stats()">
                <optgroup label="Liste por:">
                  <option ng-if="my_classes.length" value="my_classes" translate>My classes</option>
                  <option value="all" ng-if="current_user_role == 'coordinator'" translate>All classes in this course</option>
                  <option value="others_classes" ng-if="current_user_role == 'coordinator' && others_classes.length" translate>Classes of other teachers</option>
                </optgroup>
                <optgroup ng-if="others_classes.length || my_classes.length " label="Ou escolha uma turma:">
                  <option ng-repeat="klass in my_classes" id="{{klass.id}}" value="{{klass.id}}">{{ klass.name }}
                  </option>
                  <option ng-repeat="klass in others_classes" id="{{klass.id}}" value="{{klass.id}}">{{ klass.name }}
                  </option>
                </optgroup>
              </select>
            </label>
          </div>
          <div class="col-xs-12 col-lg-6 col-sm-6 col-md-4 filter-keyword">
            <label for="form-control"> <span translate>Filter by Keywords:</span>
              <input type="text"
                placeholder="{{'Search by keywords' | translate}}"
                class="form-control" ng-model="filters.textsearch">
              <button class="btn btn-success pull-right search-buttons" type="submit" ng-click="pagination.currentPage = 1; filter_stats()" translate>Search</button>
              <button class="btn btn-danger search-buttons" type="submit" ng-show="filters.textsearch!==''"
                ng-click="clean_keyword_search()" translate>Clean</button>
            </label>
          </div>
          <br/>
        </div>
        <br/>
      </form>
      <!-- END FORM INLINE -->
    </div>
    <!-- END FILTERS -->

    <section class="row tabs-content">
      <div class="col-xs-12">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#students" data-toggle="tab">
              <i class="fa fa-graduation-cap" aria-hidden="true"></i><span translate>Students</span></a>
          </li>
          <li>
            <a href="#lessons" data-toggle="tab">
              <i class="fa fa-book" aria-hidden="true"></i><span translate>Chapters</span></a>
          </li>
        </ul>

        <div class="tab-content">
          <div class="tab-pane fade in active" class="students-list" id="students">
            <div ng-hide="reports_loaded">
              <p translate>Loading student reports...<i class="loading fa fa-refresh fa-spin"></i></p>
            </div>
            <div ng-show="reports_loaded">
              <h3 translate>Student progress</h3>
              <p class="students-total"><span translate>Total number of students:</span> <span>{{ user_reports_total_items }}</span></p>
              <p class="students-total"><span translate>Number of students currently displayed:</span>
                <span>
                  {{users_reports ? users_reports.length : 0}}
                </span>
              </p>
              <!--
                            <div class="col-sm-4 textright">
                                <input type="text" placeholder="{% blocktrans %}Search student{% endblocktrans %}" class="form-control search-filter">
                            </div>
                            -->
            </div>
                <ul class="students" ng-show="reports_loaded">
                  <li ng-repeat="user in users_reports">
                    <div class="row col-12">
                      <div class="col-sm-1 col-xs-1">
                        <div class="user-icon">
                          <a ng-href="#!/profile/{{ user.username }}"><img ng-src="{{ user.picture }}"
                              alt="{{ user.name }}"></a>
                        </div>
                      </div>
                      <div class="col-sm-4 col-xs-8">
                        <strong>{{ user.name }}</strong><br>
                        (<a ng-href="#!/profile/{{ user.username }}">{{ user.email }}</a>)
                      </div>

                      <div class="col-sm-2 col-md-5 col-xs-8 course-progress">
                        <span class="progress-label">{{ user.course_progress }}%</span>
                        <div class="progress hidden-xs">
                          <div class="progress-bar" style="width:{{ user.course_progress }}%;"></div>
                        </div>
                      </div>
                      <div class="row-fluid col-md-2 col-sm-3 col-xs-12 textright">
                        <span class="btn btn-sm btn-primary"
                          ng-click="show_user_progress_details(user);showLessons=!showLessons"><span translate>Show Steps</span> <i class="fa" ng-class="{'fa fa-caret-down':!showLessons,'fa fa-caret-up':showLessons}"></i>
                        </span>
                      </div>
                      <div class="lessons col-xs-12" ng-if="showLessons">
                        <div class="col-lg-12" ng-hide="user.lessons_stats.$resolved">
                          <span><span translate>Loading progress report...</span><i class="loading fa fa-refresh fa-spin"></i></span>
                        </div>
                        <div class="chapter" ng-repeat="lesson in user.lessons_stats.lessons_progress">
                          <div class="row">
                            <div class="col-sm-offset-1 col-sm-4 col-xs-10">
                                <i ng-class="{ 'invisible-icon': lesson.status === 'published' }" class="fa fa-calendar-o calendar-icon"></i>
                                {{ lesson.name }}
                            </div>
                            <div class="col-sm-3 col-xs-2 chapter-progress">
                              <div class="progress-label">{{ lesson.progress | number:0 }}%</div>
                              <div class="progress hidden-xs">
                                <div class="progress-bar" style="width:{{ lesson.progress }}%;"></div>
                              </div>
                            </div>
                          </div>
                          <div class="activity" ng-repeat="activity in lesson.activities">
                            <div class="row">
                              <div class="col-sm-offset-1 col-sm-4 col-xs-8">
                                <div class="activity-name"><a href="../lesson/{{lesson.slug}}/#/{{activity.position+1}}"
                                    target="_blank">{{activity.name}}</a></div>
                              </div>
                              <div class="col-sm-3 col-xs-4 textright">
                                <div class="stats"
                                  ng-class="{ 'done': activity.done == 'true', 'undone': activity.done == 'false' }">
                                  <span class="icon"></span>
                                  <span ng-show="activity.done == 'true'" translate>Done</span>
                                  <span ng-hide="activity.done == 'true'" translate>Not done</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>

            <div ng-show="reports_loaded" class="pagination-wrapper" ng-if="user_reports_total_items > pagination.report_page_size">
              <!-- Small screens -->
              <ul uib-pagination boundary-links="true" total-items="user_reports_total_items"
                ng-model="pagination.currentPage" max-size="3" items-per-page="pagination.report_page_size"
                ng-change="filter_stats()" class="pagination pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;"
                first-text="&laquo;" last-text="&raquo;"></ul>
              <!-- Medium screens -->
              <ul uib-pagination boundary-links="true" total-items="user_reports_total_items"
                ng-model="pagination.currentPage" force-ellipses="false" max-size="5"
                items-per-page="pagination.report_page_size" ng-change="filter_stats()" class="pagination pagination-md"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="primeira" last-text="última"></ul>

              <!-- Large screens -->
              <ul uib-pagination boundary-links="true" total-items="user_reports_total_items" ng-model="pagination.currentPage"
                force-ellipses="false" max-size="10" items-per-page="pagination.report_page_size"
                ng-change="filter_stats()" class="pagination pagination-lg"
                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="primeira" last-text="última"></ul>
            </div>
          </div>


          <div class="tab-pane fade in" id="lessons">
            <div class="row">
              <div class="col-lg-8">
                <h3 translate>Average student progress per class</h3>
                <div class="col-lg-12" ng-hide="course_stats.$resolved">
                  <p translate>Loading steps report...<i class="loading fa fa-refresh fa-spin"></i></p>
                </div>
              </div>
            </div>
            <ul class="lessons">
              <li class="lesson" ng-repeat="lesson in course_stats.lessons_avg_progress">
                <div class="row">
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-10">
                    <div class="lesson-name">{{ lesson.name }}</div>
                  </div>
                  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-2 course-progress">
                    <span class="progress-label">{{ lesson.progress  | number:0  }}%</span>
                    <div class="progress hidden-xs">
                      <div class="progress-bar" style="width:{{ lesson.progress }}%;"></div>
                    </div>
                  </div>
                  <!--<div class="col-lg-5">
                                        <span>0 perguntas no fórum</span>
                                        <span>0 respostas no fórum</span>
                                        <span>0 anotações</span>
                                    </div>-->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
{% endverbatim %}
</div>


{% endblock content %}
