{% extends "base.html" %}
{% load compress %}
{% load static %}
{% load i18n %}
{% load in_group %}
{% load append_to_get %}

{% block js %}
{{ block.super }}
    {% compress js %}
        <!-- Users admin -->
        <script type="text/javascript" src="{% static 'js/admin/users-admin/app.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/admin/users-admin/controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/admin/users-admin/services.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/directives/alertPopup.js' %}"></script>
    {% endcompress %}
    <script>
        window.total_users_found = {{ total_users_number }};
    </script>
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block body_attrs %}
ng-app="users-admin"
{% endblock %}

{% block content %}
<!-- COURSES -->
<section class="users" ng-app="users-admin" ng-controller="UsersAdminController">
    <!-- ACTIONS -->
    <div class="actions-menu actions-menu-message" ng-hide="alert.hidden" fixed-bar>
        <div class="container">
            {% include 'administration/_alert.html' %}
        </div>
    </div>
    <!-- END ACTIONS -->
    <div class="users-content page container-fluid">
        <!--  HEADER -->
        <header class="page-header">
            <h2 translate>Administration of users and groups</h2>
        </header>
        <!-- END HEADER -->

        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#users" data-toggle="tab" translate>Users</a>
            </li>
            <li>
                <a id="groups-btn" href="#groups" data-toggle="tab" translate>Groups</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade in active users-list" id="users">


              <!-- FILTERS -->
              <div class="filters">
                  <form role="form" class="form-inline" method="GET">
                      <div class="form-group">
                          <label class="sr-only" for="keyword" translate>Keyword</label>
                          <input type="text"
                                 {%verbatim%}placeholder="{{'Enter a keyword'|translate}}"{%endverbatim%}
                                 class="form-control" id="keyword"
                                 name="keyword"
                                 ng-model="filters.keyword">
                      </div>
                      <div class="form-group filter-checkbox">
                          <div class="checkbox">
                              <label>
                                  <input type="checkbox" name="admin" ng-model="filters.admin"> <span translate>Administrators</span>
                              </label>
                              <label>
                                  <input type="checkbox" name="admin" ng-model="filters.blocked"> <span translate>Inactive</span>
                              </label>
                          </div>
                      </div>
                      <div class="form-group">
                          <button class="btn btn-sm btn-primary search" ng-click="filter_users()" translate>Search</button>
                      </div>
                  </form>
                  <!-- END FORM INLINE -->
              </div>
              <!-- END FILTERS -->

                <h3 translate>User list</h3>

                <div class="col-lg-12" ng-hide="users_page.$resolved">
                    <p><span translate>Loading user list</span>... <i class="loading fa fa-refresh fa-spin"></i></p>
                </div>
                <div class="col-lg-12" ng-if="users_page.$resolved && users_page.length==0">
                    <p translate>No users were found.</p>
                </div>
                <section ng-show="users_page.$resolved">
                    <p class="total"><span translate>Total of</span> {% verbatim %}<span>{{ total_users_found }}{% endverbatim %} <span translate>registered users</span></span></p>
                    <table>
                        <thead>
                            <tr>
                                <th class="username-email" translate>Name</th>
                                <th class="username-email" translate>User e-mail</th>
                                <th class="groups" translate>Groups</th>
                                <th class="role" translate>Administrator</th>
                                <th class="active" translate>Active</th>
                                <th class="actions" translate translate>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users_page">
                            {% verbatim %}
                                <td class="col-md-4">
                                    <div class="text-left">
                                        <a href="/#!/profile/{{user.username}}"><b>{{ user.name || user.username }}</b></a>
                                    </div>
                                </td>
                                <td class="col-md-4">
                                    ({{ user.email }})
                                </td>
                                <td class="col-md-6">
                                    <b ng-repeat="(key, group) in user.groups">{{  key>0 ? ", " : "" }}{{group.name}}</b>
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" ng-model="user.is_superuser" ng-change="update_user(user)">
                                </td>
                                <td class="text-center">
                                    <input type="checkbox" ng-model="user.is_active" ng-change="update_user(user)">
                                </td>
                                <td class="textcenter">
                                    <button class="btn btn-danger btn-inverse trash js-delete" ng-click="delete_user(user, $index)"></button>
                                </td>
                            {% endverbatim %}
                            </tr>
                        </tbody>
                    </table>
                </section>

                <div class="pagination-wrapper">
                    <ul uib-pagination boundary-links="true" total-items="total_users_found" ng-model="current_page" rotate="true" force-ellipses="true" max-size="5" items-per-page="50" ng-change="page_changed()" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;"
                    {%verbatim%}first-text="{{'first page' | translate}}" last-text="{{'last page' | translate}}"{%endverbatim%} ng-hide="filtered"></ul>
                </div>
            </div>

            {% verbatim %}
            <div class="tab-pane fade in groups-list" id="groups" ng-controller="GroupAdminController">
                <section>
                    <div class="row section-header">
                        <div class="col-xs-8">
                            <h3 translate>Group list</h3>
                            <div class="col-lg-12" ng-hide="groups_loaded">
                                <p><span translate>Loading group list</span>...<i class="loading fa fa-refresh fa-spin"></i></p>
                            </div>
                            <div class="col-lg-12" ng-if="groups_loaded && groups.page.length===0">
                                <p translate>No users were found.</p>
                            </div>
                            <p class="total"><span translate>Total of</span> <span>{{ total_groups_found }} <span translate>registered groups</span></span></p>
                            <p class="total"><span translate>Showing</span> <span>{{ groups_being_shown }} <span translate>groups in page</span></span></p>
                        </div>
                        <div class="col-xs-4">
                            <a class="btn btn-sm btn-primary add new-group" ng-click="new_group()" translate>New group</a>
                        </div>
                    </div>

                    <!--
                    <div class="row contracts-filter">
                        <div class="col-xs-12">
                            <h4>Filtro por contratos</h4>
                            <select class="form-control" ng-model="contract" ng-change="filter_contracts()">
                                <option value="0">Todos os contratos</option>
                                <option ng-repeat="contract in contracts" value="{{contract.id}}">{{ contract.name }}</option>
                            </select>
                        </div>
                        <br/>
                    </div>
                    -->

                    <div class="row header">
                        <div class="col-sm-3 col-lg-4" translate>Group name</div>
                        <div class="col-sm-3 col-lg-3" translate>number of members</div>
                        <div class="col-sm-6 col-lg-5 actions"></div>
                    </div>

                    <div class="row group" ng-repeat="group in groups.page" ng-show="groups_loaded">
                        <div class="col-sm-3 col-lg-4 group-name">{{group.name}}</div>
                        <div class="col-sm-3 col-lg-3 members-number">{{group.users.length}} <span translate>members</span></div>
                        <div class="col-sm-6 col-lg-5 actions">
                            <button class="btn btn-sm btn-primary btn-inverse"
                                    ng-init="show_members=false"
                                    ng-click="show_members=!show_members">
                                    gerenciar grupo
                                    <i class="fa" ng-class="{'fa fa-caret-down':!show_members,'fa fa-caret-up':show_members}"></i>
                            </button>
                            <button class="btn btn-sm btn-danger btn-inverse delete" ng-click="remove_group(group)" translate>Delete group</button>
                        </div>

                        <div class="container-fluid members" ng-show="show_members">
                            <h3><span translate>Group</span> {{group.name}}</h3>
                            <div class="row group-actions">
                                <div class="col-sm-7" translate>

                                </div>
                                <div class="col-sm-5">
                                  <div class="pull-right">
                                    <button class="btn btn-sm btn-primary btn-inverse add" ng-click="new_users(group)" translate>Add members</button>
                                    <button class="btn btn-sm btn-danger btn-inverse delete" ng-click="remove_users(group)" translate>Remove members in batch</button>
                                  </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row member-line" ng-repeat="user in group.users">
                                <div class="col-sm-9">
                                    <div class="">
                                        <div class="user-icon">
                                            <a href="#!/profile/{{user.username}}"><img ng-src="{{ user.picture }}" alt="{{ user.name }}"></a>
                                        </div>
                                        <div>
                                            <b translate>Name</b>: {{ user.name }}
                                            <b translate>Email</b>: (<a href="#!/profile/{{user.username}}">{{user.email}}</a>)
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                  <div class="pull-right">
                                    <button class="btn btn-danger btn-inverse trash" ng-click="remove_user(group, user)"></button>
                                  </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </section>
                <div class="pagination-wrapper">
                    <ul uib-pagination boundary-links="true" total-items="total_groups_found" ng-model="group_current_page" rotate="true" force-ellipses="true" max-size="5" items-per-page="50" ng-change="groups_page_changed()" class="pagination" previous-text="&lsaquo;" next-text="&rsaquo;"
                    first-text="{{'first page' | translate}}" last-text="{{'last page' | translate}}"></ul>
                </div>
            </div>
            {% endverbatim %}
        </div>
    </div>

<!-- modal add user -->
<script type="text/ng-template" id="newUserModal.html">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only" translate>Cancel</span></button>
                    {% verbatim %}
                    <h4 class="modal-title" id="add-users-modal-label"><span translate>Add users to the group</span> "{{group.name}}"</h4>
                    {% endverbatim %}
                </div>
                <div ng-show="!bulk_add_show">
                    <div class="modal-body">
                        <form role="form">
                            <label for="search-user" class="control-label" translate>User search</label>
                            <div class="autocomplete">
                                <input type="text" id="search-user" class="form-control" ng-model="asyncSelected"
                                        placeholder="Digite o nome, email ou nome de usuário a ser pesquisado"
                                        uib-typeahead="user as user.formated_name for user in getUsers($viewValue)"
                                        typeahead-loading="loadingLocations"
                                        typeahead-on-select="on_select_professor($model); asyncSelected = '';"
                                        typeahead-min-length="2"
                                        typeahead-wait-ms="500">
                                <!-- <i ng-show="loadingLocations" class="loading fa fa-refresh fa-spin"></i> -->
                            </div>
                            <table class="table table-list" ng-show="new_users.length">
                                <tr>
                                    <th class="fullname" translate>Full name</th>
                                    <th class="email" translate>E-mail</th>
                                    <th class="username" translate>Username</th>
                                    <th class="actions" translate>Actions</th>
                                </tr>
                                <tr ng-repeat="new_user in new_users">
                                    {% verbatim %}
                                    <td>{{new_user.name}}</td>
                                    <td>{{new_user.email}}</td>
                                    <td>{{new_user.username}}</td>
                                    {% endverbatim %}
                                    <td class="textcenter"><button class="btn btn-warning" ng-click="remove_new_professor($index)"><i class="fa fa-trash-o"></i></button></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-left">
                            <label class="check"><input type="checkbox" ng-model="bulk_add_show" translate>Add in batch</label>
                        </div>
                        <button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="add_professors()" translate>Add users in batch</button>
                    </div>
                </div>
                <div ng-show="bulk_add_show">
                    <div class="modal-body">
                        <label for="bulk-add-list" translate>User list</label>
                        <textarea id="bulk-add-list" ng-model="bulk_add_list" class="form-control" rows="10"
                            {%verbatim%}placeholder="{{'Copy the email list here. Just an e-mail for line.' | translate}}"{%endverbatim%}>
                        </textarea>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-left">
                            <label class="check"><input type="checkbox" ng-model="bulk_add_show" translate>Add in batch</label>
                        </div>
                        <button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="bulk_add()" translate>Add users in batch</button>
                    </div>
                </div>
            </div>
</script>

<!-- modal bulk remove user -->
<script type="text/ng-template" id="removeUsersModal.html">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only" translate>Cancel</span></button>
                    {% verbatim %}
                    <h4 class="modal-title" id="remove-users-modal-label"><span translate>Remove users from group batch</span> "{{group.name}}"</h4>
                    {% endverbatim %}
                </div>
                <div class="modal-body">
                    <label for="bulk-remove-list" translate>User list</label>
                    <textarea id="bulk-remove-list" ng-model="bulk_remove_list" class="form-control" rows="10"
                    {%verbatim%}placeholder="{{'Copy the email list here. Just an e-mail for line.' | translate}}"{%endverbatim%}></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="bulk_remove()" translate>Delete users</button>
                </div>
            </div>
</script>

<!-- model add group -->
<script type="text/ng-template" id="newGroupModal.html">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">&times;</span><span class="sr-only" translate>Cancel</span></button>
                    {% verbatim %}
                    <h4 class="modal-title" id="add-users-modal-label" translate>New group</h4>
                    {% endverbatim %}
                </div>
                <div class="modal-body">
                    <form role="form">
                        <label for="search-user" class="control-label" translate>New group name</label>
                        <div class="autocomplete">
                            <input type="text" id="search-user" class="form-control" ng-model="group_name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="cancel()" translate>Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="add_group()" translate>Create group</button>
                </div>
            </div>
</script>

</section>
<!-- END COURSES -->
{% endblock %}
