{% extends 'account/base.html' %}
{% load i18n %}

{% block account_content %}
<div class="home">
    <section class="login login-content">

    <div class="message">
        <h2 translate>Your account is now active!</h2>
    </div>

    <form method="post" action="{% url 'account_login' %}" class="login-form">{% csrf_token %}
        <fieldset>
            <legend>
                <h2 translate>Access the AEA Academy</h2>
                <p translate>
                    You will have access to training courses for the practical application of technologies, communication strategies and campaigns for advocacy, as well as for the claim on the human and Indigenous rights and the sustainability of the Amazon basin, in the context of the global climate crisis.
                </p>
                <p translate>
                    Access and navigate in a graphic academy, which prioritizes audiovisual content, where you can interact with other participants through forums and consolidate knowledge through several tools.
                </p>
            </legend>
            <div class="message">
                <h2 translate>Your account is now active!</h2>
            </div>
            <div class="form-group{% if form.errors %} has-error{% endif %}">
                <label for="username" class="sr-only" translate>Username</label>
                <input name="login" type="text" id="username" class="form-control"
                    value="{{form.login.value|default_if_none:""}}"
                    {% verbatim %}placeholder="{{'Insert your username' | translate}}"{% endverbatim %}/>
                {% for error in form.login.errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
            </div>
            <div class="form-group{% if form.errors %} has-error{% endif %}">
                <label for="password" class="sr-only" translate>Password</label>
                <input name="password" type="password" id="password" class="form-control"
                    {% verbatim %}placeholder="{{'Insert your password' | translate}}"{% endverbatim %}>
                {% for error in form.password.errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                {% for error in form.non_field_errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                <p class="recovery-link">
                    <a href="{% url 'account_reset_password' %}"><strong translate>Forgot your password</strong></a>
                </p>
            </div>

            <button type="submit" class="btn btn-login-page login" translate>
                Login
            </button>
        </fieldset>
        <div class="button-distance">
            <a href="/accounts/signup" class="btn btn-login-page register" translate>
                New user? Register here
            </a>
        </div>
    </form>
</div>
{% endblock %}
