{% extends 'account/base.html' %}
{% load i18n %}
{% load account %}

{% block account_content %}
<div class="home">
    <section class="login login-content">
    <h2>{% trans "Email confirmation" %}</h2>
    {% if confirmation %}
        {% user_display confirmation.email_address.user as user_display %}
        <div class="message">
            <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{email}}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
        </div>

        <form onclick="event.stopPropagation()" method="post" action="{% url 'account_confirm_email' confirmation.key %}" class="form-horizontal">{% csrf_token %}
            <button type="submit" class="btn btn-submit">{% trans "Confirm" %}</button>
        </form>
    {% else %}
        {% url 'account_email' as email_url %}
        <div class="message">
            {% blocktrans %}This e-mail confirmation link expired or is invalid.<br/>Please <a href="{{ email_url}}">issue a new e-mail confirmation request</a>.{% endblocktrans %}
        </div>
    {% endif %}
    </section>
</div>
{% endblock %}
