{% extends 'account/base.html' %}
{% load i18n %}

{% block account_content %}
<div class="home">
    <section class="login login-content">
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <legend translate class="login-legend">
            <p>
                {% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
            </p>
        </legend>
    {% else %}
        {% if form %}
            <form action="" method="post" class="form-horizontal register-form">{% csrf_token %}
                <fieldset>
                    <legend>
                        <h2 translate>Change your password</h2>
                    </legend>
                    <div class="form-group{% if errors or form.non_field_errors %} has-error{% endif %}">
                        <label for="password1" class="sr-only" translate>Password</label>
                        <input required name="password1" type="password" id="password" class="form-control"
                        {% verbatim %}placeholder="{{'Enter new password' | translate }}"{% endverbatim %}>
                        {% for error in form.password1.errors %}
                            <small class="warning-mark">{{error}}</small>
                        {% endfor %}
                    </div>

                    <div class="form-group{% if errors or form.non_field_errors %} has-error{% endif %}">
                        <label for="password2" class="sr-only" translate>Confirm password</label>
                        <input required name="password2" type="password" class="form-control"
                        {% verbatim %}placeholder="{{'Repeat your password' | translate }}"{% endverbatim %}>
                        {% for error in form.password2.errors %}
                            <small class="warning-mark">{{error}}</small>
                        {% endfor %}
                    </div>
                    <button class="btn btn-submit" translate>Save</button>
                </fieldset>
            </form>
        {% else %}
            <div class="message" translate>Your password has been changed successfully</div>
        {% endif %}
    {% endif %}
    </section>
</div>
{% endblock %}
