{% extends 'account/base.html' %}
{% block account_content %}
<div class="home">
    <section class="login login-content">
        <legend class="login-legend">
            <h2 translate>Please check your email!</h2>
            <p translate>We have sent you an email with instructions to recover your password.</p>
        </legend>
        <a href="/" class=" btn btn-primary back-button" translate>
            Back to login page
        </a>
    </section>
</div>
{% endblock %}