{% load i18n %}
<div>
    <div class="certificate-container receipt">
        <div class="certificate-header">
          <div>
            <i class="fa fa-certificate" aria-hidden="true"></i>
          </div>
          <div>
            <div class="certificate-title" translate>Receipt</div>
            <div class="certificate-subtitle" translate>Course Conclusion</div>
          </div>
        </div>
        <div class="certificate-course-name">{{ object.course.name | default_if_none:"" }}</div>
        <div class="certificate-info">
            {{ cert_template.organization_name | safe | default_if_none:"" }}
            <p class="student">{{ object.course_student.user.get_full_name | default_if_none:"" }}</p>
            {{ cert_template.text | safe | default_if_none:"" }}
        </div>
        <footer>
            <div class="certificate-signatures">
              <div class="coordinator-section">
                {% if cert_template.signature_url %}
                <div class="certificate-signature">
                    <img alt="" src="">
                </div>
                {% endif %}
                <p class="name-coordinator"></p>
                <p class="role-coordinator"></p>
              </div>
              <div class="coordinator-section">
                {% if cert_template.second_signature_url %}
                <div class="certificate-signature">
                    <img alt="" ng-src="">
                </div>
                {% endif %}
                <p class="name-coordinator"></p>
                <p class="role-coordinator"></p>
              </div>
            </div>
            <div class="certificate-logos">
                {% if cert_template.base_logo_url %}
                <div class="certificate-logo">
                    <img id="cert-logo-preview" alt="" ng-src="{{ cert_template.base_logo_url }}">
                </div>
                {% endif %}
            </div>
        </footer>
    </div>
</div>
