{% verbatim %}
<header class="main-header">
  <div class="container-fluid">
    <div class="header-flex">
      <h2 class="classroom-name">{{ classroom.name }}</h2>
      <nav>
        <ul class="main-header--menu" role="menu">
          <li role="presentation">
            <a ui-sref-active-eq="active" ui-sref="classroom" role="menuitem">
              <i class="fa fa-home"></i>
              <span>Início da sala</span>
            </a>
          </li>
          <li role="presentation">
            <a ui-sref-active="active" ui-sref="classroom.cardsList" role="menuitem">
              <i class="fa fa-th-large"></i>
              <span>Repertório Pedagógico</span>
            </a>
          </li>
          <li role="presentation">
            <a ui-sref-active="active" ui-sref="classroom.forumDetail({ forumId: classroom.forum.id })" role="menuitem">
              <i class="fa fa-list"></i>
              <span>Fórum da sala</span>
            </a>
          </li>
          <!--
          <li role="presentation">
            <a href="#" role="menuitem">
              <i class="fa fa-comments"></i>
              <span>Chat da sala</span>
            </a>
          </li>
          <li role="presentation">
            <a href="#" role="menuitem">
              <i class="fa fa-bell"></i>
              <span>Avisos</span>
            </a>
          </li>
          -->
          <li role="presentation" ng-if="classroom.can_edit">
            <a ui-sref-active="active" ui-sref="classroom.userReportList" role="menuitem">
              <i class="fa fa-bar-chart"></i>
              <span>Relatório</span>
            </a>
          </li>
          <!--
          <li role="presentation">
            <a href="#" role="menuitem">
              <i class="fa fa-cog"></i>
              <span>Opções</span>
            </a>
          </li>
          -->
        </ul>
      </nav>
    </div>
  </div>
</header>
{% endverbatim %}
