{% load i18n %}
{% load is_assistant_or_coordinator %}
{% load is_course_coordinator %}
<header class="main-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-7">
                <h2 class="course-title" translate>Course</h2>
                <h2 class="course-name">{{ course.name }}</h2>
                {% include "_course-details-inline.html" with course=course %}
            </div>
            {% if course.first_lesson.slug %}
            <div class="col-xs-12 col-sm-7 col-md-5">
                <!-- COURSE-SECTION-NAV -->
                <nav class="course-sections admin-menu">
                    <a href="{% url 'courses_legacy:course_intro' course.slug %}" class="intro {% if '/intro/' in request.path %}active{% endif %}" translate>Home</a>
                    <!--<a href="{% url 'courses_legacy:resume_course' course.slug %}" class="resume {% if '/lesson/' in request.path %}active{% endif %}">Continuar</a>-->
                    <a href="{% url 'courses_legacy:user_course_notes' course.slug %}" class="notes {% if '/mynotes/' in request.path %}active{% endif %}" translate>Notes</a>
                    <a href="{% url 'courses_legacy:course_material' course.slug %}" class="materials {% if '/material/' in request.path %}active{% endif %}" translate>Materials</a>
                    {% if course.forum %}
                        <a href="{% url 'courses_legacy:forum_course' course.slug course.forum.id %}" class="forum {% if '/forum/' in request.path %}active{% endif %}" translate>Forum</a>
                    {% else %}
                        <a  href="{% url 'courses_legacy:forum_empty' course.slug %}" class="forum {% if '/forum/' in request.path %}active{% endif %}" translate>Forum</a>
                    {% endif %}
                    {% if user|is_assistant_or_coordinator:course %}
                        <div class="dropdown">
                            <a class="tools course-tools dropdown-toggle{% if '/messages/' in request.path or '/reports/' in request.path or '/classes/' in request.path %} active{% endif %}"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" translate>Options</a>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="course-tools">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'courses_legacy:messages' course.slug %}#!/messages" translate>Announcements</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'courses_legacy:reports' course.slug %}" translate>Reports</a></li>
                                {% if user.is_superuser or user.is_staff  %}
                                    <li role="presentation"><a role="menuitem" tabindex="-1" ng-href="{% url 'courses_legacy:course.permissions' course.id %}" translate>Permissions</a></li>
                                {% endif %}
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'courses_legacy:classes' course.slug %}" translate>Classes</a></li>
                                {% if user.is_superuser or user|is_course_coordinator:course %}
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="/admin/courses/{{ course.id }}" target="_top" translate>Edit course</a></li>
                                <!--<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'courses_legacy:course-evaluations' course.slug %}">{%  trans 'Evaluations' %}</a></li>-->
                                {% endif %}
                            </ul>
                        </div>
                    {% endif %}
                </nav>
                <!-- END COURSE-SECTION-NAV -->
            </div>
            {% endif %}
        </div>
    </div>
    {% block lesson_headder %}
        {% if lesson %}
            {% include '_lesson_header.html' %}
        {% endif %}
    {% endblock %}
</header>
