<script type="text/ng-template" id="_create_message_classroom_modal.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Novo aviso</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert" ng-show="empty_msg_subject_error || empty_msg_body_error || empty_msg_check_options_error">
            <ul>
                <li ng-show="empty_msg_subject_error"><a href="#id-title">Por favor, insira o assunto do aviso.</a></li>
                <li ng-show="empty_msg_body_error"><a href="#wmd-input">Por favor, insira o texto do aviso.</a></li>
                <li ng-show="empty_msg_check_options_error"><a href="#msg-input">Por favor, selecione ao menos uma turma.</a></li>
            </ul>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" ng-model="new_message.subject" placeholder="Assunto"/>
        </div>
        <div class="form-group">
            <textarea ui-tinymce
                        ng-model="new_message.message" class="form-control" rows="10"
                        placeholder="Mensagem" name="content" required></textarea>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="cancel()">Fechar</button>
            <button id="send_btn" type="button" class="btn btn-success" ng-click="send()">Enviar</button>
        </div>
    </div>
</script>