{% load static %}

<script type="text/ng-template" id="_create_event_modal.html">
<div class="modal-professor">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()"><i class="fa fa-times" aria-hidden="true"></i> fechar</button>
        <h4 class="modal-title">Agendar Novo Evento</h4>
    </div>
    <div class="modal-body">
    <!-- titulo, texto e data hora -->
        <div class="step1">
            <div class="row">
                <div class="col-sm-12 col-md-8">
                    <label>Digite o nome do Evento:</label>
                    <input type="text" class="form-control" placeholder="Nome do Evento" ng-model="classroom.event.title">
                </div>
            </div>
        </div>
        <div class="step2">
            <div class="step2-1">
                <div class="row">
                    <div class="col-sm-12 col-md-8">
                        <label>Digite a descrição do Evento:</label>
                        <div class="form-group">
                            <textarea ui-tinymce
                                        ng-model="classroom.event.text" class="form-control" rows="6"
                                        placeholder="Descrição do Evento" name="content" required></textarea>
                        </div>                    
                    </div>
                </div>
            </div>
            <div class="step2-2">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <i class="fa fa-calendar"></i>
                        <span>Selecione a data do evento:</span>
                        <div class="date-input input-group">
                            <input type="text" class="form-control" ng-model="classroom.event.start_date" uib-datepicker-popup="dd/MM/yyyy" is-open="datepicker_is_opened" show-button-bar="false" show-weeks="false" starting-day="0" placeholder="Escolha a data" />
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button" ng-click="datepicker_is_opened = true">
                                    <span class="caret"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <br/>
                        <i class="fa fa-clock-o"></i> 
                        <span>Selecione o horário do evento:</span>
                        <div class="date-input input-group">
                            <div uib-timepicker ng-model="classroom.event.start_time" ng-change="changed()" 
                                hour-step="1" minute-step="1" show-meridian="ismeridian"></div>
                            <span class="input-group-btn"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-default delete" ng-click="cancel()">Cancelar</button>
            <button type="button" class="btn btn-sm btn-primary save" ng-click="save_new_event()">Salvar</button>
        </div>
    </div>
</div>
</script>
