{% load static %}
{% verbatim %}
<script type="text/ng-template" id="_create_new_card_modal.html">
  <div class="modal-professor modal-create-card">
  <div class="modal-header">
    <button type="button" class="close" ng-click="cancel()"><i class="fa fa-times" aria-hidden="true"></i>
      <span translate>close</span>
    </button>
    <h4 class="modal-title" translate>New content</h4>
  </div>
  <div class="modal-body">
    <div class="step1">
      <div class="step1-1">
        <div class="row">
          <div class="form-group col-xs-12">
            <label><span translate>Title</span> <span class="help-text">(<span translate>required field</span>)</span></label>
            <input type="text" class="form-control title-input" ng-model="card.title" placeholder="Título" required>
          </div>
        </div>
      </div>
    </div>
    <div class="step1">
      <div class="step1-1">
        <form class="cards-filters-options row">
          <div class="form-group col-xs-12 col-md-6 col-lg-4">
            <label><span translate>Theme</span> <span class="help-text">(<span translate>required field</span>)</span></label>
            <select class="form-control" ng-model="card.audience.id" required>
              <option ng-repeat="audience in audiences track by audience.id" ng-value="audience.id">{{ audience.name }}
              </option>
            </select>
          </div>
          <div class="form-group col-xs-12 col-md-6 col-lg-4">
            <label><span translate>Format</span> <span class="help-text">(<span translate>required field</span>)</span></label>
            <select class="form-control" ng-model="card.axis.id" required>
              <option ng-repeat="axis in axes track by axis.id" ng-value="axis.id">{{ axis.name }}</option>
            </select>
          </div>
          <div class="form-group col-xs-12 col-md-12 col-lg-4">
            <label><span translate>Tags</span></label>
              <ui-select multiple theme="bootstrap" ng-model="proxy.tags" tagging="new_tag" title="Selecione tags">
                <ui-select-match placeholder="Selecione uma tag...">#{{ $item.name }}</ui-select-match>
                <ui-select-choices repeat="tag in tags | filter: {name: $select.search}" group-by="">
                  <div ng-if="tag.isTag">
                    <div ng-if="tag_exists($select.search.toLowerCase())" ng-bind-html="tag.name | highlight: $select.search"></div>
                    <div ng-if="!tag_exists($select.search.toLowerCase())" ng-bind-html="(tag.name | highlight: $select.search) +' (nova tag)'"></div>
                  </div>
                  <div ng-if="!tag.isTag" ng-bind-html="tag.name + tag.isTag | highlight: $select.search" ng-hide="$select.search.toLowerCase() == tag.name"></div>
                </ui-select-choices>
              </ui-select>
          </div>
        </form>
      </div>
    </div>
    <div class="step2">
      <div class="step2-1">
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <label translate>Description</label>
            <div class="form-group">
              <textarea ui-tinymce ng-model="card.text" class="form-control" rows="6"
                placeholder="Descrição do Conteúdo" name="content" required></textarea>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-8">
              <p class="help-text help-gallery text-center"><b translate>The first image in the gallery below will be used on the home page of the content directory.</b></p>
              <div class="panel panel-default">
                  <div class="panel-heading clearfix">
                      <button class="btn" ng-repeat="slide in slides" ng-click="select_media($index)" ng-class="is_selected_media($index)">{{ $index + 1 }}</button>
                      <button class="btn" ng-show="dirty_slide">{{ slides.length + 1 }}</button>
                      <button class="btn btn-success" ng-click="new_slide()" ng-disabled="dirty_slide || slides.length >= 30">+</button>
                  </div>
                  <div class="panel-body">
                      <div class="row">
                          <div ng-show="slide_mode != mode.SHOW_MEDIA">
                              <div class="col-xs-12 text-center" ng-show="slide_mode == mode.ADD_MEDIA">
                                  <button class="btn btn-xs btn-primary add-image" ng-click="slide_mode = mode.ADD_IMAGE">adicionar imagem</button>
                                  <button class="btn btn-xs btn-primary add-video" ng-click="slide_mode = mode.ADD_VIDEO">adicionar vídeo</button>
                              </div>
                              <div class="add-thumbnail col-xs-12 textcenter" ng-show="slide_mode == mode.ADD_IMAGE">
                                  <div class="centered">
                                      <i class="fa fa-picture-o fa-4x"></i>
                                      <h1>Imagem</h1>
                                      <!--<p>(largura mínima: 845px)</p>
                                      <input type="file" ngf-select="" ng-model="image_up" name="file" accept="image/*" ngf-max-size="20MB" required="" ngf-model-invalid="errorFile">-->
                                      <div class="form-group">
                                          <button class="btn btn-sm btn-success add" ngf-select="show_video_form = false; upload_image($file)" ngf-multiple="false" accept="image/*">adicionar</button>
                                          <button class="btn btn-sm btn-danger delete" ng-click="slide_mode = mode.ADD_MEDIA">cancelar</button>
                                      </div>
                                  </div>
                              </div>
                              <div class="add-thumbnail col-xs-12 textcenter" ng-show="slide_mode == mode.ADD_VIDEO">
                                  <div class="centered">
                                      <i class="fa fa-youtube-play fa-4x"></i>
                                      <h1>URL do vídeo</h1>
                                      <div class="form-group">
                                          <input type="text" ng-model="video_url" class="form-control"/>
                                      </div>
                                      <div class="form-group">
                                          <button class="btn btn-sm btn-success add" ng-click="embed_video()">adicionar</button>
                                          <button class="btn btn-sm btn-danger delete" ng-click="slide_mode = mode.ADD_MEDIA; video_url = ''">cancelar</button>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <section class="col-xs-12" ng-show="slide_mode == mode.SHOW_MEDIA">
                              <div ng-show="selected_slide.type == 'image'" class="">
                                  <img ng-src="{{ selected_slide.data.image }}" class="img-responsive">
                                  <button class="btn btn-danger trash" ng-click="remove_media(selected_slide_index)"></button>
                              </div>
                              <div ng-show="selected_slide.type == 'video'">
                                  <iframe class="img-responsive" ng-src="{{safe_url('https://www.youtube.com/embed/' + selected_slide.data.video_id + '?rel=0&amp;showinfo=0')}}" frameborder="0" allowfullscreen></iframe>
                                  <button class="btn btn-danger trash" ng-click="remove_media(selected_slide_index)"></button>
                              </div>
                          </section>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      <div class="step2-2">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-8">
                <label translate>Methodology</label>
                <div class="form-group">
                    <textarea ui-tinymce ng-model="card.you_will_need"></textarea>
                </div>
            </div>
              <!--
              <h5 class="subtitle">Desenvolvimento</h5>
              <div class="form-group">
                  <textarea ui-tinymce ng-model="card.development"></textarea>
              </div>

              <h5 class="subtitle">Para saber mais</h5>
              <div class="form-group">
                  <textarea ui-tinymce ng-model="card.know_more"></textarea>
              </div>

            <div ng-repeat="author in card.authors">
                <div class="editable-title">
                  <input type="text" class="author" placeholder="Nome" ng-model="author.author_name">
                </div>
                <textarea ui-tinymce ng-model="author.author_description"></textarea>
            </div>
            -->
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="sidebar">
                    <div class="box">
                        <label translate>Main highlight</label>
                        <div class="form-group">
                            <textarea ui-tinymce ng-model="card.hint"></textarea>
                        </div>
                    </div>
                    <label translate>Attached documents</label>
                    <div class="form-group">
                        <button id="select-file-topic"
                            class="btn btn-xs btn-primary attach"
                            ngf-select="uploadCardFiles($file, card)"
                            ngf-multiple="false" translate>Attach file</button>
                        <files files="card.files" progress="card.progress" editable="true"></files>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="step2-3">
        <div class="row">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-sm btn-default delete" ng-click="cancel()" translate>Cancel</button>
      <button type="button" class="btn btn-sm btn-primary new-topic" ng-click="create_card()" translate>Save</button>
    </div>
  </div>
</div>
</script>
{% endverbatim %}
