{% load i18n %}
<header class="main-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-md-6">
                <h2 class="course-title" translate>Course</h2>
                <h2 class="course-name">{{ course.name }}</h2>
                {% include "_course-details-inline.html" with course=course %}

                {% block lesson_headder %}
                  {% if lesson %}
                    {% include '_lesson_header.html' %}
                  {% endif %}
                {% endblock %}
            </div>
        </div>
    </div>
</header>
