        <div class="stage-carousel">
            <div class="container-fluid">
                {% verbatim %}
                <div class="lesson-current-unit-container">
                    <button ng-click="prevUnit()" class="lesson-current-unit-left"
                        ng-disabled="lesson.position === 0 && ctrl.unit_index === 1">
                        <i class="fa fa-arrow-left"></i>
                    </button>
                    <div class="lesson-current-unit">
                        <h1 class="title-unit">
                            <span translate>Module:</span> {{ lesson.position + 1 }} / <span translate>Unit:</span> {{ ctrl.unit_index }}
                        </h1>
                        <p>{{currentUnit.title}}</p>
                    </div>
                    <button ng-click="nextUnit()" class="lesson-current-unit-right">
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
                {% endverbatim %}
            </div>
        </div>
