<!DOCTYPE html>
<html>
{% load i18n %}
{% load static %}
{% load compress %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <base href="/">

    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    <link rel="shortcut icon" type="image/jpg" href="{% static 'img/favicon.png' %}"/>

    {% if site.google_analtycis_code %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{site.google_analtycis_code}}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{site.google_analtycis_code}}');
    </script>
    {% endif %}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap@3.4.1/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/ui-select@0.20/dist/select.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.css" integrity="sha512-04BoiZDKe+eOvj+J105JtXWUn8XHNWujY0qV9WqIUPlJVUuumKHn2Sgz4/g3LLKCfSJo6tBuHDR/oVAEfOupxw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        {% compress css %}
            <link rel='stylesheet' href="{% static 'scss-aea/main.scss' %}" type='text/x-scss' media='screen,projection,print' />
        {% endcompress %}

    {% endblock %}

    <script>
        window.BASE_API_URL = '/legacy/api';
        window.COURSES_BASE_API_URL = '/api';
        window.STATIC_URL = '{{ STATIC_URL }}';
        window.API_URL = '/api'
        window.MEDIA_URL = '{{ MEDIA_URL }}';
        window.DEBUG = '{{ DEBUG }}';
        window.YOUTUBE_API_KEY = '{{ site.YOUTUBE_API_KEY }}';
        window.USER_ID = '{{ user.id }}';

        window.addEventListener('load', function onLoadStartObserver() {
            var observer = new MutationObserver(function() {
                window.parent.postMessage('FrameResize', '*');
            });
            observer.observe(window.document.body, { attributes: true, characterData: true, childList: true, subtree: true });
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>

    <!-- All -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://unpkg.com/jquery@1.12/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://unpkg.com/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>

    <!-- Angular -->
    <script src="https://unpkg.com/angular@1.8.2/angular.min.js"></script>
    <script src="https://unpkg.com/angular-animate@1.8/angular-animate.min.js"></script>
    <script src="https://unpkg.com/angular-resource@1.8/angular-resource.min.js"></script>
    <script src="https://unpkg.com/angular-route@1.8/angular-route.min.js"></script>
    <script src="https://unpkg.com/angular-sanitize@1.8/angular-sanitize.min.js"></script>
    <script src="https://unpkg.com/angular-touch@1.8/angular-touch.min.js"></script>

    <script src="https://unpkg.com/angular-cookies@1.8/angular-cookies.min.js"></script>

    <script src="https://unpkg.com/angular-ui-bootstrap@2.5.6/dist/ui-bootstrap-tpls.js"></script>
    <script src="https://unpkg.com/angular-ui-bootstrap@2.5.6/dist/ui-bootstrap-tpls.js"></script>
    <script src="https://unpkg.com/angular-local-storage@0.7.1/dist/angular-local-storage.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-loading-bar/0.9.0/loading-bar.min.js"></script>

    <!-- TineMCE -->
    <script src="https://unpkg.com/tinymce@4.5.10/tinymce.min.js"></script>
    <script src="https://unpkg.com/angular-ui-tinymce@0.0.19/dist/tinymce.min.js"></script>
    <script src="{% static 'js/ui.tinymce.config.js' %}"></script>

    <script src="https://unpkg.com/ng-file-upload@12.0.4/dist/ng-file-upload.min.js"></script>

    <script src="https://unpkg.com/angular-filter@0.5.17/dist/angular-filter.min.js"></script>
    <script src="https://unpkg.com/checklist-model@1.0.0/checklist-model.js"></script>

    <script src="https://unpkg.com/ui-select@0.20/dist/select.min.js"></script>

    <!-- UI Router -->
    <script src="//unpkg.com/@uirouter/angularjs@1.0.27/release/angular-ui-router.min.js"></script>

    <!-- Click outside -->
    <script src="https://bowercdn.net/c/angular-click-outside-2.10.2/clickoutside.directive.js"></script>

    <!-- Angular Gettext and Dinamic Locale -->
    <script src="https://unpkg.com/angular-gettext@2.4.2/dist/angular-gettext.min.js"></script>
    <script src="https://unpkg.com/angular-dynamic-locale@0.1.37/dist/tmhDynamicLocale.min.js"></script>

    <!-- Local storage -->
    <script src="https://unpkg.com/angular-storage@0.0.15/dist/angular-storage.min.js"></script>

    <!-- Throttle Debounce -->
    <script type="text/javascript" src="https://unpkg.com/throttle-debounce@3.0.1/umd/index.js"></script>

    <!-- oc.lazyload -->
    <script src="https://unpkg.com/oclazyload@1.1.0/dist/ocLazyLoad.min.js"></script>

    {% compress js %}
        <script type="text/javascript" src="{% static 'js/app/app.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/app.controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/app.services.js' %}"></script>
    {% endcompress %}

    <!-- i18n -->
    <script type="module" src="{% static 'js/app/i18n/i18n.module.js' %}"></script>
    <script type="module" src="{% static 'js/app/i18n/i18n.services.js' %}"></script>
    {% comment %} <script type="text/javascript" src="{% static 'js/app/accounts/users.services.js' %}"></script> {% endcomment %}
    <script type="module" src="{% static 'js/app/accounts/authorization.services.js' %}"></script>
    {% compress js %}

        <script type="text/javascript" src="{% static 'js/core-services.js' %}"></script>


        <!-- Header -->
        <script type="text/javascript" src="{% static 'js/app/header/header-unlogged.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/header/header-unlogged.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/header/header.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/header/header.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/header/header.controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/header/header.services.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/header/header.filters.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/header/header.directives.js' %}"></script>

        <!-- Main Nav -->
        <script type="text/javascript" src="{% static 'js/app/main-nav/main-nav.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/main-nav/main-nav.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/main-nav/main-nav.controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/main-nav/main-nav.services.js' %}"></script>
        <!-- Required by Main Nav for the unread messages count -->
        <script type="text/javascript" src="{% static 'js/app/messages/messages.services.js' %}"></script>

        <!-- Angular Timtec -->
        <script type="text/javascript" src="{% static 'js/django.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/angular-youtube.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/shared/shared.app.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>

        <!-- Discussion -->
        <script type="text/javascript" src="{% static 'js/discussion-services.js' %}"></script>

        <!-- Classroom -->
        <script type="text/javascript" src="{% static 'js/classroom/aea.classroom.services.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/classroom/classroom-list/classroom-list.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/classroom/classroom-list/classroom-list.component.js' %}"></script>

        <!-- Courses -->
        <script type="text/javascript" src="{% static 'js/app/courses/courses/courses.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/courses/courses/courses.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/courses/courses/courses.controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/courses/course-card/course-card.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/courses/course-card/course-card.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/courses/course/course.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/courses/course/course.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/courses/course/course.controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/courses/courses.services.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/courses/courses.filters.js' %}"></script>

        <!-- Directive File -->
        <script type="text/javascript" src="{% static 'js/directives/file.js' %}"></script>

        <!-- Forums -->
        <script type="text/javascript" src="{% static 'js/app/forum/forum/forum.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/forum/forum/forum.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/forum/forum/forum.controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/forum/forum/forum.services.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/forum/forum/forum.filters.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/forum/forum/forum.directives.js' %}"></script>

        <!-- Topic -->
        <script type="text/javascript" src="{% static 'js/app/forum/topic/topic.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/forum/topic/topic.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/forum/topic/topic.controllers.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/app/forum/new-topic/new-topic.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/forum/new-topic/new-topic.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/forum/new-topic/new-topic.controllers.js' %}"></script>

        <!-- Category -->
        <script type="text/javascript" src="{% static 'js/app/forum/category-edit/category-edit.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/forum/category-edit/category-edit.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/forum/category-edit/category-edit.controllers.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/app/forum/category-list/category-list.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/forum/category-list/category-list.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/forum/category-list/category-list.controllers.js' %}"></script>

        <!-- Theme -->
        <script type="text/javascript" src="{% static 'js/app/cards/theme-edit/theme-edit.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/cards/theme-edit/theme-edit.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/cards/theme-edit/theme-edit.controllers.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/app/cards/theme-list/theme-list.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/cards/theme-list/theme-list.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/cards/theme-list/theme-list.controllers.js' %}"></script>

        <!-- Format -->
        <script type="text/javascript" src="{% static 'js/app/cards/format-edit/format-edit.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/cards/format-edit/format-edit.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/cards/format-edit/format-edit.controllers.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/app/cards/format-list/format-list.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/cards/format-list/format-list.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/cards/format-list/format-list.controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/cards/cards.services.js' %}"></script>


        <!-- Profile -->
        <script type="text/javascript" src="{% static 'js/app/profile/profile.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/profile/profile.controllers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/profile/profile.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/profile/profile.services.js' %}"></script>

        <!-- Cards -->
        <script type="text/javascript" src="{% static 'js/app/cards/he.filters.js' %}"></script>

        <!-- Dashboard -->
        <script type="text/javascript" src="{% static 'js/app/cards-carousel/cards-carousel.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/cards-carousel/cards-carousel.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/cards-carousel/cards-carousel.controllers.js' %}"></script>

        <!-- Reports -->
        <script type="text/javascript" src="{% static 'js/app/reports/general-reports/general-reports.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/reports/general-reports/general-reports.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/reports/user-reports/user-reports.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/reports/user-reports/user-reports.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/reports/user-report/user-report.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/reports/user-report/user-report.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/reports/user-access/user-access.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/reports/user-access/user-access.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/reports/user-actions/user-actions.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/reports/user-actions/user-actions.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/reports/user-course-report-list/user-course-report-list.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/reports/user-course-report-list/user-course-report-list.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/reports/user-course-report/user-course-report.module.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/reports/user-course-report/user-course-report.component.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/reports/reports.services.js' %}"></script>

        <!-- Sign UP -->
        <script type="text/javascript" src="{% static 'js/app/signup/signup.app.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/app/signup/signup.controllers.js' %}"></script>

    {% endcompress %}
    <script src="{% url 'courses_legacy:djangular' %}"></script>

    {% block js %}{% endblock %}

</head>
<body {% if in_admin %}id="admin"{% else %}id="notadmin"{% endif %}
      {% spaceless %}{% block body_attrs %}ng-app="baquara"{% endblock %}{% endspaceless %}
      class="{% if user.is_authenticated %}logged{% else %}anonymous{% endif %}">

    <div class="site-wrapper" ng-class="{'main-nav-opened': is_main_nav_opened}">
        {% block header %}
            {% if user.is_authenticated %}
                <main-header></main-header>
            {% else %}
                <main-header-unlogged></main-header-unlogged>
            {% endif %}
        {% endblock %}

        {% if user.is_authenticated %}
            <main-nav></main-nav>
        {% endif %}

        <div class="wrapper wrapper-bg {% spaceless %}{% block wrapper_classes %}{% endblock %}{% endspaceless %}">
            {% block content %}
                <ui-view></ui-view>
            {% endblock %}
        </div>
    </div>

    {% block footer %}
        {% if not user.is_authenticated %}
            {% include 'footer-unlogged.html' %}
        {% endif %}
    {% endblock %}

    {% if not user.is_authenticated %}
        {% include 'account/login_modal.html' %}
        <script type="text/javascript" charset="utf-8">
            $(document).ready(function() {
                var $modal = $("#login-modal");
                var $next = $modal.find('input[name=next]');
                $('a.js-login-required').click(function(e){
                    $next.val($(this).attr('href'));
                    $modal.modal();
                    return false;
                });
                $('.dropdown-menu form').click(function(e) {
                    e.stopPropagation();
                });
            });
        </script>
    {% endif %}
</body>
</html>
