{% extends "base.html" %}

{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/font-awesome@4.7/css/font-awesome.min.css" />

    {{ block.super }}
    <style>
        .certificate-content {
            background-image: url("/static/img/certificate-border.png") !important;
        }
        .certificate-container {
            background-color: white !important;
            .certificate-header {
                .certificate-title {
                    color: #9A345C !important;
                } 
            }
        }
        @page {
            size: letter landscape;
        }
    </style>
{% endblock %}

<div id="certificate-pdf">
    {% block content %}
    <section
        {% if cert_template.display_background_image %}
            class="certificate-content container-fluid"
        {% else %}
            class="certificate-content-white container-fluid"
        {%endif%}>
        {% comment %} {% if object.document_type == 'receipt' %}
        {% include "_certificate-receipt.html" %}
        {% else %} {% endcomment %}

        <div>
            <div class="certificate-container certificate">
                <div class="certificate-header" style="color: #9A345C !important;">
                    <div>
                        <span style="color: #9A345C !important;">
                            <i class="fa fa-certificate" style="color: #9A345C !important;"></i>
                        </span>
                    </div>
                    <div>
                        <div class="certificate-title" style="color: #9A345C !important;" translate>{% trans 'Certificate' %}</div>
                        <div class="certificate-subtitle" style="color: #9A345C !important; font-size: 14px !important;" translate>{% trans 'Course Conclusion' %}</div>
                    </div>
                </div>
                <div class="certificate-course-name"
                    style="color: #0A854A !important;
                        font-size: 24px !important;
                        line-height: 24px !important;
                        margin: 30px 5px 10px 5px !important;">
                    {{ object.course.name | default_if_none:"" }}
                </div>
                <div class="certificate-info" style="color: #0A854A !important;
                    font-size: 10px !important;
                    line-height: 10px !important;
                    margin: 10px 5px !important;">
                    <p style="font-size: 5px !important; line-height: 5px !important;">
                        {{ cert_template.organization_name | safe | default_if_none:"" }}
                    </p>
                    <p class="student">{{ object.course_student.user.get_full_name | default_if_none:"" }}</p>
                    <p style="font-size: 5px !important; line-height: 5px !important;">
                        {{ cert_template.text | safe | default_if_none:"" }}
                    </p>
                </div>
                <footer>
                    <div class="certificate-signatures"
                        style="
                            display: flex !important;
                            justify-content: space-between !important;
                            align-items: flex-end !important;

                            & > * {
                                display: flex !important;
                                flex-direction: column !important;
                                align-items: center !important;
                                flex: 1 !important;
                                text-align: center !important;
                            }
                        ">
                        <div class="coordinator-section" style="text-align: center; color: #0A854A !important;">
                            {% if cert_template.signature_url %}
                            <div class="certificate-signature">
                                <img alt="Signature" src="{{ cert_template.signature_url }}">
                            </div>
                            {% endif %}
                            <p class="name-coordinator" style="color: #0A854A !important;">{{ cert_template.signature_name | default_if_none:"" }}</p>
                            <p class="role-coordinator" style="color: #0A854A !important;">{{ cert_template.role | default_if_none:"" }}</p>
                        </div>
                        <div class="coordinator-section" style="text-align: center; color: #0A854A !important;">
                            {% if cert_template.second_signature_url %}
                            <div class="certificate-signature">
                                <img alt="Second Signature" src="{{ cert_template.second_signature_url }}">
                            </div>
                            {% endif %}
                            <p class="name-coordinator" style="color: #0A854A !important;">{{ cert_template.second_name | default_if_none:"" }}</p>
                            <p class="role-coordinator" style="color: #0A854A !important;">{{ cert_template.second_role | default_if_none:"" }}</p>
                        </div>
                    </div>
                    <div class="certificate-logos">
                        {% if cert_template.base_logo_url %}
                        <div class="certificate-logo">
                            <img id="cert-logo-preview" alt="Base Logo" src="{{ cert_template.base_logo_url }}">
                        </div>
                        {% endif %}
                    </div>
                </footer>
            </div>
        </div>

        {% comment %} {% endif %} {% endcomment %}
    </section>
    {% comment %} </div> {% endcomment %}
    {% endblock %}
</div>
