{% extends 'base.html' %}
{% load compress %}
{% load i18n %}
{% load static %}
{% load staticfiles %}

{% block js %}
    {{ block.super }}
    <script src="https://unpkg.com/angular-sortable-view@0.0.17/src/angular-sortable-view.min.js"></script>

    {% compress js %}
    <!-- Core -->
    <script type="text/javascript" src="{% static 'js/core/app.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/core/controllers.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/core/services.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/core/filters.js' %}" charset="utf-8"></script>

    <script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/alertPopup.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/markdowneditor.js' %}" charset="utf-8"></script>

    <!-- Certificate -->
    <script type="text/javascript" src="{% static 'js/certificate/app.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/certificate/controllers.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/certificate/filters.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/certificate/services.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/file.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/directives/previewImage.js' %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}" charset="utf-8"></script>

    {% endcompress %}
{% endblock %}

{% block body_attrs %}
  ng-app="certification"
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}
<div id="certificate" class="certificate-page">
    <div class="certificate-geral">
        {% if user.is_authenticated %}
            {% include "_course-header-inline.html"  with course=object.course_student.course %}
        {% else %}
            {% include "_go-to-course-button-inline.html"  with course=object.course_student.course %}
        {% endif %}
        <div class="certificate-menu container-fluid">
            {% if object.course_student.user.is_profile_filled %}
                <!-- <a id="download-certificate" href="{% url 'courses_legacy:certificate-print' slug=object.link_hash %}"
                    class="btn btn-sm btn-primary pull-right hidden-print download"
                    target="_blank" translate>Print version</a>
                -->
                <a id="download-certificate" href="{% url 'courses:certificate-pdf' slug=object.link_hash %}"
                    class="btn btn-sm btn-primary pull-right hidden-print download"
                    target="_blank" translate>Download</a>
            {% endif %}
        </div>
        <div class="container-fluid">
            <section {% if cert_template.display_background_image %}class="certificate-content"{% else %}class="certificate-content-white"{%endif%}>
                <div>
                    {% if object.course_student.user.is_profile_filled %}
                        <div id="certificate-id-print">
                            {% if object.type == 'receipt' %}
                                {% include "_certificate-receipt.html" %}
                            {% else %}
                                {% include "_certificate-certificate.html" %}
                            {% endif %}
                        </div>
                    {% else %}
                    <div class="certificate-container receipt">
                        <!-- TODO: translate -->
                        <p class="text-uppercase student-name">{% trans 'Este Atestado não está disponível pois o perfil do usuário não está preenchido.' %}</p>
                        {% if user.is_authenticated and user == object.course_student.user %}
                            <p><a href="{% url 'courses_legacy:profile_edit' %}?next=/certificate/{{ object.link_hash }}">Clique aqui</a> para preencher o perfil e acessar o certificado.</p>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock %}
