{% extends 'base.html' %}
{% load staticfiles %}
{% load compress %}
{% load join_path %}

{% block wrapper_classes %}{{ block.super }}
chat rocketchat
{% endblock %}

{% block js %} {{block.super}}

    <script src="https://unpkg.com/angular-scroll@1.0.2/angular-scroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/pt-br.min.js"></script>
    {% compress js %}
    <script type="text/javascript" src="{% static 'js/core-services.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/chat/chat.app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/chat/chat.controllers.js' %}"></script>

    {% endcompress %}
    <!-- Extras -->
    <script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>
{% endblock %}

{% block body_attrs %}
  ng-app="chat"
{% endblock %}

{% block content %}
<div ng-controller="ChatCtrl"></div>
<iframe id="chat-frame" src="{% join_path rocketchat.address 'home' %}" name="chat" allow="fullscreen; camera; microphone;"></iframe>
{% endblock %}


{% block footer %}
<script type="text/javascript">jQuery(function triggerrc($){
    var tries = 15;

    var itid = setInterval(function(){
        if(tries-- < 1) {
            clearInterval(itid);
            console.error('Falha na tentativa de login')
            return;
        }

        $('#chat-frame').each(function(){
            var iframeWindow = this.contentWindow;
            iframeWindow.postMessage({
                externalCommand: 'call-custom-oauth-login',
                service: '{{ rocketchat.service }}'
            }, '*');
        });

    }, 5000);

    window.addEventListener("message", function(resp) {
        var data = resp.data;
        var stop_login = data.eventName === "custom-oauth-callback"
                      || (data.eventName === "status-changed" && data.data === "online")
                      || data.eventName == "room-opened";

        if( stop_login ) {
            clearInterval(itid);
        }
    }, false);

});</script>
{% endblock %}
