{% extends "base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load compress %}
{% load is_coordinator %}

{% block js %}
    {{ block.super }}
    <script src="https://unpkg.com/checklist-model@1.0.0/checklist-model.js"></script>
    <script src="https://unpkg.com/ui-select@0.19.8/dist/select.min.js"></script>

    {% compress js %}
    <script type="text/javascript" src="{% static 'js/directives/alertPopup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/directives/fixedBar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/core-services.js' %}"></script>

    <!-- Edit Class -->
    <script type="text/javascript" src="{% static 'js/directives/waiting-screen.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/edit-class/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/edit-class/controllers.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/edit-class/services.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/certificate/services.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app/courses/courses.services.js' %}"></script>

    {% endcompress %}

    <script>
        window.course_id = {{ class.course.pk }};
        window.class_id = {{ class.pk }};
    </script>
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block body_attrs %}
  ng-app="edit_class"
{% endblock %}

{% block content %}
<!-- class-modal -->
<div class="modal fade" id="class-modal" tabindex="-1" role="dialog" aria-labelledby="class-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form role="form" method="post" action="{% url 'courses_legacy:class-add-users' pk=class.id %}">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only" translate>Close</span></button>
                    <h4 class="modal-title" id="class-modal-label">{{ object.name }}</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="class-users-list" translate>Users</label>
                        <textarea id="class-users-list" class="form-control" rows="10"
                            {%verbatim%}placeholder="{{'Copy the user list here. Only one user per line.'|translate}}"{%endverbatim%}
                            name="students_text"></textarea>
                        <input type="checkbox" name="auto_enroll" value="True"> <span translate>Enroll users?</span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" translate>Close</button>
                    <button type="submit" class="btn btn-primary" translate>Add users</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="course course-classes" ng-controller="EditClassController">
    <!-- ACTIONS -->
    <div class="actions-menu" fixed-bar>
        <div class="container-fluid">
            {% if user.is_superuser or user.is_staff or user|is_coordinator %}
            <div class="pull-left">
                <button class="btn btn-warning btn-sm delete" ng-click="delete_class()" translate>
                    Delete
                </button>
            </div>
            {% endif %}
            <div class="pull-right">
                <i ng-hide="classe.$resolved" class="loading fa fa-refresh fa-spin"></i>
                <button class="btn btn-primary btn-sm save" ng-click="save()" translate>
                    Save
                </button>
            </div>

            {% include 'administration/_alert.html' %}

        </div>
    </div>
    <!-- END ACTIONS -->

    {% include "_course-header-inline.html"  with course=object.course %}
    <section class="classes-content page container-fluid">
        <div ng-if="can_edit_this_class">
            <div class="help-text"><i class="fa fa-caret-down" aria-hidden="true"></i> <span translate>Edit class name</span></div>
            <div class="editable-title"><input type="text" ng-model="classe.name" {%verbatim%}placeholder="{{'Class name' | translate}}"{%endverbatim%}></div>
            <div class="professor-assistant">
                <label for="{{ form.assistant.id_for_label }}" translate>Assistant professor:</label>
                {% verbatim %}
                <span class="help-text"><i class="fa fa-caret-down" aria-hidden="true"></i>
                    <span translate>Choose assistant teacher</span>
                </span>
                <ui-select multiple ng-model="classe.assistants" theme="bootstrap"
                    title="{{'Choose teachers...'|translate}}">
                    <ui-select-match 
                        placeholder="{{'Choose teachers...'|translate}}">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="professor in classe.course.professors  | filter: {name: $select.search}" group-by="">
                            <div ng-bind-html="professor.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                {% endverbatim %}
            </div>

            <div class="alert" role="alert"
                ng-class="{'alert-success': classe.user_can_certificate, 'alert-danger': !classe.user_can_certificate}">
                <div class="row">
                    <div class="col-xs-8" translate>
                        Select on the right whether this class can issue certificates or not.
                    </div>
                    <div class="col-xs-4">
                        <div class="user-can-certificate text-right">
                            <label for="can-certificate">
                                <input
                                    ng-model="classe.user_can_certificate"
                                    ng-change="save()"
                                    type="checkbox"
                                    id="can-certificate" />
                                <span translate>Allows certification</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="alert" role="alert" ng-show="classe.user_can_certificate"
                ng-class="{'alert-success': classe.user_can_certificate_even_without_progress, 'alert-danger': !classe.user_can_certificate_even_without_progress}">
                <div class="row">
                    <div class="col-xs-8" translate>
                        Check if this class can issue certificates even if the student has not achieved the minimum required progress.
                    </div>
                    <div class="col-xs-4">
                        <div class="user-can-certificate text-right">
                            <label for="can-certificate-progress">
                                <input
                                    ng-model="classe.user_can_certificate_even_without_progress"
                                    ng-change="save()"
                                    type="checkbox"
                                    id="can-certificate-progress" />
                                <span translate>Allows certification</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            {% verbatim %}
            <div class="certificate-template">
                <label for="" translate>Certificate Template</label>
                <span class="help-text"><i class="fa fa-caret-down" aria-hidden="true"></i>
                    <span translate>Choose the certificate template for this class</span>
                </span>
                <ui-select ng-model="templates_selected.certificate"
                           search-enabled="false"
                           title="{{'Choose the certificate template...'|translate}}">
                    <ui-select-match 
                        placeholder="{{'Choose the certificate template...'|translate}}">{{templates_selected.certificate.name}}</ui-select-match>
                    <ui-select-choices repeat="certificate_template in certificate_templates_available">
                        <div ng-bind-html="certificate_template.name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="receipt-template">
                <label for="" translate>Receipt Template</label>
                <span class="help-text"><i class="fa fa-caret-down" aria-hidden="true"></i>
                    <span translate>Choose the receipt template for this class</span>
                </span>
                <ui-select ng-model="templates_selected.receipt"
                           theme="bootstrap"
                           search-enabled="false"
                           title="{{'Choose the receipt template...'|translate}}">
                    <ui-select-match 
                        placeholder="{{'Choose the receipt template...'|translate}}">{{templates_selected.receipt.name}}</ui-select-match>
                    <ui-select-choices repeat="receipt_template in receipt_templates_available">
                        <div ng-bind-html="receipt_template.name"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            {% endverbatim %}

            <form class="add-users">
                <!--
                <div class="form-row">
                    <label for="select-contract">Selecionar contrato: </label>
                    <div class="autocomplete">
                        <select id="select-contract" class="form-control" ng-model="classe.contract" ng-options="contract.name for contract in contracts track by contract.id">
                            <option value="">Nenhum contrato</option>
                        </select>
                    </div>
                </div>
                -->
                <div class="form-row">
                        <label for="search-user" translate>Add students:</label>
                        <div class="autocomplete">
                        <input type="text" id="search-user" class="form-control" ng-model="asyncSelected"
                            {%verbatim%}
                            placeholder="{{'Enter the name, email or username of the teacher to be searched...' | translate}}"
                            {%endverbatim%}
                            uib-typeahead="user as user.formated_name for user in getUsers($viewValue)"
                            typeahead-loading="loadingLocations"
                            typeahead-on-select="on_select_student($model); asyncSelected = '';"
                            typeahead-min-length="2"
                            typeahead-wait-ms="500">
                        <i ng-show="loadingLocations" class="loading fa fa-refresh fa-spin"></i>
                    </div>
                    <a class="btn btn-sm btn-primary add" data-toggle="modal" data-target="#class-modal" translate>Add multiple users</a>
                </div>
            </form>
        </div>

        {% verbatim %}
            <div ng-if="!can_edit_this_class">
                <h3><span translate>Class</span> {{ classe.name }}</h3>
                <div class="professor-assistant">
                    <h4><strong translate>Trainers and Pedagogical Support</strong></h4>
                    <span ng-repeat="assistant in classe.assistants">
                        {{ assistant.name }}<br/>
                    </span>
                </div>
            </div>
        {% endverbatim %}

        <h3><strong translate>Class participants</strong></h3>
        {% verbatim %}
        <h4><strong><span translate>Total participants:</span> {{ classe.students_details.length }}</strong></h4>
        {% endverbatim %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="classname" translate>Photograph</th>
                    <th class="email" translate>E-mail</th>
                    <th class="fullname" translate>Full name (alphabetical order)</th>
                    <th class="certificate" ng-show="classe.user_can_certificate" translate>
                        Certificate
                    </th>
                    {% if object.course.default_class != object %}
                        <th class="actions" translate>Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in classe.students_details">
                    {% verbatim %}
                    <td class="user-icon">
                        <img ng-src="{{ student.image || '/static/img/avatar-default.png'}}" alt="foto">
                    </td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.name }}</td>
                    <td ng-show="classe.user_can_certificate">
                        <input type='checkbox' ng-disabled='!student.certificate || !classe.user_can_certificate_even_without_progress && !student.can_emmit_receipt' ng-click="toggle_certificate($index)" ng-checked="student.certificate.type == 'certificate'">
                    </td>
                    {% endverbatim %}

                    <td class="actions">
                        {% verbatim %}
                        <a ng-if="can_edit_this_class" ng-click="remove_item($index)" class="btn btn-warning"><i class="fa fa-trash-o"></i></a>
                        <a ng-hide="!student.certificate || !classe.user_can_certificate" ng-disabled='!student.can_emmit_receipt' ng-href="/certificate/{{ student.certificate.link_hash }}" class="btn btn-default" target="_blank" ng-class="{'btn-primary': student.certificate.type == 'certificate', 'disabled': !student.can_emmit_receipt }">
                            <span ng-show="student.can_emmit_receipt && student.certificate.type == 'receipt'"
                                title="Click here to view this student's statement'"><i class="fa fa-certificate"></i></span>
                            <span ng-show="student.can_emmit_receipt && student.certificate.type == 'certificate'"
                                title="Click here to see this student's certificate'"><i class="fa fa-certificate"></i></span>
                            <span ng-show="!student.can_emmit_receipt"
                                title="There are no certificates available'"><i class="fa fa-certificate"></i></span>
                        </a>
                        {% endverbatim %}
                    </td>

                </tr>

                <tr ng-hide="classe.students.length > 0">
                    <td colspan="4" translate>No students found</td>
                </tr>
            </tbody>
        </table>

    </section>
</div>
{% endblock %}
