{% extends 'base.html' %}
{% load compress %}
{% load staticfiles %}

{% block js %}
{{ block.super }}

<script src="https://unpkg.com/tinymce@4.5.10/tinymce.min.js"></script>
<script src="https://unpkg.com/angular-ui-tinymce@0.0.19/dist/tinymce.min.js"></script>

<script type="text/javascript" src="{% static 'js/ui.tinymce.courses-legacy.config.js' %}"></script>

{% compress js %}
<!-- Course Material -->
<script type="text/javascript" src="{% static 'js/course_material/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/course_material/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/course_material/filters.js' %}"></script>
<script type="text/javascript" src="{% static 'js/course_material/services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/directives/alertPopup.js' %}"></script>
{% endcompress %}

{% endblock %}

{% block body_attrs %}
  ng-app="courseMaterial"
{% endblock %}


{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}
<script>
    window.course_slug = '{{ course.slug }}';
</script>
<!-- CONTAINER -->
<div class="course course-material">
	{% include "_course-header-inline.html"  with course=course %}
    <!-- MAIN CONTENT -->
    <section class="course-content page container-fluid" ng-controller="CourseMaterialCtrl">
        <header class="page-header capslock content-space">
            <h3 translate>Resources</h3>
        </header>

        <div class="row">
			<div id="course-material-text" class="col-sm-9 col-lg-9">
				{% if not course_material.text %}
				<p class="description" translate>There are still no references to consult here.</p>
				{% else %}
                <p class="description" translate>Access additional material to complement your training.</p>
				<p class="description">{% autoescape off %}{{ course_material.text }}{% endautoescape %}</p>
				{% endif %}
			</div>
        </div>
        <div v-if="files_course.length">
            <header class="page-header file-title">
                <h3 translate>FILES</h3>
            </header>
            <ul class="uploaded-files-list">
                <li ng-repeat="file in files_course">
                    {% verbatim %}
                    <a href="{{ file.file }}" download="{{file.title}}" target="_blank">
                        <h4>{{ file.title }}</h4>
                        <p>{{file.file|filename}}</p>
                        <br/>
                        <button class="btn download" translate>Download</button>
                        <br/>  
                    </a>
                    {% endverbatim %}
                </li>
            </ul>
        </div>
    </section>
    <!-- END MAIN CONTENT-->
</div>
<!-- END CONTAINER -->
{% endblock %}
