{% extends 'account/base.html' %}

{% load i18n %}

{% block account_content %}
<div ng-controller="UserProfileController">
<div class="home">
  <section class="login">
    <form method="post" action="{% url 'account_login' %}" class="login-form">{% csrf_token %}
      <fieldset>
        <legend>
          <h2>Login to Academy</h2>
          <p>Log in to access the academy's contents.</p>
        </legend>
        <div class="form-group">
          <label for="login" class="sr-only">E-mail</label>
          <input name="login" type="text" class="form-control" id="username" placeholder="Insert your E-mail">
        </div>
        <div class="form-group">
          <label for="password" class="sr-only">Password</label>
          <input name="password" type="password" class="form-control" id="password" placeholder="Insert your password">
          <p class="recovery-link">
            <a href="{% url 'account_reset_password' %}"><strong>Forgot your password</strong></a>
          </p>
        </div>
        <button type="submit" class="btn btn-submit">Login</button>
        <p class="login-register">
          <a href="/accounts/signup">Don’t have an account? <strong>Register</strong></a>
        </p>
      </fieldset>
    </form>
  </section>
</div>
<!--
<div style="display: none;">
<header class="site-header-login">
  <div class="site-logo-login">
    <img src="/static/img/eae-logo.png" alt="{{ site.name }}">
  </div>
</header>
<div class="home"">
  <section class="login">
  <form method="post" action="{% url 'account_login' %}" class="login-form">{% csrf_token %}
    <fieldset>
      <legend>
        <h2>Register to Academy</h2>
        <p>Register to access the academy's contents.</p>
      </legend>
      <div class="form-group">
        <label for="name" class="sr-only">Name</label>
        <input name="name" type="text" class="form-control" id="name" placeholder="Insert your name">
      </div>
      <div class="form-group">
        <label for="username_1" class="sr-only">E-mail</label>
        <input name="username_1" type="text" class="form-control" id="username_1" placeholder="Insert your E-mail">
      </div>
      <div class="form-group">
        <label for="password_1" class="sr-only">Password</label>
        <input name="password_1" type="password" class="form-control" id="password_1" placeholder="Insert your password">
      </div>
      <div class="form-group">
        <label for="confirm_password" class="sr-only">Comfirm Password</label>
        <input name="confirm_password" type="password" class="form-control" id="password_confirm" placeholder="Comfirm your password">
      </div>
      <button type="submit" class="btn btn-submit">Register</button>
      <p class="login-register">
        <a href="/pages/register">Already have an account? <strong>Log in</strong></a>
      </p>
    </fieldset>
  </form>
  </section>
</div>
</div>
</div>
-->
{% endblock %}