{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% load compress %}

{% block js %}
{{ block.super }}
<script src="https://unpkg.com/angular-scroll@1.0.2/angular-scroll.min.js"></script>
<script src="https://unpkg.com/angular-gettext@2.4.2/dist/angular-gettext.min.js"></script>


{% compress js %}
<!-- Lesson -->
<script type="text/javascript" src="{% static 'js/activities/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/activities/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/activities/directives.js' %}"></script>
<script type="text/javascript" src="{% static 'js/activities/services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lesson/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lesson/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lesson/directives.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lesson/services.js' %}"></script>

<!-- Notes -->
<script type="text/javascript" src="{% static 'js/notes/app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/notes/controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/notes/services.js' %}"></script>

<!-- Discussion activity -->
<script type="text/javascript" src="{% static 'js/discussion-app.js' %}"></script>
<script type="text/javascript" src="{% static 'js/discussion-controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/discussion-services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/discussion-directives.js' %}"></script>
{% endcompress %}

<script type="text/javascript">
window.lessonId = {{ lesson.pk }};
// Content type id for object type core.Unit used by django generic relations.
window.unit_content_type_id = {{ unit_content_type_id }};
// window.chat_address = '{{ rocketchat.address }}';

$(document).ready(function() {
    $(".nav-tabs a").click(function(e) {
        e.preventDefault();
        $(this).tab('show');
    });
    $('a.unit').tooltip();

    // startIntro();
});
</script>

{% endblock %}

{% block body_attrs %}
    ng-app="lesson"
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block content %}

<!-- COURSE -->
<div class="course course-lesson" ng-controller="MainCtrl">

    <!-- HEADER -->
    {% include "_course-header-inline.html"  with course=lesson.course %}
    <!-- END HEADER -->

    <!-- LESSON CONTENT -->
    {% block lesson_video %}
    <div class="release-message" ng-if="currentUnit.status==='draft'">
        <div>
            <i class="fa fa-lock fa-2x"></i>
        </div>
        <span translate>Unit not yet published.</span> <span ng-if="currentUnit.release_date" translate>Publication at</span> <span ng-if="currentUnit.release_date">: {%verbatim%}{{release_date}}{%endverbatim%}</span>
    </div>
    <div class="course-content" ng-show="currentUnit.status==='published'">
        {% verbatim %}
        <div ng-show="ctrl.section==='video'"
            ng-class="{ 'live-lesson-content': currentUnit.chat_room, 'lesson-content': !currentUnit.chat_room }"
            class="animate-show-hide">
            <!-- LESSON VIDEO -->
            <!--
            this class exists to circunvent a flash + youtube api error
            in which if the video div is really hidden the api breaks
            -->
            <div class="video embed-responsive embed-responsive-16by9">
                <div class="embed-responsive-item" id="youtube-player" youtube-player></div>
            </div>
            <div ng-if="currentUnit.video.file">
                <h3 class="page-subtitle" translate>Download video</h3>

                <a href="{{ currentUnit.video.file }}" download="{{ currentUnit.video.name }}">
                    <button class="btn btn-primary download" translate>Download</button>
                </a>
            </div>
            <!-- END LESSON VIDEO -->
        </div>

        <div class="lesson-activity">
            <!-- LESSON ACTIVITY -->
            <div ng-show="ctrl.section=='activity'" class="course-activity animate-show-hide">
                <ng:include src="activityTemplateUrl"></ng:include>
            </div>
            <!-- END LESSON ACTIVITY -->

            <!-- LESSON COMMENTS -->
            <div ng-show="ctrl.section=='comment'" class="comment">
                <div class="panel panel-default" style="min-height: 368px;">
                    <div class="panel-heading">
                        <h2 class="panel-title" translate>Teacher Comments</h2>
                    </div>
                    <div class="panel-body" ng-bind-html="currentActivity.comment"></div>
                </div>
                <div class="row" ng-if="answer.correct">
                    <div class="col-lg-12 col-md-12 col-sm-12 textright">
                        <button class="btn btn-success pull-right" ng-click="nextStep()" translate>Continue</button>
                    </div>
                </div>
            </div>
            <!-- END LESSON COMMENTS -->
        </div>
        <!-- Video and activities navigation -->
        <div class="lesson-activity course-activity">
            <div class="slides navigation-wrapper">
                <div class="slides-navigation">
                    <span class="slides-navigation-label" translate>Activity</span>
                    <button class="previous" ng-click="prevStep()"
                        ng-disabled="lesson.position == 0 && ctrl.activities_nav_position == 1 &&  currentUnit.position == 0">
                    </button>
                    <div class="slides-number">{{ ctrl.activities_nav_position }} <span translate>of</span> {{ ctrl.activities_nav_length }}</div>
                    <button class="next" ng-click="nextStep()"></button>
                </div>
            </div>
        </div>
        {% endverbatim %}
        <div class="lesson-activity">
            <!-- NEXT LESSON -->
            <div ng-show="ctrl.section=='end'" class="next-lesson">
                <div class="centered">
                    {% if next_url %}
                        <a class="btn btn-info btn-lg" href="{{ next_url }}"><span translate>Go to the next unit</span><i class="fa fa-caret-right"></i></a>
                    {% else %}
                        <a class="btn btn-info btn-lg" href="{% url 'courses_legacy:course_intro' lesson.course.slug %}"><span translate>Back to course home</span><i class="fa fa-caret-right"></i></a>
                    {% endif %}
                </div>
            </div>
            <!-- END NEXT LESSON -->
            <div ng-controller="NoteCtrl" ng-cloak>
                <div class="create-note" ng-show="!show_notes" ng-click="show_notes=!show_notes">
                    <button class="note-circle-btn">
                        <img src='/static/img/edit-note.png' alt="edit-note" />
                    </button>
                    <strong translate>Create note</strong>
                </div>
                <div class="student-notes">
                    <div class="notes-container" ng-show="show_notes">
                        <div class="notes-header">
                            <h4 translate>Notes for this module</h4>
                        <!--
                            {% verbatim %}
                            <a href="../../mynotes/" class="all-notes">Visualizar todas anotações</a>
                            {% endverbatim %}
                        -->
                        </div>
                        <div class="notes-content">
                            <textarea ng-model="note_text"></textarea>
                            <div class="pull-right buttons-modal">
                                <button class="btn btn-cancel" ng-click="show_notes=false" translate>Cancel</button>
                                <button class="btn btn-success" ng-click="save_note(); show_success_message=true" translate>Save</button>
                            </div>
                        </div>
                        <div class="notes message success" style="display: none; margin-left: 20px;" translate>Saved successfully!</div>
                        <div class="notes message failure" style="display: none; margin-left: 20px" translate>Error saving note...</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="lesson-content animate-show-hide" ng-show="ctrl.section">
            <!-- LESSON INFO -->
            <div class="lesson-info">
                <!--<div class="lesson-name">-->
                    <!--<div class="page-header">-->
                        <!--<h2>{{ lesson.name }}</h2>-->
                    <!--</div>-->
                    <!--<div class="description">{{ lesson.desc }}</div>-->
                <!--</div>-->
                <div class="lesson-materials" ng-if="currentUnit.side_notes">
                    <h3 class="page-subtitle" translate>About this unit</h3>
                    <span ng-bind-html="currentUnit.side_notes"></span>
                    <!--<p ng-if="!currentUnit.side_notes">{% trans 'This unit has no addicional materials' %}</p>-->
                </div>
            </div>
            <!-- END LESSON INFO -->
        </div>
    </div>
    <!-- END LESSON CONTENT -->
    {% endblock %}

    <!-- COURSE COMPLETE MODAL -->
    {% block complete_modal_template %}
        {% include "_modal_course_complete_pt_br.html" %}
        {% include "_modal_course_complete_en.html" %}
        {% include "_modal_course_complete_es.html" %}
    {% endblock %}
    <!-- END COURSE COMPLETE MODAL -->
</div>
<!-- END COURSE -->
{% endblock %}
