{% extends "base.html" %}
{% load compress %}
{% load static %}
{% load i18n %}
{% load is_assistant_or_coordinator %}
{% load is_course_coordinator %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block js %}
    {{block.super}}
    <script>
        window.course_id = {{ course.pk }};
        window.course_slug = '{{ course.slug }}';
    </script>

    <script src="https://unpkg.com/angular-filter@0.5.17/dist/angular-filter.min.js"></script>
    <script src="https://unpkg.com/ng-file-upload@12.0.4/dist/ng-file-upload.min.js"></script>
    <script src="https://unpkg.com/checklist-model@1.0.0/checklist-model.js"></script>

    <script src="https://unpkg.com/@uirouter/angularjs@1.0.27/release/angular-ui-router.min.js"></script>
    <script src="https://unpkg.com/oclazyload@1.1.0/dist/ocLazyLoad.min.js"></script>
    <script src="https://unpkg.com/angular-gettext@2.4.2/dist/angular-gettext.min.js"></script>
    <!-- Local storage -->
    <script src="https://unpkg.com/angular-storage@0.0.15/dist/angular-storage.min.js"></script>

    {% compress js %}
    <script type="text/javascript" src="{% static 'js/app/messages/messages.module.js' %}"></script>
    {% endcompress %}

{% endblock %}

{% block body_attrs %}
  ng-app="messages"
{% endblock %}

{% block content %}

<div class="course messages messages-list">

    {% if in_admin %}
        {% include "_admin_header_inline.html" with course=course hide_editable_fields=True%}
    {% else %}
        {% include "_course-header-inline.html"  with course=course %}
    {% endif %}

    <!-- COURSE-CONTENT -->
    <ui-view></ui-view>
</div>
{% endblock %}
