{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block js %} {{block.super}}
<script type="text/javascript" src="{% static 'js/app/courses/courses.services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/profile/profile.module.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/profile/profile.controllers.js' %}"></script>
<script type="text/javascript" src="{% static 'js/app/profile/profile.services.js' %}"></script>
<script type="text/javascript" src="{% static 'js/factories/timtec-models.js' %}"></script>
{% endblock %}

{% block wrapper_classes %}
wrapper-course-lesson
{% endblock %}

{% block body_attrs %}
  ng-app="profile"
{% endblock %}

{% block content %}
<div class="profile page container-fluid" ng-controller="UserProfileController">
    <form class="form-horizontal"
        method="post"
        enctype="multipart/form-data"
        action="">
    {% csrf_token %}
        <fieldset>
            <legend class="page-header">
                <h2><i class="fa fa-angle-double-right"></i> <span translate>Profile</span></h2>
            </legend>

            <script type="text/javascript" charset="utf-8">
                $(document).ready(function() {
                        function onFileSelected(event) {
                            const imgtag = document.getElementById("profile-avatar");
                            const img = document.createElement("img");
                            const selectedFile = event.target.files[0];
                            const reader = new FileReader();

                            reader.onload = function(event) {
                                img.src = event.target.result;
                                const canvas = document.createElement("canvas");
                                let ctx = canvas.getContext("2d");

                                img.onload = () => {
                                    ctx.drawImage(img, 0, 0);
                                    const MAX_WIDTH = 400;
                                    const MAX_HEIGHT = 300;
                                    let width = img.width;
                                    let height = img.height;

                                    if (width > height) {
                                        if (width > MAX_WIDTH) {
                                            height *= MAX_WIDTH / width;
                                            width = MAX_WIDTH;
                                        }
                                    } else {
                                        if (height > MAX_HEIGHT) {
                                            width *= MAX_HEIGHT / height;
                                            height = MAX_HEIGHT;
                                        }
                                    }
                                    canvas.width = width;
                                    canvas.height = height;
                                    ctx = canvas.getContext("2d");
                                    ctx.drawImage(img, 0, 0, width, height);

                                    const dataurl = canvas.toDataURL("image/png");
                                    imgtag.style.backgroundImage = `url(${dataurl})`;
                                }
                            };
                        reader.readAsDataURL(selectedFile);
                    }

                    function onImgNotFound(event) {
                        $(this).attr('src', '{% static "img/avatar-default.png" %}')
                    }

                    $("#upload-avatar").change(onFileSelected);

                    $("#profile-avatar").error(onImgNotFound);
                });
            </script>
            <div class="row header-distance">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <label for="upload-avatar">
                        <div id="profile-avatar" class="profile-picture" style="background-image: url({{ form.instance.get_picture_url }});"></div>
                        <span class="btn btn-info btn-sm edit" translate>Change image</span>
                    </label>

                    <input type="file" name="image" id="upload-avatar" class="hidden"/>
                </div>

                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-8">
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-lg-2 control-label"><span translate>Full name</span></label>
                          <div class="col-xs-12 col-sm-9 col-lg-10 left{{ errors|yesno:" has-error,"}}">
                          {% with errors=form.name.errors %}
                            <input name="name" type="text" class="form-control" value="{{form.name.value|default_if_none:''}}">
                            {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                          {% endwith %}
                        </div>
                    </div>
                    {% with errors=form.occupation.errors %}
                    {% endwith %}

                    {% with errors=form.site.errors %}
                    {% endwith %}

                    {% with errors=form.biography.errors %}
                    <div class="form-group{{ errors|yesno:" has-error,"}}">
                        <label class="col-xs-12 col-sm-3 col-lg-2 control-label" translate>Biography</label>
                        <div class="col-xs-12 col-sm-9 col-lg-10">
                            <textarea ui-tinymce="tinymceOptions" ng-model="user_profile.biography" name="biography" class="form-control" rows="7">{{form.biography.value}}</textarea>
                            {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                        </div>
                    </div>
                    {% endwith %}
                    {% with errors=form.city.errors %}
                    <div class="form-group{{ errors|yesno:" has-error,"}}">
                        <label class="col-xs-12 col-sm-3 col-lg-2 control-label" translate>City</label>

                        <div class="col-xs-12 col-sm-9 col-lg-10">
                            {%verbatim%}
                            <input autocomplete="off" type="text" id="search-user" class="form-control" ng-model="cityName"
                                placeholder="{{'Inform your town of residence' | translate }}"
                                uib-typeahead="city as city.text for city in getCities($viewValue)"
                                typeahead-loading="loadingLocations"
                                typeahead-on-select="on_select_city($model)"
                                typeahead-min-length="2"
                                typeahead-wait-ms="500"
                                >

                            <i ng-show="loadingLocations" class="loading fa fa-refresh fa-spin"></i>
                            <input type="hidden" name="city" ng-value="user_profile.city">
                            {%endverbatim%}
                            {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                        </div>

                    </div>
                    {% endwith %}
                    {% with errors=form.gender.errors %}
                    <div class="form-group{{ errors|yesno:" has-error,"}}">
                        <label class="col-xs-12 col-sm-3 col-lg-2 control-label" translate>Gender</label>
                        <div class="col-xs-12 col-sm-9 col-lg-10">
                            {{ form.gender }}
                            {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                        </div>
                    </div>
                    {% endwith %}
                    {% with errors=form.race.errors %}
                    <div class="form-group{{ errors|yesno:" has-error,"}}">
                        <label class="col-xs-12 col-sm-3 col-lg-2 control-label" translate>Ethnicity</label>
                        <div class="col-xs-12 col-sm-9 col-lg-10">
                            {{ form.race }}
                            {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                        </div>
                    </div>
                    {% endwith %}
                    {% with errors=form.birth_date.errors %}
                    <div class="form-group {{ errors|yesno:" has-error,"}}">
                        <label class="col-xs-12 col-sm-3 col-lg-2 control-label" translate>Birth date</label>
                        <div class="col-xs-12 col-sm-9 col-lg-10">
                            <input class="form-control" type="date" name="birth_date" ng-value="user_profile.birth_date">
                        </div>

                    </div>
                    {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                    {% endwith %}
                    {% with errors=form.phone_number.errors %}
                    <div class="form-group{{ errors|yesno:" has-error,"}}">
                        <label class="col-xs-12 col-sm-3 col-lg-2 control-label" translate>Cellphone</label>
                        <div class="col-xs-12 col-sm-9 col-lg-10">
                            <input name="phone_number" type="text"
                                onkeypress="return (event.charCode != 8 && event.charCode == 0 || (event.charCode >= 48 && event.charCode <= 57))"
                                class="form-control" value="{{form.phone_number.value|default_if_none:''}}">
                            {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                        </div>
                    </div>
                    {% endwith %}

                    {% with errors=form.facebook.errors %}
                    <div class="form-group{{ errors|yesno:" has-error,"}}">
                        <label class="col-xs-12 col-sm-3 col-lg-2 control-label">Facebook</label>
                        <div class="col-xs-12 col-sm-9 col-lg-10">
                            <input name="social_facebook" type="text" class="form-control" value="{{form.social_facebook.value|default_if_none:''}}"
                            {%verbatim%}placeholder="{{'Profile link' | translate}}"{%endverbatim%}>
                            {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                        </div>
                    </div>
                    {% endwith %}

                    {% with errors=form.social_twitter.errors %}
                    <div class="form-group{{ errors|yesno:" has-error,"}}">
                        <label class="col-xs-12 col-sm-3 col-lg-2 control-label">Twitter</label>
                        <div class="col-xs-12 col-sm-9 col-lg-10">
                            <input name="social_twitter" type="text" class="form-control" value="{{form.social_twitter.value|default_if_none:''}}"
                            {%verbatim%}placeholder="{{'Profile link' | translate}}"{%endverbatim%}>
                            {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                        </div>
                    </div>
                    {% endwith %}

                    {% with errors=form.social_instagram.errors %}
                    <div class="form-group{{ errors|yesno:" has-error,"}}">
                        <label class="col-xs-12 col-sm-3 col-lg-2 control-label">Instagram</label>
                        <div class="col-xs-12 col-sm-9 col-lg-10">
                            <input name="social_instagram" type="text" class="form-control" value="{{form.social_instagram.value|default_if_none:''}}"
                            {%verbatim%}placeholder="{{'Profile link' | translate}}"{%endverbatim%}>
                            {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                        </div>
                    </div>
                    {% endwith %}

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-3 col-lg-2 control-label"><span translate>Preferred language</span></label>
                        <div class="col-xs-12 col-sm-9 col-lg-10 left{{ errors|yesno:" has-error,"}}">
                            {% with errors=form.preferred_language.errors %}
                                {%verbatim%}
                                    <select name="preferred_language" class="form-control" id="preferred_language_id">
                                        <option ng-repeat="option in language_options track by option.id"
                                            ng-value="option.id" ng-selected="user_profile.preferred_language===option.id">
                                            {{ option.name }}
                                        </option>
                                    </select>
                                {% endverbatim %}
                            {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                          {% endwith %}
                        </div>
                    </div>

                    {% with errors=form.living_area.errors %}
                    <div class="form-group{{ errors|yesno:" has-error,"}}">
                        <label class="col-xs-12 col-sm-3 col-lg-2 control-label" translate>Living area</label>
                        <div class="col-xs-12 col-sm-9 col-lg-10">
                            {{ form.living_area }}
                            {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                        </div>
                    </div>
                    {% endwith %}


                </div>
            </div>
        </fieldset>
        <fieldset class="account-settings">
            <legend class="page-header">
                <h2><i class="fa fa-angle-double-right"></i> <span translate>Account settings</span></h2>
            </legend>
            <div class="header-distance">
              {% with errors=form.username.errors %}
              <div class="form-group{{ errors|yesno:" has-error,"}}">
                  <label class="col-xs-12 col-sm-3 col-lg-2 control-label" translate>Username</label>
                  <div class="col-xs-12 col-sm-9 col-lg-10">
                      <input readonly name="username" type="text" class="form-control" value="{{form.username.value}}">
                      {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                  </div>
              </div>
              {% endwith %}

              {% with errors=form.email.errors %}
              <div class="form-group{{ errors|yesno:" has-error,"}}">
                  <label class="col-xs-12 col-sm-3 col-lg-2 control-label">E-mail</label>
                  <div class="col-xs-12 col-sm-9 col-lg-10">
                      <input name="email" type="e-mail" class="form-control" placeholder="Ex: email@email.com" value="{{form.email.value}}" required {% if errors %} autofocus {% endif %}>
                      {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                  </div>
              </div>
              {% endwith %}

              {% with errors=form.password2.errors %}
              <div class="form-group{{ errors|yesno:" has-error,"}}">
                  <label class="col-xs-12 col-sm-3 col-lg-2 control-label" translate>Password</label>
                  <div class="col-xs-12 col-sm-9 col-lg-10">
                      <div class="row">
                          <div class="col-xs-6 left">
                              <input name="password1" type="password" class="form-control" autocomplete="new-password"
                              {%verbatim%}placeholder="{{'New password' | translate}}"{%endverbatim%}
                              {% if errors %} autofocus {% endif %}>
                          </div>
                          <div class="col-xs-6 right">
                              <input name="password2" type="password" class="form-control" autocomplete="off"
                              {%verbatim%}placeholder="{{'Repeat new password' | translate}}"{%endverbatim%}>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-xs-12">
                              {% for error in errors %}<small class="warning-mark">{{error}}</small>{% endfor %}
                          </div>
                      </div>
                  </div>
              </div>
              {% endwith %}
          </div>
          <div class="divider"></div>
          <div style="text-align: center;">
            <button type="submit" class="btn-large"
              onclick="return confirm('You confirm the change to the user: {{ form.username.value }}?')">
              <strong translate>Save</strong>
            </button>
          </div>

        </fieldset>
    </form>
</div>
{% endblock %}
