// Variables
// --------------------------------------------------
// Override Boostrap's variables

//== Typography

$font-family-sans-serif: "Museo Sans Rounded 500", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//** By default, this inherits from the `<body>`.
$headings-font-family: "Museo Sans Rounded 900", $font-family-sans-serif !default;

//== Iconography
//
//## Specify custom location and filename of the included FontAwesome icon font. Useful for those including Bootstrap via Bower.

//** Load fonts from this directory.
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts" !default; // for referencing Bootstrap CDN font files directly

//** File name for all font files.
$icon-font-name: "fontawesome-webfont" !default;
//** Element ID within SVG icon file.
$icon-font-svg-id: "fontawesomeregular" !default;

//== Scaffolding
//
//## Settings for some of the most global styles.

$link-hover-decoration: none !default;

// Declare specifc project variables
// --------------------------------------------------

//== Specific component colors
//
//** Site header background color
$site-header-bg-color: #fff !default;

//** Main navigation background color
$main-nav-bg-color: #aaa !default;

//** Main navigation scroll background color
$main-nav-scroll-color: #711e3e !default;
$main-nav-scroll-bg-color: #b9748f !default;

//** User info background color
$user-info-bg-color: $main-nav-bg-color !default;

//== Icons

//** Set icon's font family
$icon-font-family: "FontAwesome";

//** Map icon names to font unicode characters
$icons: (
    add: "\f055",
    angle-right: "\f105",
    attention: "\f06a",
    backward: "\f04a",
    bar-chart: "\f080",
    briefcase: "\f0b1",
    calendar: "\f073",
    caret-down: "\f0d7",
    caret-up: "\f0d8",
    certificate: "\f0a3",
    chapters: "\f02d",
    chat: "\f27a",
    chevron-down: "\f078",
    chevron-left: "\f053",
    chevron-right: "\f054",
    chevron-up: "\f077",
    checked: "\f058",
    checkmark: "\f00c",
    compress: "\f066",
    courses: "\f12e",
    delete: "\f057",
    discussion: "\f086",
    download: "\f019",
    edit: "\f044",
    eye: "\f06e",
    expand: "\f065",
    file: "\f016",
    film: "\f008",
    filter: "\f0b0",
    forum: "\f10d",
    forward: "\f04e",
    help: "\f059",
    home: "\f015",
    goback: "\f053",
    group: "\f0c0",
    like: "\f004",
    link: "\f0c1",
    lightbulb: "\f0eb",
    list: "\f00b",
    login: "\f090",
    logout: "\f08b",
    materials: "\f15c",
    messages: "\f0a1",
    map-pin: "\f041",
    new-topic: "\f055",
    notes: "\f14b",
    notifications: "\f06a",
    occupation: "\f0b1",
    profile: "\f007",
    record: "\f0ea",
    register: "\f055",
    reply: "\f112",
    repositories: "\f07b",
    schedule: "\f0eb",
    search: "\f002",
    site: "\f0ac",
    sort: "\f0dc",
    stats: "\f012",
    students: "\f19d",
    times: "\f00d",
    thumbnail: "\f03e",
    tools: "\f013",
    trash: "\f1f8",
    undo: "\f0e2",
    use: "\f0c9",
    video: "\f008",
    comments: "\f086",
    arrow-left: "\f060",
    arrow-right: "\f061",
    ellipsis-v: "\f142",
    cog: "\f013",
    info-circle: "\f05a",
    envelope: "\f0e0",
    language: "\f1ab",
    bell: "\f0a2",
    bell-o: "\f0f3",
    bullhorn: "\f0a1",
    tag: "\f02b",
    clock: "\f017",
    question-circle: "\f059",
    pencil: "\f040",
    comment: "\f075",
);

//== Typography
//
//## Font weight variables

$lighter: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
