// Buttons and labels
// --------------------------------------------------

// used on forum's page

.action {
    &.liked {
        &.active {
            color: $red;
            &:before {
                color: $red;
            }
        }
    }
    &.used {
        &.active {
            color: $green;
            &:before {
                color: $green;
            }
        }
    }
    &.replies {
        &.active {
            color: $red;
            &:before {
                color: $red;
            }
        }
    }
}

a.action {
    &.liked {
        color: $gray;
        &:hover {
            color: $gray;
        }
        span {
            @include link-hover($gray,$gray,transparent,$gray);
        }
        &.active {
            span {
                @include link-hover($gray,$gray,transparent,$gray);
            }
        }
    }
    &.used {
        color: $gray;
        &:hover {
            color: $gray;
        }
        span {
            @include link-hover($gray,$gray,transparent,$gray);
        }
        &.active {
            span {
                @include link-hover($gray,$gray,transparent,$gray);
            }
        }
    }
    &.replies {
        color: $gray;
        &:hover {
            color: $gray;
        }
        span {
            @include link-hover($gray,$gray,transparent,$gray);
        }
        &.active {
            span {
                @include link-hover($gray,$gray,transparent,$gray);
            }
        }
    }
    &.edit {
        color: $gray;
        &:hover {
            color: $red;
            cursor: pointer;
        }
        span {
            @include link-hover($gray,$red,transparent,$red);
        }
        &.active {
            span {
                @include link-hover($red,$red,transparent,$red);
            }
        }
    }
    &.delete {
      color: $red;
      &:hover {
          color: $red;
          cursor: pointer;
      }
      span {
          @include link-hover($red,$gray,transparent,$red);
      }
      &.active {
          span {
              @include link-hover($gray,$gray,transparent,$gray);
          }
      }
  }
}

.forum-list {
    .action {
        &.used {
            color: $red;
            &:before {
                color: $red;
            }
        }
        &.liked {
            color: $red-secondary;
        }
        &.replies {
            color: $gray;
        }
    }
}

%forum-tags, %forum-categories {
    border:0;
    color: $red;
}

a {
    &.category {
        @extend %icon-tag;
        @include button-hover($brand-primary,#fff,transparent,$brand-primary);
    }
    &.tag {
        @include button-hover($brand-primary,#fff,transparent,$brand-primary);
        @media screen and (max-width: $screen-sm-max) {
            display: none;
        }
    }
}

.new-thread {
    .form-control {
        .btn-default {
            @extend %forum-categories;
            @include button-hover($red,#fff,transparent,$red);
            border: 1px solid $red !important;

            .close {
                color: $red;
            }
        }
    }
}

.btn-secondary {
  @include button-hover(#fff,$brand-secondary,$brand-secondary,#fff);

  &.btn-inverse {
      @include button-hover($brand-secondary,#fff,#fff,$brand-secondary);
  }
}

.btn {
    &.attach {
        @include button-hover(#fff,#fff,$brand-primary,darken($brand-primary,10%));
    }
    &.attached {
        border-color: $blue !important;
        @include button-hover($blue,$blue,transparent,transparent);
    }
    &.reply {
        @include button-hover(#fff,#fff,$brand-primary,darken($brand-primary,10%));
    }
}

.comments-form {
    .btn.delete {
        margin-right: 10px;
        @include button-hover(#fff,#fff,$gray,darken($gray,10%));
    }
    .btn.delete-comment {
        @media screen and (max-width: 395px) {
            margin-right: 5px;
            margin-top: 5px;
        }
    }
}

// lesson's activities buttons

/* .course-activity {
    .btn-default {
        @extend %icon-angle-right;
        @include button-hover(#fff,#fff,$red,darken($red,10%));
        margin-left: 0;
    }
    .btn-info {
        @extend %icon-undo;
        @include button-hover(#fff,#fff,$green,darken($green,10%));
    }
    .btn:nth-child(3) {
        @extend %icon-checked;
    }
    .btn-success:last-child {
        @extend %icon-angle-right;
        @include button-hover(#fff,#fff,$green,darken($green,10%));
    }
} */
