.certificate-container {
    display: flex;
    flex-direction: column;
    font-family: $font-family-sans-serif;
    justify-content: space-evenly;

    .line {
        display: flex;
        height: 4px;
        margin: 0 auto;
        max-width: 620px;
        span {
            display: block;
            height: 4px;
            flex-grow: 1;
            &:first-child {
                background-color: $green;
            }
            &:nth-child(2) {
                background-color: $red;
            }
            &:last-child {
                background-color: $orange;
            }
        }
    }
    .certificate-header {
      align-items: flex-start;
      color: $brand-primary !important;
      display: flex;
      justify-content: center;

      i.fa {
        display: inline-block;
        font-size: 40px;
        margin-right: 15px;
      }
    }
    .certificate-title, .certificate-subtitle {
        margin: 0 auto;
        font-weight: bold;
        text-transform: uppercase;
    }
    .certificate-title {
        font-size: 20px;
        line-height: 1.2;
        @media screen and (min-width: $screen-sm-min) {
            font-size: 30px;
        }
    }
    .certificate-subtitle {
        font-size: 10px;
        line-height: 1.2;
        @media screen and (min-width: $screen-sm-min) {
            font-size: 20px;
        }
    }
    .certificate-course-name {
      border-bottom: 2px solid $brand-primary;
      color: $brand-secondary;
      font-size: 14px;
      padding-bottom: 10px;
      text-align: center;
      @media screen and (min-width: $screen-sm-min) {
        font-size: 30px;
        margin: 30px 100px;
      }
    }
    .certificate-info {
        color: $brand-tertiary;
        p {
            font-size: 14px;
            line-height: 1.3;
        }
        .student {
            margin: 10px 0;
            font-size: 20px;
            font-style: italic;
            @media screen and (min-width: $screen-sm-min) {
                font-size: 30px;
            }
        }
    }
    .coordinator-section {
        color: $brand-secondary;
        max-width: 290px;
        img {
          max-width: 100%;
        }
      }
      .certificate-signature {
        border-bottom: 1px solid $brand-tertiary;
        padding-bottom: 10px;
        width: 100%;
    }
    .certificate-logos {
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    .certificate-logo {
        img {
            max-height: 80px;
            max-width: 100%;
        }
    }
}

