body.logged .wrapper.chat iframe {
    border: none;
    height: calc(100vh - 80px);
    width: calc(100vw - 100px);
    margin-top: -30px;
}

@media(max-width: 1024px) {
    body.logged .wrapper.chat iframe {
        margin-top: 0px;
    }
}

@media(max-width: 768px) {
    body.logged .wrapper.chat iframe {
        height: calc(100vh - 60px);
        width: calc(100vw - 85px);
    }
}

@media(max-width: 479px) {
    body.logged .wrapper.chat iframe {
        width: 100vw;
    }
}
