// Flatpage styles
// --------------------------------------------------

.flatpage {
    max-width: 1050px;
    .text-help {
        padding: 15px;
        color: $gray;
        font-family: $font-family-sans-serif;
        font-weight: $bold;
    }
    .flatpage-edit-content {
        margin: 20px 20px 20px 0;
    }
    .flatpage-buttons {
        margin-right: 0px;
    }
    .content {
        padding: 10px;
        h1, h2, h3, h4, h5, h6 {
            color: inherit;
            font-family: $font-family-sans-serif;
            font-weight: $bold;
            margin: 30px 0 15px;
            &:first-child {
                margin-top: 0;
            }
        }
        h1 {
            font-size: 40px;
        }
        h2 {
            font-size: 36px;
        }
        h3 {
            font-size: 32px;
        }
        h4 {
            font-size: 28px;
        }
        h5 {
            font-size: 24px;
        }
        h6 {
            font-size: 20px;
        }
        p {
            font-size: $font-size-large;
            margin: 15px 0;
        }
        b, strong {
            color: $brand-tertiary;
        }
        img {
            float: right;
            margin: 0 0 20px 20px;
            max-width: 100%
        }

        h2, h3 {
            color: $brand-tertiary;
            font-family: $headings-font-family;
            font-weight: $bold;
        }
        h2 {
            font-size: 28px;
            margin: 0 0 20px 0;
            @media screen and (min-width: $screen-sm-min) {
                font-size: 38px;
            }
        }
        h3 {
            font-size: 22px;
            @media screen and (min-width: $screen-sm-min) {
              font-size: 32px;
          }
        }
    }
    .actions-buttons {
        padding-top: 10px;
        display: inline-block;
        padding-bottom: 10px;
    }
    .active-language {
        background-color: $brand-secondary;
    }
}

.logged {
    .flatpage {
        margin: 0 auto !important;
    }
}
