// Fonts
// --------------------------------------------------

//== Neuton

@font-face {
    font-family: 'neuton';
    src: url('../fonts/neuton/neuton-bold-webfont.woff') format('woff'),
         url('../fonts/neuton/neuton-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neuton';
    src: url('../fonts/neuton/neuton-extrabold-webfont.woff') format('woff'),
         url('../fonts/neuton/neuton-extrabold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

//== Ostrich Sans
@font-face {
  font-family: 'Museo Sans Rounded 900';
  font-weight: bold;
  src: url('../fonts/museo-sans/MuseoSansRounded-900.woff') format('woff'),
       url('../fonts/museo-sans/MuseoSansRounded-900.ttf') format('opentype');
}

@font-face {
     font-family: 'Museo Sans Rounded 700';
     src: url('../fonts/museo-sans/MuseoSansRounded-700.woff') format('woff'),
          url('../fonts/museo-sans/MuseoSansRounded-700.ttf') format('opentype');
}

@font-face {
     font-family: 'Museo Sans Rounded 500';
     src: url('../fonts/museo-sans/MuseoSansRounded-500.woff') format('woff'),
          url('../fonts/museo-sans/MuseoSansRounded-500.ttf') format('opentype');
}
