// Shared forums components
// --------------------------------------------------

.forums {
    .info {
        .thread-name {
            color: #333333 !important;
            @include link-hover($brand-primary,$brand-primary,transparent,$brand-primary);
        }
    }
}

.filters {
    .filters-header {
        color: white;
    }
    .category, .tag {
        @include button-hover($gray,$gray,#fff,$red);
    }
}

.forum-admin {
    margin-top: 30px;
    .row {
        padding: 10px;
    }
    &.forum-list {
        .actions {
            @media screen and (min-width: $screen-sm-min) {
                text-align: right;
            }
        }
        .row {
            span {
                line-height: 33px;
            }
            &:nth-child(even) {
                background-color: rgba(white, 0.3);
            }
        }
    }
    select {
        width: 100% !important;
    }
}