.generic-list {
    .generic-title {
        margin-bottom: 30px;
    }
    .generic-filters {
        padding: 10px;
    }
    table {
        th {
            color: $gray;
            font-size: $font-size-small;
            font-weight: $normal;
            padding: 0 15px 5px 0;
            &:last-child {
                padding-right: 0;
            }
        }
        td {
            padding: 0 15px 15px 0;
            vertical-align: top;
            &:first-child, &:nth-child(2) {
                width: 350px;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
}
.add-content {
    .active-language {
        background-color: $brand-secondary;
    }
    margin-top: 20px;
    margin-bottom: 20px;
    .help-text {
        color: #000;
        font-size: 12px;
        font-weight: $bold;
    }
    .text-select {
        margin-top: 20px;
    }
    .secondary-header {
        .unit {
            font-size: 18px;
            margin: 5px 5px 0 0;
        }
        .editable-text {
            width: 100%;
            input {
                font-size: 18px;
            }
        }
        @media screen and (min-width: $screen-sm-min) {
            .btn {
                float: right;
            }
        }
    }
}