// Homepage styles
// --------------------------------------------------

.site-header-login {
  margin-bottom: 30px;
  display: flex;
  background-color: red;
  @include transition(width 0.5s ease);
  background-image: url("../img/background_nav.png");
  background-repeat: repeat;
  height: 60px;
  width: 100%;
  z-index: 1010;

  @media screen and (min-width: $screen-xs-min) {
    height: 60px;
    background-color: $brand-secondary;
    background-image: None;
  }
  @media screen and (min-width: $screen-sm-min) {
    height: 80px;
    background-color: $brand-secondary;
    background-image: None;
  }
  .site-logo-login {
    width: 100%;
    text-align: center;
    img {
      width: 179px;
      margin-top: 10px;
    }
    @media screen and (min-width: $screen-xs-min) {
      img {
        width: 250px;
        margin-top: 8px;
      }
    }
    @media screen and (min-width: $screen-sm-min) {
      img {
        width: 350px;
        margin-top: 4px;
      }
    }
  }
}

.login-content {
  margin-top: 70px;
  @media screen and (min-width: $screen-xs-min) {
    margin-top: 150px;
  }
  .login-legend {
    text-align: center;
    max-width: 320px;
    margin: 0 auto;
    border-bottom: none;
  }
  .instruction-text {
    margin-bottom: 30px;
  }
  .back-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}

.rememberme {
  margin-top: 30px;
  label {
    max-width: 320px;
    color: black;
    span {
      margin-top: 10px;
    }
  }
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 24px;
    color: $brand-tertiary;
  }
  p {
    font-size: 12px;
    font-family: "Open Sans";
    color: $brand-tertiary;
    letter-spacing: 0;
    line-height: 19px;
    max-width: 280px;
    @media screen and (min-width: $screen-sm-min) {
      max-width: 653px;
    }
  }
  .button-distance {
    margin: 10px 0;
  }
  .register-container-button {
    margin: 25px 0 10px 0;
  }
  .btn-login-page {
    object-fit: fill;
    border-radius: 10px;
    background-size: 100%;
    padding: 10px 0 34px 0;
    background-position: center;
    background-repeat: no-repeat;

    @media screen and (min-width: $screen-sm-min) {
      padding: 15px 0 36px 0;
    }
    &.register {
      background-image: url("/static/img/background_login_button.png");
    }
    &.login {
      background: linear-gradient(225deg, #D4AF37 0%, #9A345C 100%);
    }
  }
  .terms {
    color: black;
    font-weight: normal;
    a {
      color: inherit;
      font-weight: bold;
    }
  }
  .login-register {
    margin-top: 20px;
    text-align: center;
    a {
      font-size: 14px;
      color: $brand-tertiary;
    }
  }
  .blocks {
    color: #fff;
    margin: 0 15px;
    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 15px;
    }
    h2 {
      font-size: 40px;
      font-weight: bold;
      margin: 0;
    }

    .btn {
      border-radius: 6px;
      font-size: $font-size-large;
      font-weight: $semi-bold;
    }

    .welcome {
      background-color: black;
      padding: 0;
      text-align: center;

      .video-wrapper {
        padding-top: 56.25%;
        position: relative;
        width: 100%;

        iframe {
          border: none;
          bottom: 0;
          height: 100%;
          left: 0;
          position: absolute;
          right: 0;
          top: 0;
          width: 100%;
        }
      }
    }

    .more-info {
      background-color: $brand-primary;
      color: white;
      flex-direction: column;
      text-align: center;

      p {
        margin: 30px;
        max-width: 270px;

        a {
          color: #fff;
          text-decoration: underline;
        }
      }

      .btn-more-info {
        @include button-hover(white, white, lighten($brand-primary, 10%), $brand-primary);
        width: 270px;
        transition: all 0.5s ease;
      }
    }

    .use {
      background-color: $brand-light;
      padding-bottom: 0;

      .call {
        color: $brand-tertiary;
        font-family: $headings-font-family;
        font-size: 24px;
      }

      h2 {
        color: $brand-primary;
      }

      img {
        max-width: 100%;
      }

      p {
        color: #333;
        margin: 15px 0 30px;
        strong {
          font-weight: $semi-bold;
        }
      }

      .flex-row {
        display: flex;
        align-items: flex-end;

        & > * {
          flex: 1;
        }

        & > :first-child {
          padding-right: 15px;
        }
      }
    }
  }
}

.contact-form {
  .submit {
    text-align: right;
    .btn {
      margin-left: 10px;
    }
    .btn.clean {
      margin-right: 0;
    }
  }
}
