.home-spa {
  position: relative;
  top: 60px;

  @media (min-width: 768px) {
    top: 80px;
  }

  &__hero {
    align-items: flex-end;
    background-image: url('../img/certificate-border.png');
    background-position: center;
    background-size: cover;
    display: flex;
    min-height: 35vh;
    padding: 60px 20px 100px;
    width: 100%;

    @media screen and (min-width: 500px) {
      padding-block: 60px;
    }

    @media screen and (min-width: 800px) {
      background-image: url('../img/banner-home.png');
      min-height: 50vh;
    }

    &-content {
      margin: auto;
      max-width: 100%;
      width: 1200px;
    }
  }

  &__intro {
    padding: 20px;

    h1 {
      color: $brand-secondary;
      margin-top: 0;
    }

    p {
      font-size: 18px;
    }

    a.btn {
      margin-top: 6px;
      text-transform: uppercase;
    }

    @media screen and (min-width: 800px) {
      background-color: hsla(0 ,0%, 100%, 0.75);
      backdrop-filter: blur(3px);
      border-radius: 20px;
      max-width: 600px;
      padding: 40px;
      width: 50%;
    }

    @media screen and (max-width: 799px) {

      h1 {
        color: rgba(white, 0.8);
      }

      p {
        color: white;
      }

      a.btn {
        background-color: $brand-secondary;
      }
    }
  }

  &__courses-wrapper, &__boxes {
    margin: 0 auto;
    width: 100%;
  }

  &__courses-wrapper {
    background-color: white;
    border-radius: 40px;
    margin-top: -60px;
    max-width: 1200px;
    padding: 40px;

    h2 {
      color: $brand-primary;
      text-transform: uppercase;
    }

    @media screen and (min-width: 500px) {
      padding: 0 20px;

      h2 {
        padding: 60px 40px 0;
      }
    }

    @media screen and (max-width: 590px) {

      h2 {
        text-align: center;
      }
    }
  }

  &__courses {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
    padding: 40px;

    @media screen and (min-width: 500px) {
      width: calc(100% - 20px);
    }

    @media screen and (max-width: 590px) {
      grid-gap: 32px;
    }
  }

  &__boxes {
    background-color: $brand-primary;
    background-image: url('../img/certificate-border.png');
    background-position: top left;
    background-size: cover;
    display: flex;
    gap: 20px;
    max-width: 1160px;
    padding: 40px;

    @media screen and (max-width: 978px) {
      flex-direction: column-reverse;
    }

    @media screen and (min-width: 1160px) {
      border-radius: 40px;
    }
  }

  &__login-box {
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    color: white;

    h2, p {
      text-shadow: 0 0 5px black;
    }

    p {
      font-size: 16px;
      margin: 1em 0;
      max-width: 360px;
    }

    .btn {
      font-size: 16px;
      margin-right: 10px;
      max-height: unset;
      padding: 8px 16px;
    }
  }

  &__video {
    flex: 1;

    iframe {
      aspect-ratio: 16 / 9;
      background-color: black;
      border-radius: 20px;
      height: 300px;

      @media screen and (max-width: 978px) {
        height: auto;
        width: 100%;
      }
    }
  }

  &__footer {
    border-top: 1px solid #979797;
    margin: 40px auto 20px;
    max-width: 1360px;
    padding: 10px;

    &-hivos {
      align-items: center;
      color: #333;
      display: flex;
      font-weight: bold;
      justify-content: center;
      text-align: center;

      img {
        height: 50px;
      }
    }

    &-logos {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      img {
        max-width: 100%;
        width: 360px;
      }
    }

    &-menu {

      h2 {
        color: $brand-primary;
        font-size: 20px;
        margin: 20px 0 10px;
        text-transform: uppercase;
      }

      ul {
        margin-bottom: 20px;
        padding: 0;
      }

      li {
        margin: 5px 0;
        list-style: none;
      }

      a {
        color: $brand-tertiary;
      }
    }

    &-social {

      .fa {
        color: $brand-tertiary;
        font-size: 20px;
        margin-left: 1ch;
      }
    }
  }
}
