#header-bahia {
  background: url("/static/img/header/bg-header-tematicos.jpg") repeat-x top
    #fff;

  @media screen and (max-width: 998px) {
    display: none;
  }

  #inst-bar {
    display: block;
    width: 998px;
    height: 46px;
    margin: 0 auto;
    background: url("/static/img/header/bg-controls-acessbar-tematicos.jpg")
      no-repeat left top;

    ul#inst-bar-opts {
      height: 29px;
      left: 50%;
      margin-left: -300px;
      padding: 0;
      position: absolute;
      top: 0;

      li {
        list-style: none;
      }

      li,
      li a {
        color: #d8ebf6;
        float: left;
        font-size: 11px;
        line-height: 29px;
      }

      li a {
        background: url("/static/img/header/bg-controls-border.png") no-repeat
          left center;
        padding: 0 10px;
      }

      li a:hover {
        color: #fff;
        text-decoration: none;
      }

      li#inst-bar-ba a {
        display: block;
        overflow: hidden;
        text-indent: -1000px;
        background: url("/static/img/header/OLD_brasao-bahia-106x36.png")
          no-repeat;
        position: absolute;
        top: 8px;
        left: 50%;
        margin-left: -331px;
        width: 91px;
        height: 42px;
      }

      li#inst-bar-opt-ba a {
        background: none;
      }
    }
  }
}

#portal {
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
  position: relative;
  top: -8px;

  .container {
    display: flex;
    padding: 0;

    a {
      align-items: center;
      display: flex;
      height: 56px;
      justify-content: center;

      &.link-preto {
        color: #333;
      }
    }

    & > a {
      flex: 1;
      height: 60px;
      justify-content: flex-start;

      h4 {
        color: #333;
        font-family: $font-family-sans-serif;
        font-size: inherit;
        padding-left: 10px;
      }
    }

    & > ul {
      display: flex;
      flex: 5;
      margin: 0;

      li {
        border-top-style: solid;
        border-top-width: 6px;
        flex: 1;
        height: 100%;
        margin: 0 3px;
      }
    }

    $portalColors: (
      "laranja": #ff992c,
      "verde": #00bb71,
      "vermelho": #e70019,
      "azul": #2860c1,
      "roxo": #940078,
    );

    @each $key, $value in $portalColors {
      .border-#{$key} {
        border-top-color: $value;
      }

      .hover-#{$key} {
        transition: all 0.5s ease;

        &:hover {
          background-color: $value;

          a {
            color: white;
          }
        }
      }
    }
  }
}

.non-logged-header {
  background-color: $btn-default-color;
  color: #333;
  font-size: 2.0vmax;
  position: relative;
  top: -8px;

  .collapse-site-nav {
    color: $gray-dark;
    font-size: 2.5vmax;
    font-weight: $semi-bold;
    position: absolute;
    text-align: center;
    z-index: 2000;
    top: 1vmax;

    &.site-nav-open {
      left: 1vmax;
    }
    &.site-nav-close {
      right: 1vmax;
    }
    i {
      display: block;
      font-size: 4.5vmax;
    }
  }

  .site-nav {
    @media screen and (max-width: $screen-xs-max) {
      background-color: #f6f6f6;
      bottom: 0;
      box-shadow: 2px 0 5px 0px rgba(0, 0, 0, 0.3);
      left: -36vmax;
      position: fixed;
      top: 0;
      width: 33vmax;
      z-index: 3000;
      transition: all 0.5s ease;
      &.opened {
        left: 0;
      }
      ul {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        list-style: none;
        margin-top: 11vmax;
        padding: 0;
        width: 100%;
        li {
          a {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            color: $gray-dark;
            display: block;
            font-weight: $semi-bold;
            font-size: 3vmax;
            font-weight: 600;
            padding: 2vmax;
            text-decoration: none;
          }
        }
      }
    }
    @media screen and (min-width: $screen-xs-min) {
      margin: 0px 60px 60px 0;
      overflow: hidden;
      padding-bottom: 2px;
      ul {
        float: right;
        list-style: none;
        margin-bottom: 2px;
        padding: 0;
        li {
          display: inline-block;
          margin-right: 42px;
          &:last-child {
            margin-right: 0;
          }
        }
        a {
          font-size: $font-size-large;
          font-weight: $semi-bold;
          @include link-hover($gray, $gray, transparent, $gray);
          border-bottom-width: 2px !important;
        }
      }
    }
  }
  .container {
    display: flex;
    padding: 0;

    a {
      align-items: center;
      display: flex;
      height: 56px;
      justify-content: center;
      font-weight: $bold;

      &.link-preto {
        color: #333;
      }
    }

    & > a {
      flex: 1;
      height: 60px;
      justify-content: flex-start;

      h2 {
        color: $gray;
        font-family: $font-family-sans-serif;
        font-size: inherit;
      }
    }

    & > ul {
      display: flex;
      flex: 5;
      margin: 0;

      li {
        flex: 1;
        height: 100%;
        margin: 0 3px;
        &:hover {
          background-color: $gray;
          a {
            color: white;
          }
        }
      }
    }
  }
  @media (max-width: $screen-xs) {
    font-size: 15px;
  }

  @media (max-width: $screen-lg) {
    font-size: 12px;
  }

  @media (max-width: $screen-sm-min) {
    font-size: 3vw;
  }
}
