// Notes' pages
// --------------------------------------------------

.my-notes.page {
    @include card($brand-light);
}

.notes {
    .hide-note {
        background-color: gray;
    }
    .header {
        .btn {
            margin-top: -5px;
        }
        .btn-primary {
            background: $blue;
            &:hover {
                background: darken($blue,10%);
            }
        }
        .btn-info {
            background: $red;
            &:hover {
                background: darken($red,10%);
            }
        }
    }
    .btn-danger {
        background-color: #B4211D;
        color: white;
    }
    .btn-edit {
        background-color: #888888;
        color: white;
    }
    .lesson-title {
        color: $brand-tertiary;
    }
    .notes-list {
        border-color: $brand-primary;
        background-color: white;
    }
}
