.forums {
    .pagination {
        > li {
            > a, > span {
                color: #fff;
                background-color: $brand-secondary;
            }
        }
        > li > a,
        > li > span {
            &:hover, &:focus {
                color: #fff;
                background-color: darken($brand-primary,10%);;
            }
        }
        > .active > a,
        > .active > span {
            &, &:hover, &:focus {
                color: #fff;
                background-color: $brand-primary;
            }
        }
        > .disabled {
            > span, > span:hover, > span:focus, > a, > a:hover, > a:focus {
                color: #fff;
                background-color: rgba($brand-secondary,0.8);
            }
        }
    }
}