// Profile's pages
// --------------------------------------------------

.profile.page {
    @include card($brand-light);

    .profile-info {
        a {
            @include link-hover($orange,$orange,$orange,transparent);
        }
    }
    .divider {
        margin: 20px 0;
        box-sizing: border-box;
        width: 100%;
        border: 1px solid #0A854A;
    }
    .warning-mark {
        color: red;
    }
}
