// Site header styles for unlogged users
// --------------------------------------------------

@import './institutional-headers';

.site-header {
    @include transition(width 0.5s ease);
    background-image: url("../img/background_nav.png");
    background-repeat: repeat;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 1010;

    @media screen and (min-width: $screen-xs-min) {
        height: 60px;
        background-color: $brand-secondary;
        background-image: None;
    }
    @media screen and (min-width: $screen-sm-min) {
        height: 80px;
        background-color: $brand-secondary;
        background-image: None;
    }
}


.notifications-panel {
    &:before {
        border-bottom-color: $brand-primary;
    }
    .notifications-list {
        .notifications-item {
            border-bottom: 1px solid rgba($brand-primary,0.3);
            &.not-read {
                background-color: rgba($brand-primary,0.15);
            }
        }
    }
    .see-more {
        color: $brand-primary;
    }
}
