// Globals
// --------------------------------------------------

//## Set shared styles for all pages
//##

html {
    height: 100%;
    min-height: 100%;
}

body {
    &.logged {
        background-color: white;
        height: 100%;
        min-height: 100%;

        // wrap the whole content of the site to prevent overflow on mobile devices
        .site-wrapper {
            overflow: hidden;
            position: relative;
            min-height: 100%;
            width: 100%;
            .site-logo a {
                position: absolute;
                left: 25%;
                width: 50%;
            }
        }
        // content wrapper
        .wrapper {
            position: relative;
            bottom: 0;
            left: 0;
            right: 0;
            margin-top: 60px;
            @include transition(all 0.5s ease);
            @media screen and (min-width: $screen-xs-min) {
                left: 85px;
                padding-right: 85px;
            }
            @media screen and (min-width: $screen-sm-min) {
                left: 120px;
                padding-bottom: 85px;
                padding-right: 100px;
                margin-top: 80px;
            }
            @media screen and (min-width: $screen-md-min) {
                padding-bottom: 110px;
            }
            @media screen and (min-width: 1025px) {
                margin-top: 110px;
            }
            &[data-ui-view="home"] {
                margin-top: 0 !important;
            }
        }
        .container-fluid {
            max-width: 1050px;
        }
    }

    // when the main navbar is opened
    .main-nav-opened {
        .wrapper {
            left: 245px;
            @media screen and (min-width: $screen-md-min) {
                padding-right: 245px;
            }
        }
    }
}

//## Fix chat's iframe position
#chat-frame {
    position: absolute;
}

//## Set shared styles for all pages
//##
.page {
    @include card($brand-light);
}

//## Minor layout adjusts on form controls styles
//##
.form-control {
    //box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    border: 1px solid #DDDDDD;
    box-sizing: border-box;

    &:active, &:hover, &:focus {
        //box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
    }
}

// ng-cloak styles: https://docs.angularjs.org/api/ng/directive/ngCloak
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add  {
    transition: all linear 0.2s;
}

.animate-show-hide.ng-hide-remove {
    transition: all ease 0.7s 0.3s;
}
